{% extends 'base.html' %}
{% load i18n %}

{% block content %}

  <div class="page-body ui container" id="register-page">
    <div class="row">
      <div class="twelve columns">
        <h1>{% trans 'Complete Signup' %}</h1>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p>{% trans 'By email and password' %}</p>
      </div>
    </div>

    <div class="row">

      <form id="signup-form" method="POST" action="">
        {% csrf_token %}
        <div class="row">
          <label class="help-inline" for="id_email">{% trans 'Email' %}</label>
          <input type="text" name="email" id="id_email" value="{{ email|default:"" }}">
        </div>
          
        <div class="row">
          <label class="help-inline" for="id_password">{% trans 'Password' %}</label>
          <input type="password" name="password" id="id_password">
        </div>

        <div class="row save-wrapper">
          <input type="hidden" name="next" value="{{ next }}">
          <button type="submit" class="save-btn">{% trans 'Signup' %}</button>
        </div>
      </form>

    </div>
  </div>
{% endblock %}
