{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="page-body ui container login-confirm" id="register-page">
  {% if user.is_authenticated %}
    {% if messages %}
      <div class="row messages" style="margin-top:40px;">
        <ul class="twelve columns">
        {% for message in messages %}
        <li style="list-style:none; color: red;" data-alert class="alert-box {% if message.extra_tags %}{{ message.extra_tags }}{% else %}success{% endif %}">
            {{ message }}
          </div>
        {% endfor %}
        </li>
      </ul>
    {% else %}
      <div class="row">
        <div class="twelve column">
          <h1>{% trans 'You already logged in' %}</h1>
        </div>
      </div>
    {% endif %}

  {% else %}

    <div class="row">
      <div class="twelve columns">
        <h1>{% trans 'Login' %}</h1>
      </div>
    </div>

    <div class="row social-buttons">
      <div class="one-half column">
        <div class="fb-button u-pull-right">
          <a class="button" href="{% url "social:begin" "facebook" %}">
            <i class="spritesheet sprite-ico-white-facebook"></i>
            <span class="hide-for-small">&nbsp;{% trans 'Facebook' %}</span>
          </a>
        </div>
      </div>
      <div class="one-half column">
        <div class="vk-button u-pull-left">
          <a class="button" href="{% url "social:begin" "vk-oauth2" %}">
            <i class="spritesheet sprite-ico-white-vkontakte"></i>
            <span class="hide-for-small">&nbsp;{% trans 'Vkontakte' %}</span>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <p>{% trans 'By email and password' %}</p>
      </div>
    </div>

    <div class="row">
      <form class="register-form" action="" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="row">
          {{ form.username|attr:"placeholder:Имя или email" }}
          {{ form.username.errors }}
        </div>
        <div class="row">
          {{ form.password|attr:"placeholder:Пароль" }}
          {{ form.password.errors }}
        </div>

        <div class="row">
          <input type="submit" class="button" value="{% trans 'Login' %}">
        </div>

        <div class="row">
          <a href="{% url 'registration_register' %}">{% trans 'Signup' %}</a>
        </div>
      </form>
    </div>
  {% endif %}

</div>

{% endblock %}
