{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-body ui container" id="register-page">
  <div class="row">
    <div class="twelve columns">
      <h1>{% trans 'Goodbye! Come again.' %}</h1>
    </div>
  </div>
</div>
{% endblock %}
