{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="page-body ui container password-change" id="register-page">
  <div class="row">
    <div class="twelve columns">
      <h1>{% trans 'Reset password' %}</h1>
    </div>
  </div>

  <div class="row">
    <form class="register-form" action="" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="row">
        <input id="id_email" maxlength="254" name="email" placeholder="{% trans 'Your email' %}" type="email" required="">
        {{ form.email.errors }}
      </div>
      <div class="row">
        <input value="{% trans 'Send' %}" type="submit" class="button">
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
