{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="page-body ui container password-change" id="register-page">
  <div class="row">
    <div class="twelve columns">
      <h2>{% trans 'Change password' %}</h2>
    </div>
  </div>

  <div class="row">
    <form class="register-form" action="" method="POST">
        {% csrf_token %}    
        {{ form.non_field_errors }}
      <div class="row">
        <input autofocus="" id="id_old_password" name="old_password" placeholder="{% trans 'Old password' %}" type="password" required="">
        {{ form.old_password.errors }}
      </div>
      <div class="row">
        <input id="id_new_password1" name="new_password1" placeholder="{% trans 'New password' %}" type="password" required="">
        {{ form.new_password1.errors }}
      </div>
      <div class="row">
        <input id="id_new_password2" name="new_password2" placeholder="{% trans 'Confirm new password' %}" type="password" required="">
        {{ form.new_password2.errors }}
      </div>

        <input class="button" value="{% trans 'Submit' %}" type="submit">
        <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>
{% endblock %}
