{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-body ui container password-reset-complete" id="register-page">
  <div class="row">
    <div class="twelve columns">
      <h2>{% trans 'Password updated' %}</h2>
    </div>
  </div>
</div>
{% endblock %}
