{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-body ui container password-reset-complete" id="register-page">
  <div class="row">
    <div class="twelve columns">
      <h1>{% trans 'Password was reset' %}</h1>
      <p>{% trans 'Check your mail for getting new password.' %}</p>
    </div>
  </div>
</div>
{% endblock %}
