{% extends "base.html" %}
{% load i18n %}


{% block content %}
<div class="page-body ui container password-change-done" id="register-page">
  <div class="row">
    <div class="twelve columns">
      <h2>{% trans 'Password was changed.' %}</h2>
    </div>
  </div>
</div>
{% endblock %}
