{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="page-body ui container register-confirm" id="register-page">
  <div class="row">
    <div class="twelve columns">
      <h1>{% trans 'Signup' %}</h1>
    </div>
  </div>

  <div class="row social-buttons">
    <div class="one-half column fb-button">
      <a class="button u-pull-right" href="{% url "social:begin" "facebook" %}">
        <i class="spritesheet sprite-ico-white-facebook"></i>
        {% trans 'Facebook' %}
      </a>
    </div>
    <div class="one-half column vk-button">
      <a class="button u-pull-left" href="{% url "social:begin" "vk-oauth2" %}">
        <i class="spritesheet sprite-ico-white-vkontakte"></i>
        {% trans 'Vkontakte' %}
      </a>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <p>{% trans 'By email and password' %}</p>
    </div>
  </div>

  <div class="row">
    <form class="register-form" action="" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="row">
        {{ form.first_name|attr:"placeholder:Имя" }}
        {{ form.first_name.errors }}
      </div>
      <div class="row">
        {{ form.email|attr:"placeholder:Эл. почта" }}
        {{ form.email.errors }}
      </div>
      <div class="row">
        {{ form.password1|attr:"placeholder:Пароль" }}
        {{ form.password1.errors }}
      </div>
      <div class="row">
        <label for="id_business_account" class="button">
          <input id="id_business_account" type="radio" value="true" name="business_account">
          {% trans 'Business' %}
        </label>
        <label for="id_personal_account" class="button">
          <input checked id="id_personal_account" type="radio" value="false" name="business_account">
          {% trans 'Personal' %}
        </label>
      </div>

      <div class="row"><br></div>

      <div class="row">
        <input type="submit" class="button" value="{% trans 'Sign up' %}">
      </div>

      <div class="row">
        <a href="{% url 'auth_login' %}">{% trans 'I am already registered' %}</a>
      </div>
    </form>
  </div>

</div>

{% endblock %}
