{% load i18n %}

<div class="container">
  <div class="row">
    <div class="four columns">
      <ul>
        <li>
          <a href="/about/" class="caption-link">{% trans 'What is WhatWhere?' %}</a>
        </li>
        <li>
          <a href="/organizers/" class="caption-link">{% trans 'Organizers' %}</a>
        </li>
        <li>
          <a href="/help/" class="caption-link">{% trans 'Help' %}</a>
        </li>
        <li>
          <a class="caption-link" target="_blank" rel="nofollow" href="/static/docs/terms.where.world.{{ LANGUAGE_CODE }}.pdf">{% trans 'Terms of use' %}</a>
        </li>
        <!--
        <li class="invisible">
          <a href="/partners/" class="caption-link">{% trans 'Partners' %}</a>
        </li>
        <li class="invisible">
          <a href="/contacts/" class="caption-link">{% trans 'Contacts' %}</a>
        </li>
        -->
      </ul>
    </div>

    <div class="four columns">
      <p class="caption">{% trans 'footer_slogan_description' %}</p>

      <p class="caption">
        <a rel="nofollow" class="caption-link" href="mailto:hello@whatwhere.world">{% trans 'Become a partner' %}</a>
        <span> WhatWhere {% trans 'in your city' %}.</span>
      </p>
      <!--
      <div class="social-links invisible">
        <a
          target="_blank" href="#">
          <i class="spritesheet sprite-ico-grey-facebook"></i>
        </a>
        <a
          target="_blank" href="#">
          <i class="sprite sprite-ico-vkontakte"></i>
        </a>
        <a
          target="_blank" href="#">
          <i class="sprite sprite-ico-twitter"></i>
        </a>

        <a class="logo" target="_blank" href="#">
          <i class="spritesheet sprite-logo-grey-stat"></i>
        </a>
      </div>
      -->
    </div>

    <div class="four columns">
      <p class="caption">&copy; {% now 'Y' %} WhatWhere.world</p>
      <p class="tips">{% trans 'footer_slogan_tips' %}</p>
      <p class="invisible">
        <a rel="nofollow" href="#" class="caption">{% trans 'Terms and Privacy' %}</a>
      </p>
      <!--
      <p class="cities">
        {% for city in cities %}
        <a class="caption-link" href="#{{ city.name }}">{{ city.alt_name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      -->
      <form class="u-cf dropdown-holder" id="lang-switcher" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <i class="spritesheet sprite-ico-grey-dropdown"></i>
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select onchange="$(this).parent().submit();" name="language">
          {% get_current_language as LANGUAGE_CODE %}
          {% get_available_languages as LANGUAGES %}
          {% get_language_info_list for LANGUAGES as languages %}
          {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
          {% endfor %}
        </select>
      </form>

    </div>
  </div>
  <hr>

  <div class="row">
    <div class="four columns">
      <p class="caption">
        {% trans 'footer_try_mobile' %}
        <a target="blank" rel="nofollow" class="caption-link" href="https://play.google.com/store/apps/developer?id=WhatWhere">Google play</a>
      </p>
    </div>
    <div class="four columns">
      <span class="mobile-title">{% trans 'Moscow walk' %}</span>
      <a target="_blank" title="Moscow walk" rel="nofollow" class="mobile-links" href="https://play.google.com/store/apps/details?id=whatwhere.moscow.afisha.sobytiya.ekskursii">
        <img alt="google play" src="/static/images/google-play-badge.{{ LANGUAGE_CODE }}.png">
      </a>
    </div>
    <div class="four columns">
      <span class="mobile-title">{% trans 'Moscow festival' %}</span>
      <a target="_blank" title="Moscow festival" rel="nofollow" class="mobile-links" href="https://play.google.com/store/apps/details?id=whatwhere.moscow.afisha.sobytiya.festival">
        <img alt="google play" src="/static/images/google-play-badge.{{ LANGUAGE_CODE }}.png">
      </a>
    </div>
  </div>
</div>
