{% load i18n app_tags %}

<div class="container top-bar">
  <div class="row">
    <div class="logo-holder col">
      <a href="/">
        <span class="logo spritesheet sprite-logo-colored-ww">WW</span>
      </a>
    </div>

    <div class="search-icon-holder show-for-small-only">
      <a onclick="$('#header-search-form').toggleClass('opened').parent().toggleClass('hide-for-small');return false;" href="#header-search-form">
        <span class="logo spritesheet sprite-ico-colored-search"></span>
        <span class="logo help-text">{% trans 'search_header' %}</span>
      </a>
    </div>

    <div class="slogan-holder col hide-for-small">
      <div class="slogan-text">WhatWhere.World &mdash; {% trans 'slogan_header' %}</div>
    </div>

    <div class="buttons-holder col">
      <div class="u-pull-right">
        <div class="item">
          {% if user.is_authenticated %}
            <a rel="nofollow" href="{% url 'profile-detail' user.id %}" class="item username hide-for-small">
              <img class="profile-headshot" src="{{ request.user.headshot.crop.32x32 }}">{{ user.first_name }}
            </a>
            <a rel="nofollow" href="{% url 'auth_logout' %}" class="item hide-for-small">{% trans 'Logout' %}</a>
          {% else %}
              <a rel="nofollow" href="{% url 'auth_login' %}" class="item hide hide-for-small">{% trans 'Login' %}</a>
              <a rel="nofollow" href="{% url 'registration_register' %}" class="item item-signup hide hide-for-small">{% trans 'Signup' %}</a>
          {% endif %}
        </div>
        <form class="u-cf dropdown-holder lang-switch-form" action="{% url 'set_language' %}" method="post">
          {% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}" />
          <i class="spritesheet sprite-ico-grey-dropdown"></i>
          <select class="lang-switch" onchange="$(this).parent().submit();" name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
              <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.code|upper }}
              </option>
            {% endfor %}
          </select>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="search-holder col hide-for-small" id="search-widget">
      {% if searchform %}
        <form class="search-form mobile" action="/search/" method="get" id="header-search-form">
          <!-- Text input -->
          <div class="search-form-element-holder search-text-holder autocomplete-input mobile-search">
            <input name="q" type="text" placeholder="{% trans 'What event are you looking for?' %}" id="search-text" autocomplete="off" value="{{ search_query|default:'' }}">
          </div>

          <!-- City input -->
          <div class="search-form-element-holder search-city-holder autocomplete-input mobile-search">
            <input name="name" type="text" placeholder="{% trans 'In what city?' %}" id="search-city" autocomplete="off" value="{{ city_name|default:'' }}" style="padding: 15px 10px;">
            <input name="lat" type="hidden" value="{{ lat|default:'' }}">
            <input name="lng" type="hidden" value="{{ lng|default:'' }}">
          </div>

          <!-- Start date input -->

          <div class="search-form-element-holder mobile-search">
            <div class="search-form-element-holder search-start-date-holder">
              <span id="search-start-date-display"></span>
              <input data-start="{{ start_date }}" value="{{ start_date|str_to_date|date:'d.m.Y' }}" name="start" type="text" placeholder="{% trans 'Start date' %}" id="search-start-date">
            </div>

            <!-- End date input -->
            <div class="search-form-element-holder search-end-date-holder">
              <span id="search-end-date-display"></span>
              <input data-end="{{ end_date }}" value="{{ end_date|str_to_date|date:'d.m.Y' }}" name="end" type="text" placeholder="{% trans 'End date' %}" id="search-end-date">
            </div>
          </div>

          <!-- Submit button -->
          <div class="search-form-element-holder search-submit-button-holder mobile-search">
            <button class="button search-submit u-full-width" type="submit">
              <i class="spritesheet sprite-ico-search"></i>&nbsp;
              {% trans 'Search' %}
            </button>
          </div>
        </form>

      {% else %}
        &nbsp;
      {% endif %}
    </div>

  </div>
</div>
