{% load i18n seo_tags %}

<div class="row subheader">
    <div class="container" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% if category or city %}
          <div class="col">
            <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
              <a class="go-to-last-page-button" href="/" itemprop="item">
                <span itemprop="name" class="caption">{% trans 'Mainpage' %}</span>
                <meta itemprop="position" content="1">
              </a>
            </span>

            {% if city %}
              <span class="separator"> / </span>
              <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                <a class="go-to-last-page-button" href="{% url 'city-detail' city.slug %}" title="{% trans 'city' %}" itemprop="item">
                  <span itemprop="name" class="caption">{{ alt_name.name|default:city.name }}</span>
                <meta itemprop="position" content="2">
                </a>
              </span>
            {% endif %}

            {% if category.parent %}
              {% if city %}
                <span class="separator"> / </span>
                <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="go-to-last-page-button" href="{% url 'city-category-detail' city.slug|get_city_name category.parent.slug %}" title="{% trans 'category' %}" itemprop="item">
                    <span itemprop="name" class="caption">{{ category.parent.title }}</span>
                    <meta itemprop="position" content="3">
                  </a>
                </span>
              {% else %}
                <span class="separator"> / </span>
                <span itemscope="" itemprop="itemListElement" itemtype="http://schema.org/ListItem">
                  <a class="go-to-last-page-button" href="{% url 'category-detail' category.parent.id category.parent.slug %}" title="{% trans 'category' %}" itemprop="item">
                    <span itemprop="name" class="caption">{{ category.parent.title }}</span>
                    <meta itemprop="position" content=2">
                  </a>
                </span>
              {% endif %}
            {% endif %}

            {% if category.title %}
              <span class="separator"> / </span>
              <span class="caption">{{ category.title }}</span>
            {% endif %}

          </div>
        {% else %}
          {% if back_button_label_key %}
            <div class="col go-back">
                <a class="go-to-last-page-button hide" href="#">
                    <span class="spritesheet arrow-back sprite-ico-normal-back"></span>
                    <span class="caption">{% trans back_button_label_key %}</span>
                </a>
            </div>
          {% elif with_logo %}
            <div class="col">
                <a class="logo spritesheet sprite-logo-colored-ww" href="/">WW</a>
            </div>
          {% else %}
            <div class="col">
              <div class="search-counters">
                {% blocktrans count counter=events_count|default:0 %}We found {{ counter }} event{% plural %}We found {{ counter }} events{% endblocktrans %} {% trans 'and' %}
                {% blocktrans count counter=collections_count|default:0 %}{{ counter }} journal{% plural %}{{ counter }} journals{% endblocktrans %}
              </div>
            </div>
          {% endif %}
        {% endif %}

        <!-- sociallinks -->
        <div class="col social-buttons hide-for-small">
            <div class="social-links">
                <a class="caption-link fb"
                   data-network-name="facebook"
                   target="_blank"
                   href="https://www.facebook.com/sharer/sharer.php?u=https://{{ request.get_host }}{{ request.path }}">
                    <i class="spritesheet icon sprite-ico-colored-facebook"></i>
                    {% trans 'Share FB' %}
                </a>
                <a class="caption-link vk"
                   data-network-name="vk"
                   target="_blank"
                   href="https://vk.com/share.php?url=https://{{ request.get_host }}{{ request.path }}&title={{ instance.title|truncatechars:100 }}&description={{ instance.description|striptags|truncatechars:200 }}&image={{ event.image }}&noparse=true">
                    <i class="spritesheet icon sprite-ico-colored-vkontakte"></i>
                    {% trans 'Share VK' %}
                </a>
                <a class="caption-link tw"
                   data-network-name="twitter"
                   target="_blank"
                   href="https://twitter.com/intent/tweet?text={{ instance.title|truncatechars:200 }}&url=https://{{ request.get_host }}{{ request.path }}&via=whatWhere">
                    <i class="spritesheet icon sprite-ico-colored-twitter"></i>
                    {% trans 'Tweet' %}
                </a>
            </div>
        </div>

        <!-- edit -->
        {% if with_edit_event %}
            {% if request.user.id and event.author.id == request.user.id %}
                <div class="col edit-button">
                    <a href="{% url 'event-update' event.provider_id %}" class="button h32">{% trans 'Edit' %}</a>
                </div>
            {% endif %}
        {% elif with_edit_collection %}
            {% if request.user.id and collection.author.id == request.user.id or request.user.is_staff %}
                <div class="col edit-button">
                    <a href="#" class="button h32 js-edit-collection">{% trans 'Edit' %}</a>
                </div>
            {% endif %}
        {% elif with_edit_profile %}
            {% if request.user.id and request.user == profile_detail %}
                <div class="col edit-button">
                    <a href="{% url 'profile-update' profile_detail.id %}" class="button h32">{% trans 'Edit' %}</a>
                </div>
            {% endif %}
        {% endif %}

    </div>
</div>
