{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags %}

{% block title %}{{ city.meta_title }}{% endblock %}
{% block og_title %}{{ city.meta_title }}{% endblock %}
{% block og_type %}city{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ request.path }}{% endblock %}
{% block og_image %}https://whatwhere.world/static/images/placeholder.png{% endblock %}

{% block og_description %}{{ city.meta_description|striptags }}{% endblock %}
{% block meta_description %}{{ city.meta_description|striptags }}{% endblock %}

{% block extrametadata %}

{% endblock %}

{% block content %}

<!-- subheader -->

{% include 'include/_subheader.html' with back_button_label_key='Back' %}

<div class="page-body ui container" id="place-detail-page">


  <div class="collection-detail row">
    <div class="collection-detail-left-col col">
      <h1>{{ city.name_std }}</h1>
      <div class="place-contacts">
        <div class="col left">

        </div>
        <div class="col right">

        </div>
        <div class="clearfix"></div>
      </div>

      {% if city.description %}
        <div class="collection-description-holder">
          <div class="collection-description body read-more-content">
            {{ city.description|linebreaksbr }}
          </div>
          <a href="#" class="read-more caption-link hide" data-content-selector=".collection-description">{% trans 'Read more' %}</a>
        </div>
      {% endif %}

    </div>
  </div>

  <!-- Events list -->

  <div class="row events-in-collection">

    <!-- in collections -->
    {% if collections %}
      <h2>{% trans 'In journals' %}</h2>
      <div class="row posters-list list-row inline-list">
        <div class="holder {% if collections|length < 4 %}no-scroll{% endif %}">
          <ul>
            {% include collection_card_template with collections=collections %}
          </ul>
        </div>
      </div>
    {% endif %}

    <div class="clearfix"></div>

    <!-- Events list -->
    <h3>{% trans 'Actual events' %}</h3>
    <div class="events-buckets-initial">
      {% for bucket in event_buckets %}
        {% if bucket.doc_count %}
          <div class="row events-list {% if bucket.key|is_past_bucket %}past-events hide{% endif%}">
            <a href="#{{ bucket.key|date:'m' }}" class="date-col subtitle" data-month="{{ bucket.key|date:'m' }}">{{ bucket.key|date:'F Y'|lower }}</a>
            <div class="events-col">
              <ul class="large-block-grid-3">
                {% include event_card_template with events=bucket.events bucket_date_key=bucket.key %}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <!-- TODO `show_past` now is false -->
    {% if past_event_buckets|length and show_past %}
      <div class="clearfix"></div>

      <!-- List -->
      <h3>{% trans 'Past events' %}</h3>
      <div class="past-events-buckets-initial">
        {% for bucket in past_event_buckets %}
          {% if bucket.doc_count %}
            <div class="row events-list">
              <a href="#{{ bucket.key|date:'m' }}" class="date-col subtitle" data-month="{{ bucket.key|date:'m' }}">{{ bucket.key|date:'F Y'|lower }}</a>
              <div class="events-col">
                <ul class="large-block-grid-3">
                  {% include event_card_template with events=bucket.events bucket_date_key=bucket.key %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

  </div>

</div>
{% endblock %}
