{% extends 'base.html' %}
{% load i18n humanize %}

{% block title %}{% trans 'cities_list_title' %}{% endblock %}
{% block og_title %}{% trans 'cities_list_title' %}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ place.get_absolute_url }}{% endblock %}
{% block og_image %}https://{{ request.get_host }}{{ place.get_preview }}{% endblock %}

{% block og_description %}{{ place.description }}{% endblock %}
{% block meta_description %}{{ place.description }}{% endblock %}

{% block content %}

{% include 'include/_subheader.html' with back_button_label_key='Back' %}

<div class="page-body ui container" id="place-detail-page">

  <!-- Events list -->

  <!-- categories widget -->
  <div id="category-widget"></div>
</div>

{% endblock %}
{% block extrajs %}
<script>
  $(document).ready(function() {
    app.searchWidget = new app.SearchWidget();
    app.categoryWidget = new app.CategoryWidget({
      data: {
        location: {
          latitude: "{{location.latitude|stringformat:'.6f'}}",
          longitude: "{{location.longitude|stringformat:'.6f'}}"
        }
      }
    });
  })
</script>
{% endblock %}
