#about-page {
  padding-bottom: 0px;
  .row {

    @cols-margin: 16px;
    @right-col-width: 320px;

    .col {

      .button {
        width: 236px;
      }

      &.left {
        width: calc(~"100% - " @cols-margin ~" - " @right-col-width);
        margin-right: @cols-margin;
        h2,
        h3,
        .headline,
        .title {
          margin-bottom: 24px;
        }
        .subtitle {
          margin-top: 40px;
          margin-bottom: @cols-margin;
        }
      }

      &.right {
        width: @right-col-width;

        .button.find-event {
          margin-top: 8px;
        }

        .button.create-collection {
          margin-top: 6px;
        }
      }
    }

    .events-list {
      margin-top: 22px;
      margin-bottom: 100px;
      ul {
        li {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }

    .authors-list {
      margin: 52px 0 100px;
      ul {
        li {
          &:not(:last-child) {
            margin-right: 24px;
          }

          a {
            color: @color-grey;
            opacity: 1;
            text-align: center;
          }

          .avatar {
            img {
              border-radius: 50%;
              max-width: 100%;
              max-height: 100%;
              height: auto;
            }
          }
          
          .name {
            opacity: 0.8;
          }
        }
      }
    }

    &.ideolog {
      margin-bottom: 120px;

      h4 {
        margin-bottom: 24px;
      }

      .gelman {
        margin-top: 8px;
        width: 200px;
        display: block;
        text-align: center;
        color: @color-grey;
        opacity: 1;
        img {
          border-radius: 50%;
          max-width: 100%;
          max-height: 100%;
          height: auto;
        }
        .name {
          opacity: 0.8;
        }
      }
    }
  }
}

#about-page-bottom-block {
  background-color: @color-white;
  padding: 40px 16px 48px;

  .col {

    &.left {
      width: calc(~"100% - " 16px ~" - " 320px);
    }

    &.right {
      width: 320px;
    }

    .subtitle {
      margin: 0;
    }

    .button {
      width: 236px;
    }

    .subtitle-its-free {
      .fontLight();
      margin-top: 16px;
      height: 28px;
      width: 236px;
      color: #576572;
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      text-align: center;
    }
  }
}
