#add-to-collection-widget {
  @bottom-section-height: 48px;

  position: absolute;
  bottom: -10px;
  left: 0;
  width: 320px;
  height: 226px;
  background: @color-white;
  box-shadow: 0 0 24px 0 rgba(45,62,79,0.08);

  .top-section {
	padding: 20px 16px 4px;
	height: 44px;
  }

  .middle-section {
	overflow-x: hidden;
	overflow-y: auto;
	height: 134px;
	.collection-item {
	  display: block;
	  height: 48px;
	  line-height: 48px;
	  width: 100%;
	  padding: 0 16px;
	  cursor: pointer;

	  span {
		width: calc(~"100% - " 18px);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		float: left;
	  }

	  i {
		float: right;
		display: none;
		margin-top: 16px;
	  }

	  &:hover {
		background: #F2F2F3;
	  }

	  &.selected {
		i {
		  display: inline-block;
		}
	  }
	}
  }

  .bottom-section {
	padding: 0 16px;
	width: 100%;
	height: @bottom-section-height;
	line-height: @bottom-section-height;
	box-shadow: inset 0 1px 0 0 rgba(45,62,79,0.08);
	background: @color-white;
	a {
	  display: inline-block;

	  &.save {
		margin-right: 8px;
	  }
	}
  }
}
