#add-to-event-widget.search-events {
  margin-bottom: 32px;
  position: relative;
  input {
    width: 488px;
    height: 48px;
    margin: 0;
    font-size: 18px;
    border-radius: 0;

    &:focus {
      border-color: #4c5966;
    }
  }
  button {
    background: none;
    padding: 0 21px;
    outline: none;
  }
  .button-spinner {
    .spinner();
  }
  .autocomplete-holder {
    position: absolute;
    width: 488px;
    z-index: 100;
    max-height: 300px;
    overflow: hidden;
    overflow-y: scroll;
    background: @color-white;
    box-shadow: 0 12px 24px 0 rgba(45, 62, 79, 0.08);

    ul {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      li {
        .fontLight();
        position: relative;
        height: 64px;
        line-height: 64px;
        white-space: nowrap;
        padding: 0 56px 0 12px;
        cursor: pointer;
        opacity: 1;

        &.show-more {
          height: 44px;
          line-height: 44px;
        }

        &:hover:not(.show-more) {
          background: #f0f0f1;
          .add-event-action {
            display: block;
          }
        }
        span {
          width: 84%;
          overflow: hidden;
          line-height: 20px;
          display: inline-block;
          vertical-align: middle;
          text-overflow: ellipsis;
        }
        img {
          width: 48px;
          height: 48px;
          margin-right: 10px;
          vertical-align: middle;
        }
        .add-event-action {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 56px;
          text-align: center;
          opacity: 0.5;

          &:hover {
            opacity: 1;
          }

          &.visible {
            opacity: 1;
          }
        }
      }
    }
  }
}
.button-spinner {
  .spinner();
}
