@import "./fonts";
@import "./spritesheet";
@import "./mixins";
@import "/forms";
@import "./buttons";
@import "./dorpdown";
@import "./normalize";
@import "./modals";
@import "./pseudo-modal-page";
@import "./header";
@import "./subheader";
@import "./footer";
@import "./card";
@import "./grid";
@import "./search-page";
@import "./event-detail-page";
@import "./collection-detail-page";
@import "./category-detail-page";
@import "./place-detail-page";
@import "./profile-page";
@import "./profile-update-page";
@import "./event-create-page";
@import "./add-to-collection-widget";
@import "404-page";
@import "collection-list-page";
@import "about-page";
@import "organizers-page";
@import "add-to-event-widget";
@import "register-page";

* {
  box-sizing: border-box;
}

html { font-size: 62.5%; }

.setJsButtonsVisibility(hidden);

body {
  .fontLight();
  background-attachment: fixed;
  overflow-y: scroll;
  font-size: 12px;
  color: @color-grey;
  //min-width: @min-width;

  .wrapper {
    .page-body.container {
      padding-bottom: 390px;
    }
  }

  &.initialized {
    .setJsButtonsVisibility(visible);
  }
}

#body-wrapper {
  &:not(.without-bg-line) {
    .backgroundLine();
  }
}

.wrapper {
  min-height:100%;
  position:relative;
  background: #fafafa;
}

.clearfix {
  clear: both;
  list-style: none;
}

#content {
  //padding-bottom: 55px;
}

h1,
.display {
  //display
  .fontLight();
  font-weight: 300;
  color: @color-grey;
  font-size: 4rem;
  line-height: 5rem;
  margin: 0;
}

h2,
.headline {
  //headline
  .fontLight();
  font-weight: 300;
  color: @color-grey;
  font-size: 42px;
  margin: 0;
  line-height: 48px;
}

h3,
.title {
  //title
  .fontLight();
  font-weight: 300;
  color: @color-grey;
  font-size: 36px;
  margin: 0;
  line-height: 48px;
}

h4,
.subtitle {
  .fontLight();
  font-weight: 300;
  color: @color-grey;
  font-size: 24px;
  margin: 0;
  line-height: 32px;
}

h5,
.body,
.body-link {
  .fontLight();
  font-weight: 300;
  color: #576572;
  font-size: 18px;
  margin: 0;
  line-height: 28px;
  text-decoration: none;
}

.body-link {
  color: #38A7D5;
  &:hover {
    text-decoration: underline;
  }

 &.grey {
   color: #576572;
 }
}

h6,
.caption,
.caption-link {
  //caption
  .fontLight();
  font-size: 14px;
  font-weight: 300;
  color: #6C7783;
  margin: 0;
  text-decoration: none;
  line-height: 20px;
}

.caption-link {
  color: @color-blue;
  &:hover {
    text-decoration: underline;
  }
}

.fb-link {
  color: @color-facebook;
}

.vk-link {
  color: @color-vk;
}

.tips {
  .fontLight();
  font-weight: 300;
  color: #89939C;
  font-size: 12px;
  margin: 0;
  line-height: 16px;
}

.error-text,
.errorlist,
.error-text-link {
  .fontLight();
  font-weight: 300;
  color: @color-red-error-text;
  font-size: 12px;
  margin: 0;
  line-height: 16px;
  text-decoration: none;
}

.error-text-link:hover {
  color: @color-red-error-text;
  text-decoration: underline;
}

.errorlist {
  text-align: left;
  list-style: none;
  margin: -15px 0 15px;
}

p {
  margin-top: 0;
}

/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box;
}

.u-half-width {
  width: 50%;
  box-sizing: border-box;
}

.u-underlined {
  text-decoration: underline;
}

.row {
  padding: 0 16px;
  > .row,
  * > .row {
    padding: 0;
  }
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.row.subheader {
  background: @color-white;
  margin-bottom: 40px;
  .col {
    @height: 64px;
    height: @height;
    line-height: @height;
  }
}

.col {
  float: left;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden !important;
}

.read-more-content {
  overflow: hidden;
  &.show {
    max-height: none !important;
  }
}

.dropdown-holder {
  .dorpdownArrow();
}

.go-to-last-page-button {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: @color-grey;
  }
  +.separator {
    font-size: 12px;
    padding: 0 5px;
  }
}

.horizontal-list-container {
  overflow-x: scroll;
  white-space: nowrap;
  ul {
    list-style: none;
    li {
      display: inline-block;
      white-space: normal;
      vertical-align: top;
    }
  }
}

.radio-holder {
  input[type='radio'] {
    display: none;
  }

  .radio-icon {
    margin-right: 12px;
    margin-bottom: 12px;
  }

  input[type='radio'] + .radio-icon {
    .radio-selected {
      display: none;
    }
    .radio-not-selected {
      display: inline-block;
    }
  }

  input[type='radio']:checked + .radio-icon {
    .radio-selected {
      display: inline-block;
    }

    .radio-not-selected {
      display: none;
    }
  }
}

.tooltip {
  position: absolute;
  opacity: 0.88;
  border-radius: 2px;
  background-color: #1E2A35;
  box-shadow: 0 0 24px 0 rgba(45,62,79,0.08);
  color: white;
  .fontLight();
  font-size: 12px;
  padding: 8px;
  margin-top: -10px;
  max-width: 200px;
  word-wrap: break-word;
}

.sticky-start {
  position: fixed;
  z-index: 101;
}

.sticky-stop {
  position: relative;
  z-index: 101;
}

.beauty-grey {
  color: #65727E;
}
