.button,
button,
input[type="submit"],
input[type="button"] {
  @height: 48px;
  display: inline-block;
  height: @height;
  line-height: @height;
  padding: 0 46px;
  color: @color-white-almost;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  background: @color-blue;

  &:hover {
	color: @color-white-almost;
	background: @color-blue-light;
	outline: 0;
  }

  &.half {
    width: 48%;
    display: inline-block;
  }

  &.h32 {
    @height: 32px;
    height: @height;
    line-height: @height;
    padding: 0 24px;
    font-size: 14px;
  }

  &.h40 {
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
  }

  &.red {
    background: @color-red;
    &:hover {
      background: @color-red-light;
    }
  }

  &.orange {
    background: @color-orange;
    &:hover {
      background: @color-orange-light;
    }
  }

  &.transparent {
    background: transparent;
    color: @color-blue;
    &:hover {
      text-decoration: underline;
    }
  }

  &.with-left-rect-icon {
    padding: 0;

    .icon-holder {
      width: 49px;
      text-align: center;
      border-right: 1px solid;
      border-color: rgba(255, 255, 255, 0.16);
      display: block;
      float: left;
    }

    .bookmark-icon {

    }

    .text {
      text-align: center;
      display: block;
    }
  }

  &.white-with-grey-border {
    background: @color-white;
    color: @color-grey;
    border: 2px solid rgba(44, 62, 79, 0.08);
    &.h32 {
      font-size: 13px;
      line-height: 28px;
    }
  }

  &.white-with-blue-border {
    background: @color-white;
    border: 2px solid @color-blue;
    border-radius: 2px;
    color: @color-blue;
    line-height: 44px;

    &:hover {
      border-color: @color-blue-light;
      color: @color-blue-light;
    }
  }

  &.white-with-red-border {
    background: @color-white;
    border: 2px solid @color-red;
    border-radius: 2px;
    color: @color-red;
    line-height: 44px;

    &:hover {
      border-color: @color-red-light;
      color: @color-red-light;
    }
  }

  &.disabled {
    pointer-events: none !important;

    &:not(.by-opacity) {
      background: #E0E2E5 !important;
    }

    &.by-opacity {
      opacity: 0.5;
    }
  }
}
.social-buttons {
  .fb-button {
    width: 50%;
    max-width: 144px;
    a {
      background: @color-facebook;
      &:hover {
          background: lighten(@color-facebook, 20%);
      }
    }
  }

  .vk-button {
    width: 50%;
    max-width: 144px;
    a {
      background: @color-vk;
      &:hover {
          background: lighten(@color-vk, 20%);
      }
    }
  }
}
