.card {

  a {
	text-decoration: none;
	display: block;
  }

  &.card-event {
	@width: 320px;
	@height: 192px;

	position: relative;

	width: @width;

	.card-image {
	  width: 100%;
	  height: @height;
	  overflow: hidden;
	  position: relative;
	  border-radius: 2px 2px 0 0;
	  .noImageBackground();

	  .card-img {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	  }

	  .card-actions {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		color: #2e3f4f;

		.sprite {
		  padding: 0;
		}

		.card-star {
		  width: 59px;
		  height: 32px;
		  line-height: 32px;
		  position: absolute;
		  background: white;
		  margin: 16px 0 0 8px;
		  border-radius: 3px;
		  text-align: center;
		  font-size: 18px;

		  .sprite-ico-small-star {
			margin-top: -3px;
			vertical-align: middle;
		  }
		}
	  }
	}

	.card-section {
	  background: white;
	  height: 106px;
	  padding: 14px 15px;
	  overflow: hidden;
	  .title {
		font-size: 18px;
		line-height: 28px;
		max-height: 56px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-bottom: 5px;
	  }

	  .subtitle {
		font-size: 14px;
		line-height: 20px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	  }

          .schedule-end-time {
            margin-left: -3px;
          }
	  .more-link {
		display: inline-block;
		margin-left: 5px;
	  }
	}

	.card-add-button,
	.card-remove-button {
	  position: absolute;
	  top: 144px;
	  right: 20px;
	  cursor: pointer;
	  .card-icon {
		display: block;
		background: white;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		border-radius: 3px;
                &.card-icon-add {
                  font-size: 24px;
                  font-weight: 600;
                  color: @color-orange;
                }
	  }
          &.top {
            top: 15px;
          }
	}

	.card-add-button {
	  opacity: 0;
	  transition: opacity .2s ease-out;
	}

	.card-remove-button {
	  top: 16px;
	}

	#add-to-collection-widget {
	  width: 100%;
	  bottom: auto;
	  top: 40px;
	}

	&.hover, &:hover {
	  .card-add-button {
		opacity: 1;
	  }
	}
  }
  &.card-event-small {
    width: 250px;
    margin-bottom: 20px;
    .card-image {
      width: 235px;
      height: 235px;
    }
    .card-section {
      background: none;
      padding: 10px 0 20px;
    }
    .card-star {
      background: none !important;
      bottom: 10px;
      right: 10px;
      color: @color-orange;
    }
  }

  // Collection card


  &.card-collection {
	@width: 403px;
	@height: 264px;
	@imgHeight: 224px;

	width: @width;
	height: @height;
	position: relative;
	list-style: none;

	.tooltip {
	  display: none;
	  position: absolute;
	  opacity: 0.88;
	  background-color: #1E2A35;
	  box-shadow: 0 0 24px 0 rgba(45,62,79,0.08);
	  border-radius: 2px;
	  font-size: 12px;
	  font-weight: 300;
	  line-height: 16px;
	  color: #FFFFFF;
	  padding: 8px;
	  text-align: center;
	  left: 50%;
	  z-index: 1;
	}

	a {
	  position: relative;

	  .collection-previews {
		position: relative;
		width: 100%;
		height: @imgHeight;

		.pic {
		  position: absolute;
		  border-radius: 2px;
		  overflow: hidden;
		  .noImageBackground();
		  box-shadow: 11px 0 22px 0 rgba(0,0,0,0.08);

		  .preview-img {
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		  }

		  &:nth-child(1) {
			right: 0;
			width: 274px;
			height: 192px;
		  }

		  &:nth-child(2) {
			width: 297px;
			height: 208px;
			right: 32px;
		  }

		  &:nth-child(3) {
			width: 320px;
			height: 224px;
		  }
		}
	  }

	  .title {
		white-space: normal;
		position: absolute;
		top: 16px;
		left: 8px;

		max-width: 280px;

		.collection-card-name {
		  padding: 0 8px;
		  word-wrap: break-word;
		}

		.collection-name-line {
		  background: rgba(255, 255, 255, 0.8);
		  padding: 0 8px;
		  display: inline-block;
		  transition: background .4s ease-out;
		  &:first-child {
			padding-top: 2px;
		  }
		  &:last-child {
			padding-bottom: 1px;
		  }
		}
	  }

	  &:hover {
		.collection-name-line {
		  background: @color-white;
		}
	  }
	}

	.author {
	  position: absolute;
	  top: 15px;
	  right: 13px;

	  .avatar {
		border-radius: 50%;
		border: 2px solid @color-white;
		box-sizing: border-box;
                background: #fff;

	  }

	  .tooltip {
		width: 128px;
		bottom: 65px;
		margin-left: -64px;
	  }
	}

	.card-favorite {
	  position: absolute;
	  top: 176px;
	  left: 278px;
	  background: white;
	  border-radius: 2px;
	  width: 32px;
	  height: 32px;
	  text-align: center;
	  cursor: pointer;
	  opacity: 0;

	  &:hover {
		opacity: 1;
	  }

	  i {
		margin-top: 5px;
	  }

	  .tooltip {
		width: 90px;
		margin-left: -45px;
		bottom: 50px;
	  }

	  .not-subscribed-icon {
		display: inline-block;
	  }

	  .subscribed-icon {
		display: none;
	  }

	  &.subscribed {

		cursor: auto;

		.not-subscribed-icon {
		  display: none;
		}

		.subscribed-icon {
		  display: inline-block;
		}
	  }
	}

	.card-footer {
	  margin-left: 20px;
	  margin-top: 16px;

	  .bullet {
		margin: 0 8px;
	  }

	  .setup-button {
		cursor: pointer;
		display: inline-block;
		margin-left: 12px;
	  }
	}
  }
}

.isFirefox {
  .card.card-collection .collection-card-name {
	padding-bottom: 3px;
  }
}
