#category-detail-page {
  .category-promo {
    position: relative;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .category-slogan_ {
    position: absolute;
    top: 40%;
    left: 20px;
    h1 {
      color: #fff;
    }
  }
  .category-children {
      margin-top: 40px;
      .caption-link {
        font-size: 2.5rem;
        line-height: 3rem;
      }
  }
  .events-in-collection {
    .date-col {
      margin: 10px 0 20px;
      display: block;
      text-decoration: none;
    }
  }
}
