#collection-list-page {
  @container_width: 824px;

  .popupContent(@color) {
    &.text-col {
      width: 535px;
      h4,
      h5,
      .subtitle {
        color: @color;
        opacity: 1;
      }
    }

    &.button-col {
      margin-top: 55px;
    }
  }

  width: @container_width;

  .row {
    &.title {
      margin-bottom: 32px;

      .col {
        &.create-collection {
          float: right;
          margin-top: -4px;
        }
      }
    }

    &.collections-list {
      ul {
        width: @container_width;
        margin: 0 auto;
        list-style: none;

        li {
          float: left;
          margin-bottom: 28px;

          &.card-collection:nth-child(2n) {
            margin-left: 18px;
          }

          &.insert-item {
            width: 100%;
            display: none;
            margin: 80px 0;

            .col {
              .popupContent(#2D3E4F);
            }
          }
        }
      }
    }
  }

  #collection-list-page-bottom-popup {
    width: 100%;
    min-width: 1000px;
    position: fixed;
    bottom: 0;
    background: #0691cb;
    z-index: 1;
    left: 0;

    .close-button {
      position: absolute;
      right: 20px;
      top: 20px;
    }

    .container {
      width: 824px;
      min-width: 824px;
      max-width: 824px;
      margin: 20px auto;
      color: #FFFFFF;

      .col {
        .popupContent(@color-white);
      }
    }
  }
}
