#collection-detail-page,
#category-detail-page,
#place-detail-page {
  .collection-detail {
    @aside-width: 320px;
    @padding-right: 18px;

    .collection-detail-left-col {
      width: ~"calc(100% -" @aside-width~" -" @padding-right~")";
      padding-right: @padding-right;

      .collection-title {
        margin-bottom: 32px;
        word-wrap: break-word;
      }

      .last-update-title {
        margin: 0 0 32px;
      }

      .collection-description {
        max-height: 92px;
        overflow: hidden;
      }


      .collection-description-holder + .events-in-collection {
        margin-top: 80px;
      }

      .events-in-collection {
        // width: 688px;
        padding: 0;

        .new-collection-content {
          margin-top: 124px;
          margin-bottom: 84px;

          h4 {
            margin-bottom: 21px;
          }

          .list {
            color: @color-grey;
            .list-item {
              position: relative;
              padding-left: 52px;

              &:not(:last-child) {
                margin-bottom: 24px;
              }

              b {
                .fontBold();

                &.red {
                  color: @color-red-light;
                }
              }

              .list-item-num {
                position: absolute;
                left: 0;
                top: 0;
              }
            }
          }
        }

        .add-event-button {
          float: right;
          margin-top: 22px;
        }

        .events-list {
          position: relative;
          margin-bottom: 27px;

          .date-col {
            margin-bottom: 22px;
            display: block;
            text-decoration: none;
          }

          .events-col {
            ul {
              margin: 0;
              li.card {
                padding: 0;
                margin-bottom: 16px;
                &:nth-child(2n) {
                  margin-left: 16px;
                }
              }
            }
          }
        }
      }

      .events-past {
        margin-bottom: 80px;
      }


    }


    .collection-detail-right-col {
      .row {
        padding: 0;
      }

      width: @aside-width;
      float: right;

      .collection-author {
        margin-bottom: 32px;
        @avatar-rect: 83px;
        white-space: nowrap;

        .avatar-holder {
          img {
            vertical-align: middle;
            border-radius: 50%;
            box-sizing: border-box;
            border: 2.86px solid #FFFFFF;
            max-width: 80px;
            max-height: 80px;
          }
        }

        .name {
          display: inline-block;
          height: 100%;
          vertical-align: middle;
          line-height: @avatar-rect;
          margin-left: 15px;
        }
      }

      .author-bio {
        width: 100%;
        white-space: normal;
        max-height: 80px;
        overflow: hidden;
        margin-top: 12px;
        text-overflow: ellipsis;
      }

      .author-bio-more {

      }

      .counters {
        margin-bottom: 28px;
      }

      .subscribe {
        &:not(:last-child) {
          margin-bottom: 28px;
        }
      }

      .translate {
        margin-top: 28px;
      }
      .widget {
        margin-top: 28px;

        &:not(:last-child) {
          margin-bottom: 35px;
        }

        textarea {
          max-width: @aside-width;
          width: @aside-width;
          background: transparent;
          margin: 10px 0;
          white-space: pre-wrap;
          word-wrap: break-word;
          height: 132px;
          padding: 12px;
          line-height: 21px;

        }
      }
      .places {
        position: relative;
        .places-title {
          margin-bottom: 22px;
        }

        ul {
          list-style: none;
          li {
            margin: 9px 0;
            .place-item {
              .autoadd-button {
                margin-right: 15px;
                i {
                  vertical-align: text-bottom;
                }

                .ico-on,
                .ico-hover {
                  display: none;
                }

                .ico-off {
                  display: inline-block;
                }

                &.selected {
                  .ico-on {
                    display: inline-block;
                  }
                  .ico-hover,
                  .ico-off {
                    display: none;
                  }
                }

                &:hover {
                  .ico-on,
                  .ico-off {
                    display: none;
                  }
                  .ico-hover {
                    display: inline-block;
                  }
                }
              }

              .more-button {
                display: none;
                margin-left: 15px;
                width: 16px;
                height: 24px;
                background: transparent;

                .ico-hover {
                  display: none;
                }

                &:hover {
                  .ico-default {
                    display: none;
                  }
                  .ico-hover {
                    display: inline-block;
                  }
                }
              }

              &:hover {
                .more-button {
                  display: inline-block;
                }
              }
            }
          }
        }

        .places-more-menu {
          position: absolute;
          padding: 8px 0;
          background: @color-white;
          box-shadow: 0 0 24px 0 rgba(45, 62, 79, 0.08);
          border-radius: 1px;
          .places-more-menu-item {
            cursor: pointer;
            display: block;
            height: 48px;
            white-space: nowrap;
            line-height: 48px;
            padding: 0 15px;
            &:hover {
              background: #f2f2f3;
            }
          }
        }

      }
    }
  }
}

@media (max-width:625px) {
  .collection-detail {
    .collection-detail-left-col {
      width: 100% !important;
    }
  }
}
