.md-select {
  display: block;
  margin: 0;
  padding-bottom: 2px;
  position: relative;
  font-size: 13px;

  .arrows-ico {
	position: absolute;
	top: 10px;
	z-index: 2;
	right: 7px;
	pointer-events: none;
  }
}