#event-create-page {
  .bootstrap-datetimepicker-widget {
	margin-left: 100px;

	&.top {
	  margin-bottom: -30px;
	}

	&.bottom {
	  margin-top: 30px;
	}
  }

  .body-container {
	.content {
	  padding-left: 0;
	  padding-right: 0;

	  h3 {
		margin-bottom: 48px;
	  }

	  h4 {
		margin: 64px 0 32px;
	  }

	  .row {

		margin: 0;
		> .row,
		* > .row {
		  padding: 0;
		}

		@row-padding: 0 85px;

		&.form-title {
		  padding: @row-padding;
		}

		&.form {
		  padding: 0;
		  .row {
			padding: @row-padding;
		  }
		}


		#map_canvas {
		  width: 100%;
		  margin: 24px 0;
		  height: 400px;
		}


		&.field {
		  margin-bottom: 16px;
		}

		.col {
		  &.left {
			label {
			  line-height: 48px;
                          &.body-schedules {
                            line-height: 120px;
                          }
			}
		  }
		}

		textarea {
		  margin: 0;
		}

		&.dates {
		  .event-schedule-row {
			margin-bottom: 16px;

			@inputs-margin: 32px;
		  	@remove-date-button-left-margin: 20px;
		  	@remove-date-button-width: 24px;

			input {
			  width: ~"calc(33% -" @inputs-margin/2~" -" ((@remove-date-button-left-margin + @remove-date-button-width)/2)~")";
			}

			.date-label {
			  color: grey;
			  display: inline-block;
			  width: ~"calc(33% -" @inputs-margin/2~" -" ((@remove-date-button-left-margin + @remove-date-button-width)/2)~")";
			}

			.hidden {
			  visibility: hidden;
			}

			span.separator {
			  width: @inputs-margin;
			  display: inline-block;
			  text-align: center;
			}

			a.remove-date-button {
			  margin-left: @remove-date-button-left-margin;
			}
		  }
		}

		&.photos {
                  .help-text {
                    clear: both;
                  }
		  .event-images-wrapper {

			display: block;
			position: relative;
			overflow: hidden;
			min-height: 120px;
			float: left;

			&::after {
			  content: '+';
			  border: 1px dashed #ccc;
			  display: block;
			  width: 145px;
			  height: 109px;
			  line-height: 109px;
			  font-size: 3rem;
			  float: left;
			  text-align: center;
			  color: #ccc;
			  cursor: pointer;
			}

			.dz-preview {
			  position: relative;
			  width: 152px;
			  height: 110px;
			  float: left;
			  text-align: center;
			  overflow: hidden;
			  margin-right: 16px;

			  .dz-remove {
				position: absolute;
				top: 8px;
				right: 8px;
				text-decoration: none;
				color: #fff;
				background: #fff;
				border-radius: 2px;
				width: 32px;
				height: 32px;
				line-height: 32px;
                                overflow: hidden;
                                &::after {
                                    display: block;
                                    width: 14px;
                                    height: 14px;
                                    content: ' ';
                                    background: url(../images/spritesheet.png) -272px 0;
                                    display: inline-block;
                                    vertical-align: middle;
                                }
			  }

			  .dz-error-message {
				position: absolute;
				top: 30px;
				border: 1px solid;
				color: #fff;
				background: rgba(255,0,0,.6);
			  }

			  .dz-success-mark,
			  .dz-error-mark {
				display: none;
			  }
			}

			.dz-details {
			  display: none;
			}
		  }
		}

		&.ticket-price {
		  @fields-margin: 16px;

		  .price {
			width: ~"calc(75% -" @fields-margin/2~")";
			margin-right: @fields-margin;
		  }

		  .currency {
			width: ~"calc(25% -" @fields-margin/2~")";
		  }
		}

		&.similar-events {
		  @margin: 21px;
		  @add-width: 14px;
		  .search-field {
			width: ~"calc(100% -" @margin+@add-width~")";
			margin-right: @margin;
		  }
		  .add-button {
			line-height: 48px;
		  }
		}

		&.remove-event-action {
                    position: fixed;
                    bottom: 62px;
                    right: 80px;
                    z-index: 1000;
                    .u-pull-left {
                        margin-right: 20px;
                    }
                }
		&.similar-items-list {
		  .similar-item {
			@img-width: 152px;
			@img-right-margin: 16px;

			padding: 0;

			&:first-child {
			  margin-top: 32px;
			}

			&:not(:last-child) {
			  margin-bottom: 16px;
			}

			.similar-img {
			  width: 152px;
			  margin-right: 16px;
			  position: relative;
			  img {
				display: block;
				width: 100%;
			  }

			  .remove-event-button {
				position: absolute;
				width: 32px;
				height: 32px;
				top: 8px;
				right: 8px;
				text-align: center;
				line-height: 32px;
				background: @color-white;
				border-radius: 2px;
			  }
			}

			.similar-info {
			  width: ~"calc(100% -" @img-width+@img-right-margin~")";
			  h5 {
				/*white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;*/
			  }
			  .more-link {
				margin-left: 8px;
			  }
			}
		  }
		}
	  }
	}

	.bottom-controls {

	  &.with-delete {
		padding-left: 81px;

		.delete-button {
		  margin-left: 8px;
		}
	  }

	  .col {
		&.field-errors {
		  .field-errors-title {
			margin-left: 48px;
		  }
		  .field-errors-buttons {

		  }
		}

		&.delete-confirm {

		  button {
			float: left;
		  }
		  span {
			margin-top: 3px;
			float: left;
			margin-left: 16px;
		  }
		}
	  }
	}
  }
}
