#event-detail-page {
  .headline {
    font-size: 30px;
    line-height: 36px;
  }
  padding-bottom: 370px;

  .row.event-details {
        @aside-width: 320px;
        @padding-right: 18px;
	.event-details-col {
	  width: ~"calc(100% -" @aside-width~" -" @padding-right~")";
          padding-right: @padding-right;

	  .event-title {
		margin-bottom: 28px;
		&:first-letter {
		  text-transform: uppercase;
		}
	  }

	  .row {
		&.event-info {
		  margin: 10px 0 30px;
		  p,
		  .place-address {
			margin-bottom: 6px;
		  }
		  .schedule-calendar {
			padding-left: 10px;
		  }
                  .date-info,
                  .place-info,
                  .price-info {
                    margin-bottom: 20px;
                  }

		  .place-title,
		  .place-address {
			&:first-letter {
			  text-transform: uppercase;
			}
		  }
		  .date-info {
			.time-to-event {
			  // margin-left: 12px;
			}
		  }
		}

		&.social-networks-links {
		  margin-bottom: 40px;
		  > span {
			margin-right: 8px;
		  }
		}

		&.event-images {
		  overflow: hidden;
		  #event-slider {
			margin: 20px auto 70px;
			width: 100%;
			//overflow: hidden;
			height: 475px;
			.noImageBackground();

			.slick-list,
			.slick-track {
			  height: 100%;
			}

			.event-slide {
			  position: relative;
			}

			img {
			  max-width:100%;
			  max-height: 100%;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  -ms-transform: translate(-50%, -50%);
			  -webkit-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			}

			.slick-arrow-prev,
			.slick-arrow-next {
			  background: #d1d1cd;
			  width: 32px;
			  height: 32px;
			  position: absolute;
			  padding: 0;

			  &:before {
				content: "";
				line-height: 0;
			  }
			  &:hover {
				background: @color-white;
			  }
			}

			.slick-dots {
			  bottom: -35px;
			}

			.slick-arrow-prev {
			  left: 24px;
			  z-index: 1;
			  &:before {
				content: "";
			  }
			}

			.slick-arrow-next {
			  right: 24px;
			}
		  }

		  .single-image {
			margin-bottom: 55px;
			width: 100%;
			height: 655px;
			img {
			  max-width: 100%;
			  max-height: 100%;
			}
		  }

		  &:after {
			content: " ";
			clear: both;
		  }
		}

		&.event-description {
		  //
		  margin-bottom: 40px;
		  position: relative;

		  h4 {
			margin-bottom: 24px;
		  }

		  .read-more-content {
			max-height: 162px;
		  }

		  .read-more {
			//text-decoration: none;
		  }

		  p {
			margin: 0;
                        margin-bottom: 16px;
			display: inline-block;
		  }
		}

		&.event-actions {
		  .button:not(:last-child) {
			margin-right: 8px;
		  }
		}
	  }
	}

	.event-aside-col {
	  width: 320px;
	  float: right;
	  .row {
		padding: 0;
	  }

	  #event-aside {
		.counter {
		  .counter-title {
			display: block;
			text-transform: lowercase;
		  }
		}

		hr {
		  margin: 28px 0 0 0;
		  box-sizing: border-box;
		  width: 318px;
		  height: 3px;
		  opacity: 0.08;
		  border-bottom: 1px solid #334659;
		}

		.rating-container {
		  margin: 20px 0;
		  label {
			display: inline-block;
			vertical-align: middle;
			margin: 5px 0 5px;
			&.user-vote {
			  margin-left: 20px;
			  &.vote-hover {
				color: #FD9727;
			  }
			}
		  }

		  #star-rating {
			display: inline-block;
			vertical-align: middle;
			margin-left: 20px;
			font-size: 26px;
			color: @color-orange;
			.rate-base-layer,
			.rate-select-layer,
			.rate-hover-layer {
			  span {
				&:not(:last-child) {
				  margin-right: 10px;
				}
			  }
			}
			.rate-base-layer {
			  .star-select {
				display: none;
			  }
			  &.selected {
				.star-noselect {
				  display: none;
				}
				.star-select {
				  display: inline-block;
				}
			  }
			}
		  }
		}
	  }

	  #add-to-collection-widget-holder {
		display: none;
		top: 60px;
		position: absolute;

		&.open {
		  display: block;
		  position: relative;
		}
	  }
	}

	.add-to-my-collection-button {

	}
  }

  .event-map-container {
	z-index: 1;
  }

  .event-map-container,
  .pseudo-map-container {
	position: relative;
	min-height: 360px;
	margin: 80px auto;
	padding: 0;

	&.is-last-block {
	  margin-bottom: 0;
	}

	.event-place-card {
	  background: #fff;
	  margin-top: 60px;
	  max-height: 350px;
	  padding: 20px;
	  position: relative;

	  h4 {
		margin-bottom: 24px;
	  }

	  .place-title {
		margin-bottom: 4px;
	  }

	  .place-address {
		margin-bottom: 24px;
	  }

	  .place-phone,
	  .place-email {
		display: block;
		margin-bottom: 16px;
		word-wrap: break-word;
	  }
	}

	#event-map {
	  height: 360px;
	  background: #ccc;
	  position: absolute;
	  width: 100%;
	}
  }

  .event-in-collections-list,
  .similar-events-list {
	margin: 20px 0 40px;
  }
}

@media (max-width:625px) {
  .row.event-details {
    .event-images {
      #event-slider {
        max-height: 300px;
        overflow: hidden;
      }
    }
    .event-details-col {
      width: 100% !important;
    }
  }
}
