/* font-family: "UbuntuLight"; */
@font-face {
  font-family: "UbuntuLight";
  src: url("/static/fonts/UbuntuLight/UbuntuLight.eot");
  src: url("/static/fonts/UbuntuLight/UbuntuLight.eot?#iefix")format("embedded-opentype"),
  url("/static/fonts/UbuntuLight/UbuntuLight.woff") format("woff"),
  url("/static/fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "UbuntuMedium";
  src: url("/static/fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("/static/fonts/UbuntuMedium/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
  url("/static/fonts/UbuntuMedium/UbuntuMedium.woff") format("woff"),
  url("/static/fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "UbuntuBold";
  src: url("/static/fonts/UbuntuBold/UbuntuBold.eot");
  src: url("/static/fonts/UbuntuBold/UbuntuBold.eot?#iefix")format("embedded-opentype"),
  url("/static/fonts/UbuntuBold/UbuntuBold.woff") format("woff"),
  url("/static/fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.fontLight() {
  font-family: UbuntuLight, sans-serif;
}

.fontMedium() {
  font-family: UbuntuMedium, sans-serif;
}

.fontBold() {
  font-family: UbuntuBold, sans-serif;
}