#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // min-width: @min-width;
  max-height: 390px;
  overflow: hidden;
  background: @color-grey-very-light;
  padding-top: 40px;

  .container {
	.row {
	  .col {
		&.left,
		&.right {
		  width: 33%;
		}

		&.center {
		  width: 34%;
		}

		&.center,
		&.right {
		  padding-left: 100px;
		}
	  }
	}
  }

  select {
    background: transparent;
    border: none;
    padding: 0;
    color: @color-blue;
    height: 26px;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	width: 110px;
  }
  p {
	margin-bottom: 10px;

	&.description {
	  margin-bottom: 20px;
	}

	&.cities {
	  margin-top: -10px;
	}
  }

  ul {
	li {
	  list-style: none;
	  &:not(:last-child) {
		margin-bottom: 12px;
	  }
	}
  }

  .social-links {
	a {
	  display: block;
	  padding: 10px;
	  text-align: center;
	  float: left;

	  &.logo {
		float: right;
	  }
	}
  }
  .mobile-title {
    color: #1E2A35;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }
  .mobile-links {
    display: block;
    margin: 15px 0;
  }
}
