#header {
  background: #1F2B35;

  .container {
    // min-height: 80px;
    max-width: @max-width;
    // min-width: @min-width;
    line-height: 80px;

    &.top-bar {
      height: 64px;
      line-height: 64px;
    }
    .row {
      @logo-width: 60px;
      @buttons-width: 280px;
      @h-margins: 40px;

      .logo-holder {
        width: @logo-width;
        a {
          text-decoration: none;
        }
        .logo-text {
          display: inline-block;
          line-height: 14px;
          font-size: 14px;
          color: #0691CB;
          vertical-align: middle;
          margin-left: 7px;
          .fontBold();
        }
      }
      .search-icon-holder {
        margin: 0 auto;
        float: left;
        width: "calc(100% - 160px)";
        height: 64px;
        overflow: hidden;
        a {
          display: block;
          text-align: center;
          text-decoration: none;
          .help-text {
            font-size: 12px;
            color: #fff;
            padding: 0 10px;
          }
        }
      }

      .slogan-holder {
        .slogan-text {
          color: #fff;
        }
      }

      .search-holder {
        width: 100%;
        //height: 80px;
        margin-bottom: 20px;

        form {
          margin-top: 16px;
          width: 100%;
          // height: 48px;
          line-height: 48px;
          border-radius: 2px;
          background-color: rgba(255,255,255,0.08);


          @city-width: 320px;
          @date-width: 130px;
          @submit-width: 158px;

          input:focus {
            background-color: #fafafa;
            color: @color-grey;
            border: 1px solid;
            .placeholder({
              color: @color-grey;
              opacity: 1;
            });
          }
          .search-form-element-holder {
            display: inline-block;
            position: relative;

            input {
              width: 100%;
              height: 48px;
              background-color: #fff;
              color: #14212E;
              border-radius: 0;
            }

            &.search-text-holder {
              width: ~"calc(100% - 12px -" @city-width~" -" @date-width~" -" @date-width~" -" @submit-width~")";
              .autocomplete-holder {
                li {
                  i {
                    margin-right: 18px;
                  }
                }
              }
            }

            &.search-city-holder {
              width: @city-width;

              input {
                width: 100%;
              }
            }

            &.autocomplete-input {
              cursor: pointer;
            }

            &:not(:first-child) {
              box-sizing: border-box;
              margin-left: 4px;
            }

            &.search-end-date-holder {
              margin-left: 0;
              position: relative;
              &:before {
                content: ' ';
                position: absolute;
                width: 1px;
                height: 24px;
                background: #ccc;
                top: 12px;
              }
            }

            .autocomplete-holder {
              position: absolute;
              width: 100%;
              z-index: 100;
              max-height: 300px;
              overflow: hidden;
              overflow-y: scroll;
              background: @color-white;
              box-shadow: 0 12px 24px 0 rgba(45,62,79,0.08);

              ul {
                list-style: none;
                margin: 0;
                li {
                  .fontMedium();
                  height: 50px;
                  line-height: 50px;
                  white-space: nowrap;
                  padding: 0 18px;
                  cursor: pointer;
                  opacity: 1;

                  &:hover {
                    background: @color-white-almost;
                  }
                }
              }
            }

          }

          input,
          #search-start-date-display,
          #search-end-date-display {
            .fontLight();
            margin: 0;
            display: inline-block;
            border: none;
            background: transparent;
            font-size: 16px;
            height: 100%;
            padding: 0 12px;

            &#search-start-date,
            &#search-end-date,
            &#search-start-date-display,
            &#search-end-date-display {
              width: 130px;
              &:not(:empty) + input {
                text-indent: -9999px;
              }
            }

            &#search-start-date,
            &#search-end-date {
              color: rgba(0, 0, 0, 0);
              &:not(:placeholder-shown) {
                text-indent: -9999px;
              }
            }

            &#search-start-date-display,
            &#search-end-date-display {
              position: absolute;
              pointer-events: none;
              &.infocus {
                color: @color-grey;
              }
            }

            .placeholder({
              color: #14212E;
            });
          }
          &.mobile.opened {
            .search-start-date-holder,
            .search-end-date-holder {
              width: 50%;
              #search-start-date,
              #search-end-date {
                width: 100%;
              }
            }
            .mobile-search {
              width: 100%;
              margin: 0 0 10px 0;
              button {
                width: 100%;
              }
              input {
                width: 100%;
              }
            }
          }


          button {
            display: inline-block;
            height: 100%;
            width: @submit-width;
            padding: 0;
          }
        }
      }

      .buttons-holder {
        float: right;
        margin-left: @h-margins;
        // width: @buttons-width;

        .lang-switch-form {
          margin: 0 0 0 20px;
          display: inline-block;
          .lang-switch {
            border: #1F2B35;
            background: #1F2B35;
            color: #fff;
            padding: 0;
            width: 40px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            cursor: pointer;
          }
        }
        .item {
          display: inline-block;
          color: #fff;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }

          &.item-signup {
            color: #0691CB;
          }
          &.username {
            max-width: 130px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            float: left;
            img {
              display: inline-block;
              vertical-align: middle;
              border-radius: 50px;
              margin-right: 5px;
            }
          }

          &:not(:first-child) {
            margin-left: 20px;
          }
        }
      }

    }
  }

  .logo {
    text-indent: 9999px;
    overflow: hidden;
  }

  .search-form {
    margin-bottom: 0;
  }

  .search-submit {
    color: #fff;
  }


  @media (min-width:480px) {
    /* smartphones, Android phones, landscape iPhone */
    .search-form {
      //display: none;
    }
  }

  @media (min-width: 600px) {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .search-form {
      //display: block;
    }
  }

  @media (min-width:1024px) {
    /* big landscape tablets, laptops, and desktops */
    .search-form {
      display: block;
    }
  }


}

.pac-container {
  border-radius: 0;
  box-shadow: 0;
  .pac-item {
    .fontMedium();
    height: 50px;
    line-height: 50px;
    white-space: nowrap;
    padding: 0 18px;
    cursor: pointer;
    opacity: 1;

    &:hover {
      background: @color-white-almost;
    }
    .pac-icon {
      display: none;
    }
  }
  &:after {
    display: none;
  }
}
