@color-white: #FFFFFF;
@color-white-almost: #FAFAFA;
@color-blue-dark: #334659;
@color-blue: #0691CB;
@color-blue-light: #5AC8FA;
@color-orange: #FD9727;
@color-orange-light: #FFCA5F;
@color-green: #30B395;
@color-green-light: #68D1B9;
@color-red: #E62565;
@color-red-light: #FF556E;
@color-red-error-text: #F1453D;
@color-grey: #2D3E4F;
@color-grey-light: #7C8690;
@color-grey-very-light: #f1f1f1;
@color-facebook: #3B5998;
@color-vk: #45668E;
@color-tw: #1da1f2;

@max-width: 1280px;
@min-width: 1000px;


.placeholder(@rules) {
	//color: #9a9295;

  &::placeholder {
	@rules();
  }
  &:-moz-placeholder {
	@rules();
  }

  &::-moz-placeholder {
	@rules();
  }

  &:-ms-input-placeholder {
	@rules();
  }

  &::-webkit-input-placeholder {
	@rules();
  }
}

.dorpdownArrow() {
  position: relative;
  .spritesheet.sprite-ico-grey-dropdown {
    position: absolute;
    right: 6px;
    top: 50%;
    margin-top: -1px;
    pointer-events: none;
  }
}

.backgroundLine() {
  @background-repeat: no-repeat;
  @background-position: center;
  @background-attachment: fixed;
  @background-color: #fafafa;
  @background-size: 100% auto;

  background:url('/static/images/bg-img.png') @background-repeat @background-position @background-attachment @background-color;
  background-size: @background-size;

  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    background:url('/static/images/bg-img@2x.png') @background-repeat @background-position @background-attachment @background-color;
    background-size: @background-size;
  }
}

.noImageBackground() {
  @background-color: #f2f3f4;
  @background-position: center;
  @background-repeat: no-repeat;

  background: url('../images/no_image_bg_logo.png') @background-repeat @background-position @background-color;

  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    background: url('../images/no_image_bg_logo@2x.png') @background-repeat @background-position @background-color;
    background-size: 84px 40px;
  }
}

.image(@url) {

}

.spinner() {
  position: relative;
  @background-color: #fff;
  @background-position: center;
  @background-repeat: no-repeat;

  background: url('../images/ajax-loader.gif') @background-repeat @background-position transparent;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  background-size: 20px;
}

.setJsButtonsVisibility(@value) {
  .js-social-disconnect,
  .js-subscribe-collection,
  .js-unsubscribe-collection,
  .js-add-collection,
  .js-create-collection,
  .js-edit-collection,
  .js-create-event,
  .go-to-last-page-button,
  .js-places-more,
  .js-places-autoadd-toggle,
  .js-show-widget-code,
  .js-hide-widget-code,
  [href='/login/'],
  [href='/register/'] {
    visibility: @value;
  }
}
