.modal-mask {

  .row {
    padding: 0;
  }

  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;

  .modal-wrapper {
	display: block;
	vertical-align: middle;
	overflow: auto;
	height: 100%;
  }

  .modal-container {
	margin: 0 auto;
	padding: 40px 32px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
	transition: all .3s ease;

    &.login-modal,
    &.create-collection-modal,
    &.restore-password-modal,
    &.remove-place-events-confirmation-modal {
      margin-top: 50px;
      text-align: center;
      position: relative;
      max-width: 368px;
      min-width: 0;

      a.modal-close {
        position: absolute;
        right: 21px;
        top: 21px;
      }

      form {
        margin: 16px 0 0 0;

        span.error {
            display: block;
            font-size: 12px;
            color: #F1453D;
            margin-bottom: 16px;
            margin-top: -16px;
        }
        input {
          margin-bottom: 16px;
          &.error {
            border: 1px solid #F1453D;
          }
        }

        textarea {
          max-width: 100%;
        }

        .password-input-holder {
          position: relative;

          input.signin {
            padding-right: 92px;
          }

          .remember-password {
            position: absolute;
            right: 12px;
            top: 15px;
          }
        }

        .account-type-title {
          margin-bottom: 12px;
        }

        .account-type-radio {
          display: inline-block;
          &.business {
            margin-right: 35px;
          }

          input {
            margin-right: 12px;
          }
        }

        .photos {
          .help-text {
            text-align: left;
            clear: both;
          }
          .event-images-wrapper {

                display: block;
                position: relative;
                overflow: hidden;
                min-height: 120px;
                padding: 0 0 10px;
                float: left;

                &.empty {
                  &::after {
                    content: '+';
                    border: 1px dashed #ccc;
                    display: block;
                    width: 145px;
                    height: 109px;
                    line-height: 109px;
                    font-size: 3rem;
                    float: left;
                    text-align: center;
                    color: #ccc;
                    cursor: pointer;
                  }
                }
                .dz-preview {
                  position: relative;
                  width: 152px;
                  height: 110px;
                  float: left;
                  text-align: center;
                  overflow: hidden;

                  .dz-remove {
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        text-decoration: none;
                        color: #fff;
                        background: #fff;
                        border-radius: 2px;
                        width: 32px;
                        height: 32px;
                        line-height: 32px;
                        overflow: hidden;
                        &::after {
                            display: block;
                            width: 14px;
                            height: 14px;
                            content: ' ';
                            background: url(../images/spritesheet.png) -272px 0;
                            display: inline-block;
                            vertical-align: middle;
                        }
                  }

                  .dz-error-message {
                        position: absolute;
                        top: 30px;
                        border: 1px solid;
                        color: #fff;
                        background: rgba(255,0,0,.6);
                  }

                  .dz-success-mark,
                  .dz-error-mark {
                        display: none;
                  }
                }

                .dz-details {
                  display: none;
                }
          }
        }

        .submit-signup {
          margin-top: 11px;
        }
      }

    }

    &.restore-password-modal {
      width: 368px;
      padding: 40px 32px;
      margin-top: 50px;
      text-align: center;
      position: relative;

      a.modal-close {
        position: absolute;
        right: 21px;
        top: 21px;
      }

      .message {
        margin-top: 32px;
      }

      input {
        margin: 0;
      }

      .remind-button {
        margin: 0;
      }

      .remembered-button {
        margin-top: 24px;
        display: block;
      }

      .sent-message {
        margin: 90px 20px 70px;
      }
    }

    &.create-collection-modal {
      form {

        .error {
          margin: -10px 0 16px;
          display: block;
        }

        textarea {
          min-height: 128px;
          width: 100%;
          resize: vertical;
        }

        .сonfidentiality-holder {
          text-align: left;

          .сonfidentiality-item {

            line-height: 52px;

            input {
              margin: 0 16px 0 0;
              vertical-align: text-top;
            }

            label {
              display: inline-block;
              margin: 0;
            }
          }

        }
      }

      .modal-footer {
        text-align: left;
        margin-top: 20px;
        button {
          padding: 0 24px;
          &.cancel-button {
            background: transparent;
            color: @color-blue;

            &:hover {
              color: @color-blue-light;
            }
          }
        }
      }
    }

    &.remove-place-events-confirmation-modal {
      position: relative;
      a.button {
        display: inline-block;
        padding: 0 16px;
      }

      .message {
        margin: 40px 0;
      }

      hr {
        position: absolute;
        width: 100%;
        left: 0;
        margin: 0;
      }

      .buttons-holder {
        margin-top: 70px;
        a {
          &:first-child {
            margin-right: 20px;
          }
        }
      }
    }

    .modal-header {

    }

    .modal-body {
      margin: 40px 0 0 0;

      .signup-type-link {
        text-decoration: underline;
      }
      .signup-type-link:hover {
        text-decoration: none;
      }
      .social-buttons {
        margin-bottom: 24px;
      }
    }


    &.login-modal {
      .modal-body {
        margin-top: 15px;

        .signup-as {
          margin-bottom: 12px;
          hr {
            margin: 18px 0 25px;
          }
        }
      }
    }

  }

}
