#organizers-page {
  padding-bottom: 264px;

  .row {
    @cols-margin: 84px;
    @right-col-width: 320px;

    .col {
      &.left {
        width: calc(~"100% - " @cols-margin ~ " - " @right-col-width);
        margin-right: @cols-margin;

        h1 {
          margin-bottom: 40px;
        }

        h2 {
          margin-bottom: 16px;
        }
      }

      &.right {
        width: @right-col-width;
      }
    }

    .events-list {
      margin-bottom: 88px;
      ul {
        li {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }

    &.why-block {
      margin-top: 24px;

      .button {
        margin-top: 9px;
        width: 233px;
      }
    }

    &.bottom-block {

      margin-top: 58px;

      .left,
      .right,
      .middle {
        width: 33%;
        margin: 0;
        position: relative;
      }

      .middle {
        width: 34%;
        padding: 0 16px;

        .background {
          left: 0;
        }

        .message {
          margin-top: 24px;
        }
      }

      .message {
        margin-top: 16px;
      }

      .avatars {
        margin-top: 16px;

        .avatar {
          width: 58px;
          height: 58px;
          display: inline-block;

          &:not(:last-child) {
            margin-right: 16px;
          }

          img {
            max-width: 100%;
            max-height: 100%;
            height: auto;
            border-radius: 50%;
            border: 2px solid white;
          }
        }
      }

      .background {
        position: absolute;
        top: -30px;
        left: -15px;
        .fontLight();
        height: 80px;
        width: 59px;
        opacity: 0.08;
        color: #2D3E4F;
        font-size: 72px;
        font-weight: 300;
        line-height: 80px;
      }
    }
  }
}

#organizers-page-footer {
  position: absolute;
  bottom: 0;
  height: 184px;
  background: @color-white;
  width: 100%;
  padding-top: 24px;
  .container {
    text-align: center;

    a {
      margin: 25px 0 16px;
    }

    .button {
      width: 236px;
    }
  }
}
