#place-detail-page {
  .place-contacts {
    margin-bottom: 24px;
    .col {
      &.left {
        max-width: 50%;
      }

      &.right {
        max-width: 50%;
        margin-left: 50px;
      }
    }
  }
  #event-detail-page {
    padding-bottom: 0;
    .event-map-container {
      margin-top: 0;
    }
  }

  .inline-list {
    .holder {
      overflow-x: scroll;
      white-space: nowrap;
      ul {
        li {
          display: inline-block;
        }
      }
    }
    .no-scroll{
	  overflow-x: hidden;
    }
  }

  .events-in-collection {
    margin-top: 80px;
  }

  .posters-list {
    margin: 20px 0 40px;
  }

  .collection-detail-right-col {
    padding-top: 20px;
  }

  .date-col {
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
  }

  .events-buckets-initial {
    .events-list {
      margin-bottom: 20px;
    }
  }
}
