#profile-update-page {
  max-width: 1024px;

  .body-container {
	.content {
	  .row {
                .body {
                  display: inline-block;
                  &.body-org {
                    line-height: 22px;
                  }
                }
		&.profile-avatar {
		  line-height: 120px;
		  margin-top: 48px;

		  .col.left {
			line-height: normal;
		  }

		  img {
			border-radius: 50%;
			display: inline-block;
			vertical-align: middle;
		  }

		  .upload-avatar {
			position: relative;
			overflow: hidden;
			display: inline-block;
			vertical-align: middle;

			input.upload {
			  position: absolute;
			  top: 0;
			  right: 0;
			  margin: 0;
			  padding: 0;
			  font-size: 20px;
			  cursor: pointer;
			  opacity: 0;
			  filter: alpha(opacity=0);
			}
		  }
		}

		&.social-networks {
		  .col {
			line-height: normal;
		  }

		  .social-links {
			.network-ico {
			  width: 24px;
			  display: inline-block;
			  text-align: center;
			  margin-right: 8px;
			}
			.network-name {
			  width: 135px;
			  display: inline-block;
			  &.active {
				&.fb {
				  color: @color-facebook;
				}

				&.vk {
				  color: @color-vk;
				}
			  }
			}
		  }
		}
	  }
	}
  }
}
