#profile-detail-page {
  .user-detail {
	@right-col-width: 350px;
	.profile-detail-left-col {
	  @padding-right: 18px;
	  width: ~"calc(100% -" @right-col-width~" -" @padding-right ~")";
	  .profile-avatar {
		float: left;
		margin-right: 15px;
	  }
	  .profile-contacts {
		float: left;
		.contact-buttons {
		  margin-top: 10px;
		  a {
			&:not(:last-child) {
			  margin-right: 28px;
			}
			.icon {
			  margin-right: 4px;
			  margin-top: -3px;
			}
		  }
		}
		.mailtext {
		  max-width: 600px;
		  min-width: 250px;
		  min-height: 120px;
		}
	  }
	  .profile-bio-holder {
		margin-top: 30px;
		.profile-bio {
		  max-height: 85px;
		}
	  }
	}
	.profile-detail-right-col {
	  width: @right-col-width;
	  float: right;
	  text-align: right;
	  .counter {
		text-align: left;
		display: inline-block;
		&:not(:last-child) {
		  margin-right: 24px;
		}
		.counter-value {
		}
	  }
	}
  }

  .tabs {
	margin-top: 80px;
	.tab-buttons {
	  margin-bottom: 24px;
	  .tab-button {
		text-decoration: none;
		opacity: 0.48;
		color: @color-grey;
		display: inline-block;

		&:not(:last-child) {
		  margin-right: 32px;
		}

		&.active {
		  opacity: 1;
		  border-bottom: 4px solid @color-blue;
		  pointer-events: none;
		}

		&:hover {
		  opacity: 1;
		}
	  }
	}

	.tab-head-button {
	  margin-top: -7px;
	}

	.tab-container {

	  ul {
		list-style: none;
		margin-top: 32px;
                display: inline-block;
		li {
		  margin-bottom: 20px;
		  float: left;
		}
	  }

	  &#tab-posters,
	  &#tab-subscriptions,
	  &#tab-votes {
		ul {
		  max-width: 402px;
		}

		@media (min-width:856px) {
		  ul {
			max-width: 824px;
			li {
			  &:nth-child(2n) {
				margin-left: 18px;
			  }
			}
		  }
		}

		@media (min-width:1280px) {
		  ul {
			max-width: none;
			li {
			  &:nth-child(2n) {
				margin-left: 0;
				margin-right: 0;
			  }
			  &:nth-child(3n+2) {
				margin: 0 19px 0 20px;
			  }
			}
		  }
		}
	  }

	  &#tab-events {
		ul {
		  max-width: 320px;

		  @media (min-width:688px) {
			max-width:656px;
			li {
			  &:nth-child(2n) {
				margin-left: 16px;
			  }
			}
		  }

		  @media (min-width:1024px) {
			max-width: none;
			li {
			  &:nth-child(2n) {
				margin-left: 0;
				margin-right: 0;
			  }
			  &:nth-child(3n +2) {
				margin: 0 16px;
			  }
			}
		  }
		}
	  }

	}
  }
}
