.pseudo-modal-page {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  .head {
	position: absolute;
	left: 32px;
	right: 32px;
	top: 28px;

	.logo {
	  margin-top: 2px;
	}

	.close-button {
	  display: block;
	  float: right;
	  background: transparent;
	  line-height: 0;
	  padding: 5px;
	  cursor: pointer;
	}
  }

  .body-container {
	position: absolute;
	top: 30px;
	bottom: 30px;
	left: 100px;
	right: 100px;
	box-shadow: 0 12px 24px 0 rgba(51,70,89,0.08);
	background: @color-white;

	.content {
	  position: absolute;
	  bottom: 112px;
	  left: 0;
	  right: 0;
	  top: 0;
	  overflow-x: hidden;
	  overflow-y: scroll;
	  padding: 65px 85px 50px;

	  .row {
		padding: 0;
		&:not(:last-child) {
		  margin-bottom: 16px;
		}

		.col {
		  @left-col-width: 168px;

		  &.left {
			width: 168px;
			line-height: 48px;
			padding-top: 1px;
		  }

		  &.right {
			width: ~"calc(100% -" @left-col-width~")";
			textarea {
			  max-width: 100%;
			  padding-top: 8px;
			  resize: vertical;
			}
		  }

		  input {
			margin: 0;

			&#id_password {
			  margin-right: 17px;
			  width: 50%;
			}
		  }

		  input[type="url"],
		  input[type="text"],
		  input[type="search"],
		  input[type="email"],
		  textarea,
		  select,
		  .select2-dropdown,
		  .select2-search,
		  .select2-results,
		  .select2-container,
		  .select2-selection--single,
		  .select2-container--default,
		  .select2-selection__rendered {
			color: #576572;
			.fontLight();
			font-size: 18px;
			font-weight: 300;
			border-radius: 0 !important;
			-webkit-appearance: none;
			-moz-appearance: none;
			-webkit-border-radius: 0;
			.placeholder({color: #999});
		  }
		}

		&.social-networks {
		  .col.left {
			padding-top: 0;
		  }
		}
	  }
	}

	.bottom-controls {
	  position: absolute;
	  bottom: 0;
	  height: 112px;
	  width: 100%;
	  box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.08);
	  padding: 32px 85px 32px 251px;
	  line-height: 48px;
	}
  }
}
