#register-page {

  &.login-confirm,
  &.register-confirm,
  &.password-change,
  &.password-change-done,
  &.password-reset-confirm,
  &.password-reset-complete {
    padding-top: 40px;

    .row {
      form {
        margin: 10px auto 0;
        width: 300px;

        input {
          width: 100%;
          margin-bottom: 16px;
        }
        label {
          input {
            width: 20px;
          }
          &.button {
            padding-left: 0;
            width: 50%;
          }
        }

        .button {
          margin-top: 24px;
        }
      }
    }
  }
}
