#search-page,
#search-page-paginated {

  @cards_margin: 16px;

  @media (min-width:360px) {
    .row.events-list {
      margin: 0 auto 80px;
      max-width: 90%;
    }
  }

  @media (min-width:480px) {
    .row.events-list {
      margin: 0 auto 80px;
      li.card {
            width: calc(~"50% - " @cards_margin / 2);
            &:nth-child(2n) {
              margin-left: 16px;
            }
      }
    }
  }


  @media (min-width:1024px) {
	.row.events-list {
          margin: 0 auto 80px;
          max-width: 100%;
          .pagination {
            margin-bottom: 0;
            width: 100%;
          }
	  li.card {
		width: calc(~"100% / 3 -" @cards_margin * 2 ~" / 3");
		margin: 0 0 16px 0;
		&:nth-child(2n) {
		  margin: 0 0 16px 0;
		}
		&:nth-child(3n+2) {
		  margin: 0 16px;
		}
	  }
	}
  }

  .row {

	&.title-row {
	  margin-bottom: 32px;
	}

	&.list-row {
	  &:not(:last-child) {
		margin-bottom: 80px;
	  }

	  ul {
		li {
		  list-style: none;
		}
	  }
	}

	&.inline-list {
	  .holder {
		overflow-x: scroll;
		white-space: nowrap;
		ul {
		  li {
			display: inline-block;
		  }
		}
	  }
	  .no-scroll{
	    overflow-x: hidden;
          }
	}

	&.events-title {
	  .col.add-event {
		float: right;
		padding-top: 5px;
		a:not(.button) {
		  margin-top: 27px;
		}
	  }
	}

	&.events-list {
	  li.card {
		display: inline-block;
		text-align: left;
		margin-bottom: 16px;
		float: left;
	  }
	}

	&.posters-title {
	  margin-bottom: 0;

	  .col {
		&.all-collections {
		  float: right;
		}
	  }

	  .collection-list-title {
		display: inline-block;
	  }

	  .all-collections-button {
		display: inline-block;
		margin-left: 30px;
	  }
	}

	&.posters-list {
	  .holder {
		ul {
		  padding-top: 32px;
		  li.card {
			&:not(:last-child) {
			  margin-right: 18px;
			}
		  }
		}
	  }
	}

	&.authors-list {
	  .wrapper {
		ul {
		  li {
			&:not(:last-child) {
			  margin-right: 18px;
			}

			img {
			  border-radius: 50%;
			  margin-bottom: 13px;
			  max-width: 80px;
			  max-height: 80px;
			}
		  }
		}
	  }
	}

        .pagination {
	  margin: 40px 0;
        }
	.event-pagination {
	  text-align: center;
	  .endless_page_current {
		width: 32px;
		height: 32px;
		color: @color-white;
		background-color: @color-blue-dark;
		display: inline-block;
		border-radius: 2px;
		pointer-events: none;
		strong {
		  margin-top: 1px;
		  display: block;
		}
	  }

	  .endless_page_link {
		margin: 0 15px;
		text-decoration: none;
		color: @color-grey;
		opacity: 1;

		&:hover {
		  text-decoration: underline;
		  &.prev, &.next {
			opacity: 0.7;
		  }
		}
	  }
	}

  }
}
