/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.spritesheet {
  background-image: url('../images/spritesheet.png');
  display: inline-block;
  vertical-align: middle;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  .spritesheet {
	background-image: url('../images/spritesheet@2x.png');
    background-size: 792px 40px;
	display: inline-block;
  }
}

.sprite-ico-auto-add-hover {
  width: 18px;
  height: 18px;
  background-position: 0 0;
}

.sprite-ico-auto-add-on {
  width: 18px;
  height: 18px;
  background-position: -18px 0;
}

.sprite-ico-auto-add-off {
  width: 18px;
  height: 18px;
  background-position: -36px 0;
}

.sprite-ico-grey-more-bright {
  width: 16px;
  height: 4px;
  background-position: -54px 0;
}

.sprite-ico-star-greyborder {
  width: 20px;
  height: 24px;
  background-position: -70px 0;
}

.sprite-ico-star {
  width: 20px;
  height: 19px;
  background-position: -90px 0;
}

.sprite-ico-star-border {
  width: 20px;
  height: 19px;
  background-position: -110px 0;
}

.sprite-ico-search {
  width: 22px;
  height: 22px;
  background-position: -770px 0;
}

.sprite-ico-add {
  width: 14px;
  height: 14px;
  background-position: -148px 0;
}

.sprite-ico-check {
  width: 18px;
  height: 14px;
  background-position: -162px 0;
}

.sprite-ico-checkon {
  width: 18px;
  height: 14px;
  background-position: -180px 0;
}

.sprite-ico-white-vkontakte {
  width: 21px;
  height: 12px;
  background-position: -198px 0;
}

.sprite-ico-white-facebook {
  width: 11px;
  height: 23px;
  background-position: -219px 0;
}

.sprite-ico-bif-pin {
  width: 28px;
  height: 40px;
  background-position: -230px 0;
}

.sprite-ico-colored-bookmark-on {
  width: 14px;
  height: 18px;
  background-position: -258px 0;
}

.sprite-ico-colored-close {
  width: 14px;
  height: 14px;
  background-position: -272px 0;
}

.sprite-ico-colored-facebook {
  width: 8px;
  height: 17px;
  background-position: -286px 0;
}

.sprite-ico-colored-search {
  width: 18px;
  height: 18px;
  background-position: -294px 0;
}

.sprite-ico-colored-twitter {
  width: 14px;
  height: 12px;
  background-position: -312px 0;
}

.sprite-ico-colored-vkontakte {
  width: 16px;
  height: 9px;
  background-position: -326px 0;
}

.sprite-ico-grey-close {
  width: 14px;
  height: 14px;
  background-position: -342px 0;
}

.sprite-ico-grey-dropdown {
  width: 10px;
  height: 5px;
  background-position: -356px 0;
}

.sprite-ico-grey-facebook {
  width: 8px;
  height: 17px;
  background-position: -366px 0;
}

.sprite-ico-grey-ico-grey-add {
  width: 14px;
  height: 14px;
  background-position: -374px 0;
}

.sprite-ico-grey-more {
  width: 16px;
  height: 4px;
  background-position: -388px 0;
}

.sprite-ico-grey-twitter {
  width: 14px;
  height: 12px;
  background-position: -404px 0;
}

.sprite-ico-grey-unfold {
  width: 9px;
  height: 18px;
  background-position: -418px 0;
}

.sprite-ico-grey-vkontakte {
  width: 16px;
  height: 9px;
  background-position: -427px 0;
}

.sprite-ico-light-add {
  width: 14px;
  height: 14px;
  background-position: -443px 0;
}

.sprite-ico-light-bookmark-off {
  width: 14px;
  height: 18px;
  background-position: -457px 0;
}

.sprite-ico-normal-art {
  width: 18px;
  height: 18px;
  background-position: -471px 0;
}

.sprite-ico-normal-back {
  width: 16px;
  height: 16px;
  background-position: -489px 0;
}

.sprite-ico-normal-biz {
  width: 20px;
  height: 19px;
  background-position: -505px 0;
}

.sprite-ico-normal-bookmark-off {
  width: 14px;
  height: 18px;
  background-position: -525px 0;
}

.sprite-ico-normal-film {
  width: 16px;
  height: 18px;
  background-position: -539px 0;
}

.sprite-ico-normal-next {
  width: 8px;
  height: 12px;
  background-position: -555px 0;
}

.sprite-ico-normal-prev {
  width: 8px;
  height: 12px;
  background-position: -563px 0;
}

.sprite-ico-normal-radio-off {
  width: 20px;
  height: 20px;
  background-position: -571px 0;
}

.sprite-ico-normal-radio-on {
  width: 20px;
  height: 20px;
  background-position: -591px 0;
}

.sprite-ico-normal-show {
  width: 20px;
  height: 20px;
  background-position: -611px 0;
}

.sprite-ico-normal-sport {
  width: 20px;
  height: 20px;
  background-position: -631px 0;
}

.sprite-ico-normal-theater {
  width: 19px;
  height: 21px;
  background-position: -651px 0;
}

.sprite-ico-small-bookmark-on {
  width: 8px;
  height: 10px;
  background-position: -670px 0;
}

.sprite-ico-small-like {
  width: 8px;
  height: 7px;
  background-position: -678px 0;
}

.sprite-ico-small-star {
  width: 10px;
  height: 10px;
  background-position: -686px 0;
}

.sprite-ico-small-view {
  width: 12px;
  height: 8px;
  background-position: -696px 0;
}

.sprite-logo-colored-ww {
  width: 42px;
  height: 20px;
  background-position: -708px 0;
}

.sprite-logo-grey-stat {
  width: 18px;
  height: 20px;
  background-position: -750px 0;
}
