.row.subheader {
  padding: 0;
  .container {
	max-width: 1280px;
	padding: 0 16px;
	line-height: 80px;

	.col {
	  &.go-back {
		.arrow-back {
		  margin-right: 16px;
		  vertical-align: middle;
		}
	  }

	  &.edit-button {
		float: right;
	  }

	  &.social-buttons {
		float: right;
		.icon {
		  margin-right: 4px;
		  margin-top: -3px;
		}

		.social-links {
		  a {
			margin-left: 30px;

			&.fb {
			  color: @color-facebook;
			}

			&.vk {
			  color: @color-vk;
			}

			&.tw {
			  color: @color-tw;
			}
		  }
		}
	  }

	  .logo {
		text-indent: 9999px;
		overflow: hidden;
	  }
	}

  }
}