.md-select *, .md-select :after, .md-select :before {
  box-sizing: border-box;
  font-weight: 400;
  margin-bottom: 0;
}
.md-select [type=button] {
  background: #fff;
  border:none;
  color: rgba(0, 0, 0, 0.73);
  cursor: default;
  display: block;
  padding: 1px 0 1px 0;
  position: relative;
  text-align: left;
  text-shadow: none;
  width: 100%;
  z-index: 1;
  outline: none;
  overflow: hidden;
  line-height: 18px;
}
.md-select.schedule-repeat [type=button]:focus, .md-select.schedule-repeat [type=button]:hover {
  background: rgba(0, 0, 0, 0.1);
}

.md-select ul[role=listbox] {
  background-color: white;
  cursor: default;
  list-style: none;
  line-height: 26px;
  overflow: hidden;
  margin: 0;
  max-height: 0;
  position: absolute;
  padding: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
.md-select ul[role=listbox] li {
  height: 40px;
  margin: 0;
  padding: 0 5px;
  line-height: 18px;
  outline: none;
  overflow: hidden;
}
.md-select ul[role=listbox] li:focus, .md-select ul[role=listbox] li:hover, .md-select ul[role=listbox] li.active {
  background: rgba(0, 0, 0, 0.1);
}
.md-select.active ul {
  max-height: 200px;
  overflow: auto;
  padding: 8px 0 16px 0px;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
