.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.event-card img {
    width: 100%;
}
.modal-body .event-card {
    cursor: pointer;
    border: 1px solid #fff;
}
.modal-body .event-card:not(.empty).selected {
    border: 1px solid #bababa;
}
.modal-body .empty .card-section {
    width: 150px;
    height: 150px;
    border: 1px dashed #bababa;
}
.modal-body .empty .card-section:after {
    content: '+';
    line-height: 150px;
    text-align: center;
    display: block;
    color: #bababa;
    font-size: 20px;
}
