/* Generated data URIs used for preview purposes only */
/* Be sure that you replace data URIs with generated images */
.sprite {
	background-image: url(../images/icons-sprite.png);
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
}

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
	.sprite {
		background-image: url(../images/icons-sprite@2x.png);
		background-size: 436px 394px;
        display: inline-block;
        vertical-align: middle;
	}
}

.sprite-logo {
	width: 41px;
	height: 20px;
	background-position: 0 0;
}

.sprite-logo-white {
	width: 41px;
	height: 20px;
	background-position: -41px -20px;
}

.sprite-ico-bookmark-on {
	width: 8px;
	height: 10px;
	background-position: -82px -40px;
}

.sprite-ico-close {
	width: 14px;
	height: 14px;
	background-position: -90px -50px;
}

.sprite-ico-dark-search {
	width: 18px;
	height: 18px;
	background-position: -118px -78px;
}

.sprite-ico-dark-favorite-off {
	width: 20px;
	height: 19px;
	background-position: -136px -96px;
}

.sprite-ico-dark-bookmark-off {
	width: 14px;
	height: 18px;
	background-position: -156px -115px;
}

.sprite-ico-more {
	width: 16px;
	height: 4px;
	background-position: -170px -133px;
}

.sprite-ico-visibility {
	width: 12px;
	height: 8px;
	background-position: -186px -137px;
}

.sprite-ico-twitter {
	width: 14px;
	height: 12px;
	background-position: -198px -145px;
}

.sprite-ico-favorite-border {
	width: 20px;
	height: 19px;
	background-position: -212px -157px;
}

.sprite-ico-favorite {
	width: 8px;
	height: 7px;
	background-position: -242px -186px;
}

.sprite-ico-vkontakte {
	width: 16px;
	height: 9px;
	background-position: -250px -193px;
}

.sprite-ico-date {
	width: 18px;
	height: 20px;
	background-position: -266px -202px;
}

.sprite-ico-twitter-active {
	width: 14px;
	height: 12px;
	background-position: -284px -222px;
}

.sprite-ico-arrowback {
	width: 16px;
	height: 16px;
	background-position: -316px -252px;
}

.sprite-ico-facebook-active {
	width: 8px;
	height: 17px;
	background-position: -332px -268px;
}

.sprite-ico-dropdown {
	width: 10px;
	height: 5px;
	background-position: -340px -285px;
}

.sprite-ico-vkontakte-active {
	width: 16px;
	height: 9px;
	background-position: -350px -290px;
}

.sprite-ico-time {
	width: 20px;
	height: 20px;
	background-position: -366px -299px;
}

.sprite-ico-place-big {
	width: 28px;
	height: 40px;
	background-position: -386px -319px;
}

.sprite-ico-facebook {
	width: 8px;
	height: 17px;
	background-position: -414px -359px;
}

.sprite-ico-bookmark {
	width: 14px;
	height: 18px;
	background-position: -422px -376px;
}
