{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags seo_tags %}

{% block title %}{% if city_category.title %}{{ city_category.title }}{% else %}{{ category.title }}{% endif %}{% endblock %}
{% block og_title %}{% if city_category.title %}{{ city_category.title }}{% else %}{{ category.title }}{% endif %}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ request.path }}{% endblock %}
{% block og_image %}{% if category.image %}{{ category.image }}{% else %}https://whatwhere.world/static/images/placeholder.png{% endif %}{% endblock %}

{% block og_description %}{{ city_category.description_short|default:category.description_short|striptags|truncatechars:255 }}{% endblock %}
{% block meta_description %}{{ city_category.description_short|default:category.description_short|striptags|truncatechars:55 }}{% endblock %}

{% block extrametadata %}
  <link rel="canonical" href="https://{{ request.get_host }}{{ request.path }}"/>
{% endblock %}

{% block wrapper_class %}without-bg-line{% endblock %}

{% block content %}

<!-- subheader -->

{% include 'include/_subheader.html' with city=city_category.city category=category %}

<div class="page-body ui container" id="category-detail-page">

  <div class="collection-detail category-detail row">

    <div class="row category-promo">
      <div class="category-slogan">
        {% if city_category %}
          <h1>{{ city_category.h1_seo|default:category.h1_seo|default:category }}{% if not city_category.h1_seo %} {{ city.name }}{% endif %}</h1>
        {% else %}
          <h1>{% if not category.h1_seo %}{{ category.parent.title }} {% endif %}{{ category.h1_seo|default:category.title }}{% if city %} {{ city.name }} {% endif %}</h1>
        {% endif %}
      </div>
    </div>

    {% if children %}
      <div class="row category-children">
        <!-- TODO render children subcategory -->
        <div class="row event-categories">
          <ul class="large-block-grid-3">
            {% for child in children %}
              <li>
                {% if city %}
                  <a title="{{ category.title }} {{ child.title }}"
                    href="{% url 'city-subcategory-detail' city.slug|get_city_name category.slug child.slug %}"
                    class="h32 caption-link">{{ child.title }}
                  </a>
                {% else %}
                  <a title="{{ category.title }} {{ child.title }}"
                    href="{% url 'subcategory-detail' category.slug child.slug %}"
                    class="h32 caption-link">{{ child.title }}
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <hr>
    {% endif %}

    {% if city_category.description_short %}
      <div class="collection-detail-left-col row">
        <div class="collection-description-holder last-update-title">
          {{ city_category.description_short|truncatechars_html:700|safe }}
        </div>
      </div>
    {% else %}
      {% if category.description_short %}
        <div class="collection-detail-left-col row">
          <div class="collection-description-holder last-update-title">
            {{ category.description_short|truncatechars_html:700|safe }}
          </div>
        </div>
      {% endif %}
    {% endif %}

    <!-- Events list -->
    <div class="collection-detail-left-col col">
      {% if events_count %}
        <div class="events-in-collection">
          <!-- List -->
          <div class="events-buckets-initial">
            {% for facet in month_events %}
              {% with month=facet.key doc_count=facet.doc_count %}
                {% if facet.events|length %}
                  <div class="date-col events-list">
                    <div class="row">
                      <a class="date-col subtitle" href="#{{ month|date:'m' }}" data-month="{{ month|date:'m' }}">
                        {{ month|date:'F Y'|title }} ({{facet.events|length}})
                      </a>
                    </div>
                    <ul id="{{ month|date:'m-d' }}" class="events-list large-block-grid-3">
                      {% for event_id, date_key in facet.events %}
                        {% with event=events|get_event:event_id %}
                          {% if event %}
                            {% include event_card_template with bucket_date_key=date_key %}
                          {% endif %}
                        {% endwith %}
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </div>
        </div>
      {% endif %}

      {% if city_category.description_full %}
        <div class="collection-description-holder last-update-title">
          {{ city_category.description_full|truncatechars_html:2000|safe }}
        </div>
      {% else %}
        {% if category.description_full %}
          <div class="collection-description-holder last-update-title">
            {{ category.description_full|truncatechars_html:2000|safe }}
          </div>
        {% endif %}
      {% endif %}
    </div>

    <div class="collection-detail-right-col col sticky-item hide-for-small">
      {% if category.top_places %}
        <div class="row places">
          <span class="places-title subtitle">{% trans 'Popular places' %}</span>
          <ul class="row">
            {% for place in category.top_places %}
              {% if place %}
                <li>
                  <div class="place-item" data-place-id="{{ place.meta.id }}">
                    <a class="body-link" href="{% url 'place-detail' place.provider_id place.slug %}">{{ place.title|safe }}</a>
                  </div>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

  </div>

</div>
{% endblock %}
