{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags seo_tags %}

{% block title %}{% trans 'category_list_title' %}{% endblock %}
{% block og_title %}{% trans 'category_list_title' %}{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ request.path }}{% endblock %}

{% block wrapper_class %}without-bg-line{% endblock %}

{% block content %}

<!-- subheader -->

{% include 'include/_subheader.html' with with_logo='true' %}

<div class="page-body ui container" id="category-detail-page">

  <div class="collection-detail category-detail row">

    <div class="row category-promo">
      <div class="category-slogan">
        <h1>{% trans 'category_list_title' %}</h1>
      </div>
    </div>

    <div class="collection-detail-left-col row">
      <div class="collection-description-holder last-update-title">
        <ul>
          {% for parent in category_list %}
            {% if parent.subcategories.count %}
              <li>
                <a href="{% url 'category-detail' parent.pk parent.slug %}" class="caption-link">{{ parent.title }}</a>
                <ul>
                {% for child in parent.subcategories.all %}
                  <li>
                    <a href="{% url 'subcategory-detail' child.parent.slug child.slug %}" class="caption-link">{{ child.title }}</a>
                  </li>
                {% endfor %}
                </ul>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

    <!--
    <div class="row category-promo">
      <div class="category-slogan">
        <h1>{% trans 'cities_list_title' %}</h1>
      </div>
    </div>

    {% regroup city_categories by city as city_list %}
    <div class="collection-detail-left-col row">
      <div class="collection-description-holder last-update-title">
        <ul>
          {% for city in city_list %}
            <li>
              <a href="{% url 'city-detail' city.grouper.slug %}" class="caption-link">{{ city.grouper }}</a>
              <ul>
              {% for city_category_parent in city.list %}
                <li>
                  <a href="{% url 'city-category-detail' city_category_parent.city.slug|get_city_name city_category_parent.category.slug %}" class="caption-link">{{ city_category_parent.category }}</a>
                </li>
              {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    -->

  </div>

</div>
{% endblock %}
