#event-create-page input.error {
    border: 1px solid #F1453D;
}

#event-create-page span.error {
    display: block !important;
    font-size: 12px;
    color: #F1453D;
}

#event-create-page .event-schedule-row .sprite-ico-close {
    padding: 0;
    margin-left: 5px;
}

.event-form .event-images-wrapper .dz-preview
@media (min-width: 550px) {
    .event-images-wrapper  {
        position: absolute;
        width: 48%;
        height: 100%;
        left: 0;
        max-height: none;
    }
}
