#event-detail-page .event-time-natural {
    font-size: 85%;
    opacity: .8;
    padding-left: 10px;
}

#event-detail-page .collection-author img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    border-radius: 100px;
}

#event-detail-page .event-description .event-read-more {
    position: absolute;
    right: 0;
    bottom: -15px;
}

