#profile-detail-page {}
#profile-detail-page .profile-info {
    line-height: 80px;
}
#profile-detail-page .profile-fullname {
    line-height: 50px;
}
#profile-detail-page .social-links {
    line-height: 20px;
}
#profile-detail-page .social-links a {
    margin-right: 30px;
    text-decoration: none;
}
#profile-detail-page .profile-headshot {
    border-radius: 300px;
    display: inline-block;
    vertical-align: middle;
}
#profile-detail-page .profile-info p {
    margin-bottom: 10px;
}
