#register-page {
    text-align: center;
}
#register-page h1 {
    padding-bottom: 20px;
}

.register-form input[type="email"],
.register-form input[type="number"],
.register-form input[type="search"],
.register-form input[type="text"],
.register-form input[type="tel"],
.register-form input[type="url"],
.register-form input[type="password"],
.register-form textarea,
.register-form select {
    width: 50%;
}
