{% extends "admin/base_site.html" %}
{% load admin_static admin_list i18n %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/changelists.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
  {{ media.css }}
  <style>
    #result_list .changed {
        background-color: #ffc;
    }
    #changelist table thead th .text {
        padding: 2px 5px;
    }
    #changelist table tbody td:first-child {
        text-align: left;
    }
    #changelist-form ul.errorlist {
        margin: 0 !important;
    }
    .help {
        font-weight: normal !important;
    }
  </style>
{% endblock %}

{% block extrahead %}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:'../../jsi18n/' }}"></script>
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% block content %}
  <div id="content-main" class="constance">
    <div class="module" id="changelist">
        <form id="changelist-form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}

            {% if form.errors %}
            <ul class="errorlist">
            {% endif %}
            {% for field in form.hidden_fields %}
                {% for error in field.errors %}
                  <li>{{ error }}</li>
                {% endfor %}
                {{ field }}
            {% endfor %}
            {% if form.errors %}
            </ul>
            {% endif %}

            {% if fieldsets %}
              {% for fieldset in fieldsets %}
              <fieldset class="module">
                  <h2>{{ fieldset.title }}</h2>
                  {% with config_values=fieldset.config_values %}
                    {% include "admin/constance/includes/results_list.html" %}
                  {% endwith %}
              </fieldset>
              {% endfor %}
            {% else %}
              {% include "admin/constance/includes/results_list.html" %}
            {% endif %}

            <p class="paginator">
              {% if form.initial.task %}
                (<b><span style="color: yellow;">{{ form.initial.task.state }}</span></b>)
                <span>{{ form.initial.task.name }}&nbsp;&mdash;&nbsp;</span>
                <span><a href="/admin/celery_monitor/taskstate/{{ form.initial.task.id }}/change/" target="_blank">{{ form.initial.task.task_id }}</a></span>
              {% else %}
                <input type="submit" name="_save" class="default" value="{% trans 'Save' %}"/>
              {% endif %}
            </p>
        </form>
    </div>
  </div>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
  &rsaquo; {{ opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
