@server-address: "https://qa.whatwhere.world";
@widget-directory: "/static/widget";
@font-directory: "@{server-address}@{widget-directory}";
@images-dirrectory: "@{server-address}@{widget-directory}/images";

@color-grey: #2D3E4F;
@color-blue: #0691CB;

.fontLight() {
  font-family: UbuntuLight, sans-serif;
}

.noImageBackground() {
  @background-color: #f2f3f4;
  @background-position: center;
  @background-repeat: no-repeat;

  background: url('@{images-dirrectory}/no_image_bg_logo.png') @background-repeat @background-position @background-color;

  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
    background: url('@{images-dirrectory}//no_image_bg_logo@2x.png') @background-repeat @background-position @background-color;
    background-size: 84px 40px;
  }
}

@font-face {
  font-family: UbuntuLight;
  src:url("@{font-directory}/UbuntuLight/UbuntuLight.eot");
  src:url("@{font-directory}/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"),
  url("@{font-directory}/UbuntuLight/UbuntuLight.woff") format("woff"),
  url("@{font-directory}/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style:normal;
  font-weight:normal
}

#what_where_event,
#what_where_collection {
  .fontLight();

  .with-clearfix {
    &::after {
      content: "";
      display: table;
      clear: both;
    }
  }
  
  .invisible {
    visibility: hidden !important;
  }

  .hidden {
    display: none !important;
  }

  div, a, ul, li, h2, h3, h4, h5, h6, span {
    margin: 0;
    padding: 0;
    line-height: normal;
  }

  p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  a {
    outline: none;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  ul li {
    list-style: none;
  }

  h2, .headline {
    .fontLight();
    margin-bottom: 32px;
    word-wrap: break-word;
    font-weight: 300;
    color: @color-grey;
    font-size: 42px;
    line-height: 48px;
  }

  h3, .title {
    .fontLight();
    font-weight: 300;
    color: @color-grey;
    font-size: 36px;
    margin: 0;
    line-height: 48px;
  }

  h4,
  .subtitle {
    .fontLight();
    font-weight: 300;
    color: @color-grey;
    font-size: 24px;
    margin: 0;
    line-height: 32px;
  }

  h5,
  .body,
  .body-link {
    .fontLight();
    font-weight: 300;
    color: #576572;
    font-size: 18px;
    margin: 0;
    line-height: 28px;
    text-decoration: none;
  }

  .body-link {
    color: #38A7D5;
    &:hover {
      text-decoration: underline;
    }

    &.grey {
      color: #576572;
    }
  }

  h6,
  .caption,
  .caption-link {
    .fontLight();
    font-size: 14px;
    font-weight: 300;
    color: #6C7783;
    margin: 0;
    text-decoration: none;
    line-height: 20px;
  }

  .caption-link {
    color: @color-blue;
    &:hover {
      text-decoration: underline;
    }
  }

  .ww-link {
    margin-bottom: 22px;
    display: block;
  }

  &.one-col {
    .event-bucket {
      .event-bucket-title-holder {
        height: auto;
        margin-bottom: 22px;
        
        .bucket-title {
          float: none;
          margin-bottom: 0;
          text-align: left;
        }

        .ww-link-main {
          float: none;
          right: auto;
          display: block;
          text-align: left;
          margin-right: auto;
          position: relative;
          top: auto;
        }
      }

      .events-list {
        .card-event {
          float: none;
          margin-right: 0;
        }
      }
    }
  }

}

#what_where_event {
  @padding-h: 23px;
  position: fixed;
  z-index: 2147483647;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  .event-content {
    @modal_width: 700px;
    position: relative;
    background-color: #fafafa;
    margin: 72px auto;
    padding-top: 60px;
    border-radius: 2px 2px 0 0;
    overflow: hidden;
    max-width: 1000px;
    width: 80%;
    //min-width: 700px;

    .close-modal-button {
      z-index: 99999;
      @close-btn-width: 32px;
      position: fixed;
      top: 40px;
      left: 50%;
      margin-left: @modal_width / 2 + 90px;

      width: @close-btn-width;
      height: @close-btn-width;
      line-height: @close-btn-width;
      background: white;
      cursor: pointer;

      text-align: center;

      border-radius: 2px;

      .close-button-ico {
        background: url('@{images-dirrectory}/ico_grey_close@2x.png') no-repeat center;
        width: 14px;
        height: 14px;
        background-size: 14px 14px;
        display: inline-block;
        margin-top: 9px;
      }

      &:hover {

      }
    }

    .ww-row {
      padding: 0 @padding-h;
    }

    .subheader {
      @subheader-height: 64px;
      background-color: white;
      margin: 0 0 40px 0;
      padding: 0 @padding-h;
      height: @subheader-height;

      .go-back-button {
        float: right;
        line-height: @subheader-height;
      }
    }

    .event-info {
      margin-bottom: 30px;

      .event-place {
        width: 42%;
        float: left;
      }

      .event-schedule-dropdown {
        width: 25%;
        margin-left: 4%;
        float: left;
        position: relative;
        .schedule-button {
          background: white;
          border: none;
          display: block;
          padding: 1px 0 1px 10px;
          text-align: left;
          width: 100%;
          outline: none;
          overflow: hidden;
          line-height: 18px;
          cursor: pointer;
        }
        .schedule-list {
          position: absolute;
          z-index: 1;
          background-color: white;
          cursor: default;
          list-style: none;
          line-height: 26px;
          overflow: hidden;
          margin: 0;
          max-height: 0;
          padding: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          -webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
          transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
          width: 100%;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;

          &.active {
            max-height: 200px;
            overflow: auto;
            padding: 8px 0 16px 0px;
            z-index: 2;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
          }

          li {
            height: 40px;
            margin: 0;
            padding: 0 5px;
            line-height: 18px;
            outline: none;
            overflow: hidden;
            font-size: 14px;
            cursor: pointer;

            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }

      .event-price {
        width: 25%;
        margin-left: 4%;
        float: left;
      }
    }

    .event-images {
      width: 100%;
      height: 475px;
      .noImageBackground();
      margin-bottom: 30px;
      position: relative;

      .scene {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;

        .track {
          transition: transform 500ms linear;
          -moz-transition: transform 500ms linear;
          -webkit-transition: transform 500ms linear;
          -o-transition: transform 500ms linear;
          &.without-transition {
            -moz-transition: none;
            -webkit-transition: none;
            -o-transition: transform 0 ease-in;
            transition: none;
          }
          .slide {
            float: left;
            position: relative;
            img {
              max-width: 100%;
              max-height: 100%;
              position: absolute;
              top: 50%;
              left: 50%;
              -ms-transform: translate(-50%, -50%);
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .btn-prev,
      .btn-next {
        background-color: #d1d1cd;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        cursor: pointer;
        outline: none;
        border-radius: 2px;
        text-align: center;
        line-height: 32px;

        i {
          width: 8px;
          height: 12px;
          display: inline-block;
        }

        &:hover {
          background-color: white;
        }
      }

      .btn-prev {
        left: 24px;
        i {
          background: url('@{images-dirrectory}/ico_normal_prev@2x.png') no-repeat center;
          background-size: 8px 12px;
        }
      }

      .btn-next {
        right: 24px;
        i {
          background: url('@{images-dirrectory}/ico_normal_next@2x.png') no-repeat center;
          background-size: 8px 12px;
        }
      }

      .dots {
        position: absolute;
        display: block;
        bottom: -35px;
        width: 100%;
        text-align: center;
        .dot-item {
          position: relative;
          display: inline-block;
          width: 20px;
          height: 20px;
          cursor: pointer;

          &.active {
            pointer-events: none;
            .dot {
              width: 8px;
              height: 8px;
              margin-left: -4px;
              margin-top: -4px;
            }
          }

          .dot {
            position: absolute;
            display: block;
            width: 4px;
            height: 4px;
            background-color: @color-grey;
            top: 50%;
            left: 50%;
            margin-left: -2px;
            margin-top: -2px;
            border-radius: 50%;
          }
        }
      }
    }

    .event-description {
      h4 {
        margin-bottom: 24px;
      }
      margin-bottom: 40px;

      .read-more-content {
        max-height: 172px;
        overflow: hidden;

        &.show {
          max-height: none!important;
        }
      }
    }

    .event-map-container {
      width: 100%;
      height: 288px;
      position: relative;

      #event-map {
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
      }

      .event-place-card {
        width: 300px;
        background: white;
        padding: 24px 16px 32px;
        position: relative;
        margin-left: 22px;

        h4 {
          margin-bottom: 24px;
        }

        .place-title {
          margin-bottom: 4px;
        }

        .place-address {
          margin-bottom: 24px;
        }

        .place-phone,
        .place-email {
          display: block;
          margin-bottom: 16px;
          word-wrap: break-word;
        }
      }
    }
  }

}


#what_where_collection {
  font-size: 24px;

  .event-bucket {

    margin: 0 0 27px 0;

    .event-bucket-title-holder {
      position: relative;
      height: 54px;
      .bucket-title {
        margin-bottom: 22px;
        display: block;
        text-decoration: none;
        float: left;
      }

      .ww-link-main {
        position: absolute;
        top: 9px;
        i {
          background: url('@{images-dirrectory}/logo_colored_ww@2x.png') no-repeat center;
          width: 42px;
          height: 20px;
          background-size: 42px 20px;
          display: inline-block;
          vertical-align: middle;
          margin-left: 12px;
        }
      }
    }

    ul {
      margin: 0;
    }
  }

  //

  .card {
    display: inline-block;
    text-align: left;
    margin-bottom: 16px;
    margin-right: 16px;
    float: left;

    a {
      text-decoration: none;
      display: block;
    }

    &.card-event {
      @width: 320px;
      @height: 192px;

      position: relative;
      width: @width;

      .card-image {
        width: 100%;
        height: @height;
        overflow: hidden;
        position: relative;
        border-radius: 2px 2px 0 0;
        .noImageBackground();

        .card-img {
          width: 100%;
          height: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: 50% 50%;
        }
      }

      .card-section {
        background: white;
        height: 106px;
        padding: 14px 15px;
        overflow: hidden;
        .title {
          font-size: 18px;
          line-height: 28px;
          max-height: 56px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          text-transform: capitalize;
          margin-bottom: 5px;
        }

        .subtitle {
          font-size: 14px;
          line-height: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .more-link {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
  }

}