@font-face {
  font-family: UbuntuLight;
  src: url("https://qa.whatwhere.world/static/widget/UbuntuLight/UbuntuLight.eot");
  src: url("https://qa.whatwhere.world/static/widget/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype"), url("https://qa.whatwhere.world/static/widget/UbuntuLight/UbuntuLight.woff") format("woff"), url("https://qa.whatwhere.world/static/widget/UbuntuLight/UbuntuLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
#what_where_event,
#what_where_collection {
  font-family: UbuntuLight, sans-serif;
}
#what_where_event .with-clearfix::after,
#what_where_collection .with-clearfix::after {
  content: "";
  display: table;
  clear: both;
}
#what_where_event .invisible,
#what_where_collection .invisible {
  visibility: hidden !important;
}
#what_where_event .hidden,
#what_where_collection .hidden {
  display: none !important;
}
#what_where_event div,
#what_where_collection div,
#what_where_event a,
#what_where_collection a,
#what_where_event ul,
#what_where_collection ul,
#what_where_event li,
#what_where_collection li,
#what_where_event h2,
#what_where_collection h2,
#what_where_event h3,
#what_where_collection h3,
#what_where_event h4,
#what_where_collection h4,
#what_where_event h5,
#what_where_collection h5,
#what_where_event h6,
#what_where_collection h6,
#what_where_event span,
#what_where_collection span {
  margin: 0;
  padding: 0;
  line-height: normal;
}
#what_where_event p,
#what_where_collection p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
#what_where_event a,
#what_where_collection a {
  outline: none;
  text-decoration: none;
}
#what_where_event a:hover,
#what_where_collection a:hover {
  text-decoration: underline;
}
#what_where_event ul li,
#what_where_collection ul li {
  list-style: none;
}
#what_where_event h2,
#what_where_collection h2,
#what_where_event .headline,
#what_where_collection .headline {
  font-family: UbuntuLight, sans-serif;
  margin-bottom: 32px;
  word-wrap: break-word;
  font-weight: 300;
  color: #2D3E4F;
  font-size: 42px;
  line-height: 48px;
}
#what_where_event h3,
#what_where_collection h3,
#what_where_event .title,
#what_where_collection .title {
  font-family: UbuntuLight, sans-serif;
  font-weight: 300;
  color: #2D3E4F;
  font-size: 36px;
  margin: 0;
  line-height: 48px;
}
#what_where_event h4,
#what_where_collection h4,
#what_where_event .subtitle,
#what_where_collection .subtitle {
  font-family: UbuntuLight, sans-serif;
  font-weight: 300;
  color: #2D3E4F;
  font-size: 24px;
  margin: 0;
  line-height: 32px;
}
#what_where_event h5,
#what_where_collection h5,
#what_where_event .body,
#what_where_collection .body,
#what_where_event .body-link,
#what_where_collection .body-link {
  font-family: UbuntuLight, sans-serif;
  font-weight: 300;
  color: #576572;
  font-size: 18px;
  margin: 0;
  line-height: 28px;
  text-decoration: none;
}
#what_where_event .body-link,
#what_where_collection .body-link {
  color: #38A7D5;
}
#what_where_event .body-link:hover,
#what_where_collection .body-link:hover {
  text-decoration: underline;
}
#what_where_event .body-link.grey,
#what_where_collection .body-link.grey {
  color: #576572;
}
#what_where_event h6,
#what_where_collection h6,
#what_where_event .caption,
#what_where_collection .caption,
#what_where_event .caption-link,
#what_where_collection .caption-link {
  font-family: UbuntuLight, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #6C7783;
  margin: 0;
  text-decoration: none;
  line-height: 20px;
}
#what_where_event .caption-link,
#what_where_collection .caption-link {
  color: #0691CB;
}
#what_where_event .caption-link:hover,
#what_where_collection .caption-link:hover {
  text-decoration: underline;
}
#what_where_event .ww-link,
#what_where_collection .ww-link {
  margin-bottom: 22px;
  display: block;
}
#what_where_event.one-col .event-bucket .event-bucket-title-holder,
#what_where_collection.one-col .event-bucket .event-bucket-title-holder {
  height: auto;
  margin-bottom: 22px;
}
#what_where_event.one-col .event-bucket .event-bucket-title-holder .bucket-title,
#what_where_collection.one-col .event-bucket .event-bucket-title-holder .bucket-title {
  float: none;
  margin-bottom: 0;
  text-align: left;
}
#what_where_event.one-col .event-bucket .event-bucket-title-holder .ww-link-main,
#what_where_collection.one-col .event-bucket .event-bucket-title-holder .ww-link-main {
  float: none;
  right: auto;
  display: block;
  text-align: left;
  margin-right: auto;
  position: relative;
  top: auto;
}
#what_where_event.one-col .event-bucket .events-list .card-event,
#what_where_collection.one-col .event-bucket .events-list .card-event {
  float: none;
  margin-right: 0;
}
#what_where_event {
  position: fixed;
  z-index: 2147483647;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
#what_where_event .event-content {
  position: relative;
  background-color: #fafafa;
  margin: 72px auto;
  padding-top: 60px;
  border-radius: 2px 2px 0 0;
  overflow: hidden;
  max-width: 1000px;
  width: 80%;
}
#what_where_event .event-content .close-modal-button {
  z-index: 99999;
  position: fixed;
  top: 40px;
  left: 50%;
  margin-left: 440px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: white;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
}
#what_where_event .event-content .close-modal-button .close-button-ico {
  background: url('https://qa.whatwhere.world/static/widget/images/ico_grey_close@2x.png') no-repeat center;
  width: 14px;
  height: 14px;
  background-size: 14px 14px;
  display: inline-block;
  margin-top: 9px;
}
#what_where_event .event-content .ww-row {
  padding: 0 23px;
}
#what_where_event .event-content .subheader {
  background-color: white;
  margin: 0 0 40px 0;
  padding: 0 23px;
  height: 64px;
}
#what_where_event .event-content .subheader .go-back-button {
  float: right;
  line-height: 64px;
}
#what_where_event .event-content .event-info {
  margin-bottom: 30px;
}
#what_where_event .event-content .event-info .event-place {
  width: 42%;
  float: left;
}
#what_where_event .event-content .event-info .event-schedule-dropdown {
  width: 25%;
  margin-left: 4%;
  float: left;
  position: relative;
}
#what_where_event .event-content .event-info .event-schedule-dropdown .schedule-button {
  background: white;
  border: none;
  display: block;
  padding: 1px 0 1px 10px;
  text-align: left;
  width: 100%;
  outline: none;
  overflow: hidden;
  line-height: 18px;
  cursor: pointer;
}
#what_where_event .event-content .event-info .event-schedule-dropdown .schedule-list {
  position: absolute;
  z-index: 1;
  background-color: white;
  cursor: default;
  list-style: none;
  line-height: 26px;
  overflow: hidden;
  margin: 0;
  max-height: 0;
  padding: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  transition: all 0.15s cubic-bezier(0.35, 0, 0.25, 1);
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
#what_where_event .event-content .event-info .event-schedule-dropdown .schedule-list.active {
  max-height: 200px;
  overflow: auto;
  padding: 8px 0 16px 0px;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#what_where_event .event-content .event-info .event-schedule-dropdown .schedule-list li {
  height: 40px;
  margin: 0;
  padding: 0 5px;
  line-height: 18px;
  outline: none;
  overflow: hidden;
  font-size: 14px;
  cursor: pointer;
}
#what_where_event .event-content .event-info .event-schedule-dropdown .schedule-list li:hover {
  background: rgba(0, 0, 0, 0.1);
}
#what_where_event .event-content .event-info .event-price {
  width: 25%;
  margin-left: 4%;
  float: left;
}
#what_where_event .event-content .event-images {
  width: 100%;
  height: 475px;
  background: url('https://qa.whatwhere.world/static/widget/images/no_image_bg_logo.png') no-repeat center #f2f3f4;
  margin-bottom: 30px;
  position: relative;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  #what_where_event .event-content .event-images {
    background: url('https://qa.whatwhere.world/static/widget/images//no_image_bg_logo@2x.png') no-repeat center #f2f3f4;
    background-size: 84px 40px;
  }
}
#what_where_event .event-content .event-images .scene {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}
#what_where_event .event-content .event-images .scene .track {
  transition: transform 500ms linear;
  -moz-transition: transform 500ms linear;
  -webkit-transition: transform 500ms linear;
  -o-transition: transform 500ms linear;
}
#what_where_event .event-content .event-images .scene .track.without-transition {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: transform 0 ease-in;
  transition: none;
}
#what_where_event .event-content .event-images .scene .track .slide {
  float: left;
  position: relative;
}
#what_where_event .event-content .event-images .scene .track .slide img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#what_where_event .event-content .event-images .btn-prev,
#what_where_event .event-content .event-images .btn-next {
  background-color: #d1d1cd;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  text-align: center;
  line-height: 32px;
}
#what_where_event .event-content .event-images .btn-prev i,
#what_where_event .event-content .event-images .btn-next i {
  width: 8px;
  height: 12px;
  display: inline-block;
}
#what_where_event .event-content .event-images .btn-prev:hover,
#what_where_event .event-content .event-images .btn-next:hover {
  background-color: white;
}
#what_where_event .event-content .event-images .btn-prev {
  left: 24px;
}
#what_where_event .event-content .event-images .btn-prev i {
  background: url('https://qa.whatwhere.world/static/widget/images/ico_normal_prev@2x.png') no-repeat center;
  background-size: 8px 12px;
}
#what_where_event .event-content .event-images .btn-next {
  right: 24px;
}
#what_where_event .event-content .event-images .btn-next i {
  background: url('https://qa.whatwhere.world/static/widget/images/ico_normal_next@2x.png') no-repeat center;
  background-size: 8px 12px;
}
#what_where_event .event-content .event-images .dots {
  position: absolute;
  display: block;
  bottom: -35px;
  width: 100%;
  text-align: center;
}
#what_where_event .event-content .event-images .dots .dot-item {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#what_where_event .event-content .event-images .dots .dot-item.active {
  pointer-events: none;
}
#what_where_event .event-content .event-images .dots .dot-item.active .dot {
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
}
#what_where_event .event-content .event-images .dots .dot-item .dot {
  position: absolute;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #2D3E4F;
  top: 50%;
  left: 50%;
  margin-left: -2px;
  margin-top: -2px;
  border-radius: 50%;
}
#what_where_event .event-content .event-description {
  margin-bottom: 40px;
}
#what_where_event .event-content .event-description h4 {
  margin-bottom: 24px;
}
#what_where_event .event-content .event-description .read-more-content {
  max-height: 164px;
  overflow: hidden;
}
#what_where_event .event-content .event-description .read-more-content.show {
  max-height: none!important;
}
#what_where_event .event-content .event-map-container {
  width: 100%;
  height: 288px;
  position: relative;
}
#what_where_event .event-content .event-map-container #event-map {
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
}
#what_where_event .event-content .event-map-container .event-place-card {
  max-width: 300px;
  background: white;
  padding: 24px 16px 32px;
  position: relative;
  margin-left: 22px;
}
#what_where_event .event-content .event-map-container .event-place-card h4 {
  margin-bottom: 24px;
}
#what_where_event .event-content .event-map-container .event-place-card .place-title {
  margin-bottom: 4px;
}
#what_where_event .event-content .event-map-container .event-place-card .place-address {
  margin-bottom: 24px;
}
#what_where_event .event-content .event-map-container .event-place-card .place-phone,
#what_where_event .event-content .event-map-container .event-place-card .place-email {
  display: block;
  margin-bottom: 16px;
  word-wrap: break-word;
}
#what_where_collection {
  font-size: 24px;
}
#what_where_collection .event-bucket {
  margin: 0 0 27px 0;
}
#what_where_collection .event-bucket .event-bucket-title-holder {
  position: relative;
  height: 54px;
}
#what_where_collection .event-bucket .event-bucket-title-holder .bucket-title {
  margin-bottom: 22px;
  display: block;
  text-decoration: none;
  float: left;
}
#what_where_collection .event-bucket .event-bucket-title-holder .ww-link-main {
  position: absolute;
  top: 9px;
}
#what_where_collection .event-bucket .event-bucket-title-holder .ww-link-main i {
  background: url('https://qa.whatwhere.world/static/widget/images/logo_colored_ww@2x.png') no-repeat center;
  width: 42px;
  height: 20px;
  background-size: 42px 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}
#what_where_collection .event-bucket ul {
  margin: 0;
}
#what_where_collection .card {
  display: inline-block;
  text-align: left;
  margin-bottom: 16px;
  margin-right: 16px;
  float: left;
}
#what_where_collection .card a {
  text-decoration: none;
  display: block;
}
#what_where_collection .card.card-event {
  position: relative;
  max-width: 320px;
  width: 320px;
}
#what_where_collection .card.card-event .card-image {
  width: 100%;
  height: 192px;
  overflow: hidden;
  position: relative;
  border-radius: 2px 2px 0 0;
  background: url('https://qa.whatwhere.world/static/widget/images/no_image_bg_logo.png') no-repeat center #f2f3f4;
}
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
  #what_where_collection .card.card-event .card-image {
    background: url('https://qa.whatwhere.world/static/widget/images//no_image_bg_logo@2x.png') no-repeat center #f2f3f4;
    background-size: 84px 40px;
  }
}
#what_where_collection .card.card-event .card-image .card-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#what_where_collection .card.card-event .card-section {
  background: white;
  height: 106px;
  padding: 14px 15px;
  overflow: hidden;
}
#what_where_collection .card.card-event .card-section .title {
  font-size: 18px;
  line-height: 28px;
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: capitalize;
  margin-bottom: 5px;
}
#what_where_collection .card.card-event .card-section .subtitle {
  font-size: 14px;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
#what_where_collection .card.card-event .card-section .more-link {
  display: inline-block;
  margin-left: 5px;
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  #what_where_event .event-content .ww-row {
    padding: 0 10px;
  }
  #what_where_event h2, #what_where_collection h2, #what_where_event .headline, #what_where_collection .headline {
    font-size: 24px;
    line-height: 32px;
  }
  #what_where_event .event-content .event-map-container .event-place-card {
    max-width: 300px;
    margin: 0 10px;
  }
  #what_where_event .event-content .event-info .event-place,
  #what_where_event .event-content .event-info .event-schedule-dropdown,
  #what_where_event .event-content .event-info .event-price {
    width: 100%;
    margin: 0;
    float: none;
  }
  #what_where_event .event-content .event-info .event-price {
    padding: 10px 0;
  }
  #what_where_event.one-col .event-bucket .events-list .card-event, #what_where_collection.one-col .event-bucket .events-list .card-event {
    display: block;
  }
}
