{% extends 'base.html' %}
{% load i18n %}

{% block title %}404{% endblock %}
{% block og_title %}404{% endblock %}
{% block og_type %}article{% endblock %}

{% block content %}
<div class="page-body ui container" id="not-found-page">

  <div class="row">
    <h2>{% trans 'Sorry' %}...</h2>
    <div class="body message">{% trans 'This page does not exist.' %}</div>
    <a href="/" class="button">{% trans 'Go to main' %}</a>
  </div>
</div>

{% endblock %}
