{% extends 'base.html' %}
{% load i18n app_tags %}

{% block title %}{% trans 'aboutpage' %}{% endblock %}
{% block og_title %}{% trans 'aboutpage' %}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_description %}{% trans 'aboutpage_description' %}{% endblock %}
{% block meta_description %}{% trans 'aboutpage_description' %}{% endblock %}

{% block content %}

{% include 'include/_subheader.html' with back_button_label_key='Return' %}

<div class="page-body ui container" id="about-page">
  <div class="row">
    <div class="col left">
      <h1>{% trans 'about_headline_first' %}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col left">
      <div class="body">
        <p>{% trans 'about_body_first_paragraph' %}</p>
        <p>{% trans 'about_body_second_paragraph' %}</p>
      </div>
    </div>
    <div class="col right">
      <a href="/" class="button h40 find-event">{% trans 'Find nearby events' %}</a>
    </div>
  </div>

  <div class="row">
    <div class="events-list horizontal-list-container">
      <ul>
        {% now "Y-m-d\TH:i:s" as current_date %}
        {% with date=start_date|default:current_date %}
          {% for event in upcoming_events %}
            {% include 'events/card_event.html' with event=event bucket_date_key=date|str_to_date %}
          {% endfor %}
        {% endwith %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col left">
      <h2>{% trans 'about_headline_second' %}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col left">
      <div class="body">
        <p>{% trans 'about_body_third_paragraph' %}</p>
        <p>{% trans 'about_body_fourth_paragraph' %}</p>
      </div>
    </div>
    <div class="col right">
      <a class="button h40 orange create-collection js-create-collection">{% trans 'Create your own journal' %}</a>
    </div>
  </div>

  <div class="row">
    <div class="authors-list horizontal-list-container">
      <ul>
        {% for author in authors %}
        <li>
          <a class="body-link" href="{% url 'profile-detail' author.id %}">
            <div class="avatar">
              <img src="{{ author.headshot.crop.100x100 }}">
            </div>
            <div>{{ author.first_name }}</div>
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="row ideolog">
    <div class="col left">
      <div class="subtitle">{% trans 'about_ideolog_headline' %}</div>
      <div class="body">
        {% trans 'about_ideolog_body' %}
      </div>
    </div>
    <div class="col right">
      <a class="gelman body-link" href="#">
        <img src="/static/images/photo-gelman@2x.png">
        <div class="name">{% trans 'about_ideolog_name' %}</div>
      </a>
    </div>
  </div>
</div>

<div class="row bottom-block" id="about-page-bottom-block">
  <div class="container">
    <div class="col left">
      <div class="subtitle">{% trans 'about_join_us' %}</div>
    </div>
    <div class="col right">
      {% if not user.is_authenticated %}
      <a href="/register/" class="button h40">{% trans 'Sign Up' %}</a>
      {% endif %}
      <div class="subtitle-its-free">{% trans 'While its all free' %}.</div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

{% endblock %}
