<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# place: http://ogp.me/ns/place#" class="no-js lt-ie9" lang="{{ LANGUAGE_CODE }}"> <![endif]-->
<!--[if gt IE 8]><!--> <html prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# place: http://ogp.me/ns/place#" class="no-js" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
<head>
  {% load i18n staticfiles pipeline %}
  {% block ga_experiment %}{% endblock %}
  <meta charset="utf-8">

  <title>{% block title %}{% trans 'Mainpage whatwhere' %}{% endblock %}</title>

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="initial-scale=1,maximum-scale=1">
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.png' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.png' %}">

  {% block metadata %}
    <meta property="og:title" content="{% block og_title %}{% trans 'Mainpage whatwhere' %}{% endblock %}">
    <meta property="og:type" content="{% block og_type %}website{% endblock %}">
    <meta property="og:url" content="{% block og_url %}https://{{ request.get_host }}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}https://{{ request.get_host }}/static/images/fb-share-05x.png{% endblock %}">
    <meta property="og:site_name" content="WhatWhere.world">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
  {% endblock %}

  {% block extrametadata %}{% endblock %}

  {% stylesheet 'app' %}
  <!-- Included CSS Files (Compressed) -->
  {% block extracss %}{% endblock extracss %}
  {% if not DEBUG %}
    {% include 'include/_vwo.html' %}
  {% endif %}

  <script>
    window.Promise || document.write('<script src="//cdn.polyfill.io/v1/polyfill.js?features=es6"><\/script>');
  </script>
</head>

<body>

  {% spaceless %}
  <div class="wrapper {% block wrapper_class %}{% endblock %}" id="body-wrapper">
    {% block header %}
    <div id="header">
        {% include 'include/_header.html' with searchform='true' %}
    </div>
    {% endblock %}

    {% block content %}
    <div id="content">
        <div class="container">
        </div>
    </div>
    {% endblock %}

    {% block footer %}
    <div id="footer">
        {% include 'include/_footer.html' %}
    </div>
    {% endblock %}
  </div>

  {% include 'components/create-collection-modal.html' %}
  {% include 'components/create-event-form.html' %}
  {% include 'components/login-modal.html' %}
  {% include 'components/subscribe-modal.html' %}
  {% include 'components/add-to-category-widget-template.html' %}
  {% include 'components/add-to-event-widget-template.html' %}
  {% include 'components/add-to-collection-widget-template.html' %}
  {% include 'components/translate-collection-widget-template.html' %}
  {% include 'components/restore-password-modal-template.html' %}
  {% include 'components/remove-place-events-confirmation-modal.html' %}

  {% include 'components/category-widget-template.html' %}
  {% include 'components/search-widget-template.html' %}

  {% if GOOGLE_MAP_KEY %}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places,drawing&key={{ GOOGLE_MAP_KEY }}&language={{ LANGUAGE_CODE }}"></script>
  {% endif %}
  <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
  {% block app %}
    <script>
      window.app = {};
      {% if user.is_authenticated %}
        window.app.USER = {
          authorized: true,
          id: {{ user.id }},
          first_name: '{{ user.first_name }}',
          email: '{{ user.email }}',
          lang: '{{ LANGUAGE_CODE }}'
        };
      {% else %}
        window.app.USER = {
          authorized: false,
          lang: '{{ LANGUAGE_CODE }}'
        };
      {% endif %}
    </script>
  {% endblock app %}

  {% javascript 'vendor' %}
  {% javascript 'app' %}

  {% block extrajs %}{% endblock %}
  {% endspaceless %}
  {% if not DEBUG %}
    {% include 'include/_ga.html' %}
    {% include 'include/_metrika.html' %}
    {% include 'include/_fbpixel.html' %}
    {% include 'include/_newrelic.html' %}
  {% endif %}
</body>
</html>
