{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'helppage' %}{% endblock %}
{% block og_title %}{% trans 'helppage' %}{% endblock %}
{% block og_type %}article{% endblock %}

{% block content %}

  {% include 'include/_subheader.html' with with_logo='True' %}

  <div class="page-body ui container" id="about-page">

    <div class="row">
      <div class="col left">
        <h2>{% trans 'help_headline_first' %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col left">
        <div class="body">
          <p>{% trans 'help_body_first_paragraph' %}</p>
        </div>
      </div>
      <div class="col right">
        <a href="mailto:hello@whatwhere.world" class="button h40">
          {% trans 'help_ask_question' %}
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col left">
        <div class="body">
          <ol>
            <li>
              <a target="_blank" class="caption-link" href="http://help.whatwhere.world">
                {% trans 'helppage_how_register' %}
              </a>
            </li>
            <li>
              <a target="_blank" class="caption-link" href="http://help.whatwhere.world/journal_create">
                {% trans 'helppage_how_create_event' %}
              </a>
            </li>
          </ol>
        </div>
      </div>
    </div>

    {% block footer %}
    {% endblock %}
    <div class="clearfix"></div>
  </div>

{% endblock %}
