{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags %}

{% block og_url %}https://{{ request.get_host }}{{ event.get_absolute_url }}{% endblock %}
{% block og_image %}https://{{ request.get_host }}/static/images/fb-share-05x.png{% endblock %}

{% block og_description %}{% trans 'mainpage_description' %}{% endblock %}
{% block meta_description %}{% trans 'mainpage_description' %}{% endblock %}

{% block content %}

{% include 'include/_subheader.html' %}

<div class="page-body ui container" id="search-page">
  {% if upcoming_events %}
  <div class="row title-row events-title">
    <div class="col">
      <h1>
        {% trans 'Events' %}{% if request.location and request.location.city %}, {{ request.location.city }}{% endif %}
      </h1>
    </div>

    <div class="col add-event hide-for-small">
      <a href="#" class="button u-pull-right js-create-event">{% trans 'Add event' %}</a>
    </div>
  </div>
  {% endif %}


  <ul class="row events-list list-row small-block-grid-1 medium-block-grid-3">
    {% now "Y-m-d\TH:i:s" as current_date %}
    {% with date=start_date|default:current_date %}
      {% include 'events/events_upcoming.html' with events=upcoming_events bucket_date_key=date|str_to_date %}
    {% endwith %}
  </ul>

  <!-- Posters  -->

  {% if collections %}
    <div class="row title-row posters-title hide-for-small">
      <div class="col">
        <h2>{% trans 'Recommended journals' %}</h2>
        <a href="{% url 'collection-list' %}" class="caption-link">{% trans 'All journals' %}</a>
      </div>

      <div class="col u-pull-right all-collections">
        <a href="#" class="button orange u-pull-right js-create-collection">{% trans 'Create your journal' %}</a>
      </div>
    </div>

    <div class="row posters-list list-row inline-list hide-for-small">
      <div class="holder {% if collections_count < 4 %}no-scroll{% endif %}">
        <ul>
          {% include collection_card_template %}
        </ul>
      </div>
    </div>
  {% endif %}

  <!-- Authors -->

  {% if authors.count %}
    <div class="row title-row authors-title hide-for-small">
      <div class="eight columns">
        <h2>{% trans 'Popular authors' %}</h2>
      </div>

      <div class="four columns">
        <a href="#" class="u-pull-right caption-link">{% trans 'How to become an author?' %}</a>
      </div>
    </div>

    <div class="row authors-list list-row inline-list hide-for-small">
      <div class="wrapper">
        <ul class="small-block-grid-1">
          {% for author in authors %}
            <li>
              <img src="{{ author.headshot.crop.80x80 }}">
              <p class=body>{{ author.email }} - {{ author.first_name }} </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  <!-- More events -->

  {% if events %}
  <div class="row title-row events-title">
    <div class="col">
      <h2>{% trans 'More events' %}</h2>
    </div>

    <div class="col add-event">
      <a href="#" class="button u-pull-right js-create-event hide-for-small">{% trans 'Add event' %}</a>
    </div>
  </div>

  <ul class="row events-list list-row small-block-grid-1 medium-block-grid-3">
    {% now "Y-m-d\TH:i:s" as current_date %}
    {% with date=start_date|default:current_date %}
      {% include event_card_template with bucket_date_key=date|str_to_date %}
    {% endwith %}
  </ul>
  {% endif %}

</div>
{% endblock %}
