{% extends 'base.html' %}
{% load i18n app_tags %}

{% block title %}{% trans 'organizerspage' %}{% endblock %}
{% block og_title %}{% trans 'organizerspage' %}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_description %}{% trans 'organizerspage_description' %}{% endblock %}
{% block meta_description %}{% trans 'organizerspage_description' %}{% endblock %}

{% block content %}

{% include 'include/_subheader.html' with with_logo='True' %}

  <div class="page-body ui container" id="organizers-page">

    {% block header %}
    {% endblock %}

    <div class="row">
        <div class="col left">
          <h1>{% trans 'organizers_headline_first' %}</h1>
        </div>
    </div>

    <div class="row">
        <div class="events-list horizontal-list-container">
            <ul>
              {% now "Y-m-d\TH:i:s" as current_date %}
              {% with date=start_date|default:current_date %}
                {% for event in upcoming_events %}
                  {% include 'events/card_event.html' with event=event bucket_date_key=date|str_to_date %}
                {% endfor %}
              {% endwith %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="subtitle">{% trans 'Add your event in 5 minutes!' %}</div>
    </div>

    <div class="row why-block">
        <div class="col left">
            <h2>{% trans 'organizers_headline_second' %}</h2>
        </div>

        <div class="col right">
            <a href="#" class="button h40 js-create-event">{% trans 'Add your event' %}</a>
        </div>
    </div>

    <div class="row bottom-block">
        <div class="col left">
            <div class="background">1.</div>
            <p>{% trans 'organizers_advantages_headline_first' %}</p>
            <div class="caption message">{% trans 'organizers_advantages_message_first' %}</div>
        </div>
        <div class="col middle">
            <div class="background">2.</div>
            <p>{% trans 'organizers_advantages_headline_second' %}</p>
            <div class="caption message">{% trans 'organizers_advantages_message_second' %}</div>
        </div>
        <div class="col right">
            <div class="background">3.</div>
            <p>{% trans 'organizers_advantages_headline_third' %}</p>
            <div class="caption message">{% trans 'organizers_advantages_message_third' %}</div>
            <div class="avatars">
              {% for author in authors %}
                <a class="avatar" href="{% url 'profile-detail' author.id %}">
                  <img src="{{ author.headshot.crop.100x100 }}">
                </a>
              {% endfor %}
            </div>
        </div>
    </div>

    {% block footer %}
    {% endblock %}

  </div>

  <div class="footer" id="organizers-page-footer">
    <div class="container">
        <div class="row">
            <a href="#" class="button h40 js-create-event">{% trans 'Add your event' %}</a>
            <p>{% trans 'While its all free' %}.</p>
        </div>
    </div>
  </div>

{% endblock %}
