{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'termspage' %}{% endblock %}
{% block og_title %}{% trans 'termspage' %}{% endblock %}
{% block og_type %}article{% endblock %}

{% block content %}

  {% include 'include/_subheader.html' with with_logo='True' %}

  <div class="page-body ui container" id="terms-page">

    {% block header %}
    {% endblock %}

    <div class="row">
      <div class="col left">
        <h2>{% trans 'terms_headline_first' %}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col left">
        <div class="body">
          <p>{% trans 'terms_body_first_paragraph' %}</p>
          <p>{% trans 'terms_body_second_paragraph' %}</p>
        </div>
      </div>
    </div>

    {% block footer %}
    {% endblock %}
    <div class="clearfix"></div>
  </div>

{% endblock %}
