{% load i18n %}

<div class="row counters">
  <!-- Subscribers -->
  <div class="one-third column">
    <span class="counter counter-subscribers">
      {% include 'include/counters/_collection_subscribers.html' %}
    </span>
  </div>

  <!--Views-->
  <div class="one-third column">
    <span class="counter">
      <span class="counter-number subtitle">
        {{ hitcount.total_hits }} <i class="sprite sprite-ico-visibility"></i>
      </span>
      <div class="counter-title caption">
        {% blocktrans count counter=hitcount.total_hits %}view{% plural %}views{% endblocktrans %}
      </div>
    </span>
  </div>

  <!--Events-->
  <div class="one-third column">
    <span class="counter counter-events">
      {% include 'include/counters/_collection_events.html' %}
    </span>
  </div>
</div>

{% if user.id != collection.author.id %}
  <div class="row subscribe">
      <a href="#" data-collection-id="{{ collection.id }}" class="button orange u-full-width js-unsubscribe-collection with-left-rect-icon {% if user.id in collection.subscribers %}  {% else %} hide {% endif %}">
        <span class="icon-holder">
            <span class="spritesheet sprite-ico-colored-bookmark-on"></span>
          </span>
        <span class="text">{% trans 'Unsubscribe from journal' %}</span>
      </a>

      <a href="#" data-collection-id="{{ collection.id }}" class="button orange u-full-width js-subscribe-collection with-left-rect-icon {% if user.id in collection.subscribers %} hide {% else %}  {% endif %}">
        <span class="icon-holder">
            <span class="spritesheet sprite-ico-light-bookmark-off"></span>
          </span>
        <span class="text">{% trans 'Subscribe to journal' %}</span>
      </a>
  </div>
{% endif %}

{% if user.id == collection.author.id and collection.application_id %}
  <div class="row subscribe">
      <a href="#" data-collection-id="{{ collection.id }}" class="button orange u-full-width js-push-collection">
        <span class="text">{% trans 'Send push' %}</span>
      </a>
  </div>
{% endif %}

{% if can_translate %}
  <div class="row translate">
    {% if 'PENDING' in collection.translate_status.status %}
      <button disabled class="button u-full-width white-with-grey-border js-translate-collection disabled">
        <span class="text">{% trans 'PENDING' %}</span>
      </button>
      <p>{% trans 'Within 5 minutes all events will be translated. Come back later to check.' %}</p>
    {% else %}
      <button data-collection-id="{{ collection.id }}" class="button u-full-width white-with-grey-border js-translate-collection">
        <span class="text">{% trans 'Translate journal' %}</span>
      </button>
    {% endif %}
  </div>
  <div id="translate-collection-widget-holder" style="position: relative;"></div>
{% endif %}

{% if user.business_account %}
  <div class="row widget">
    <a href="#" class="caption-link show-button js-show-widget-code">{% trans 'Share a journal widget' %}</a>
    <div class="row share-widget-content hide">
      <div class="caption">{%trans 'Place the code on the site and share this journal with its visitors' %}</div>
      <textarea class="disabled widget-partner-code">{% with widget='init.js' %}{% include 'collections/_widget.txt' %}{% endwith %}</textarea>
      <a href="#" class="caption-link hide-button js-hide-widget-code">{% trans 'Hide journal widget code' %}</a>
    </div>
  </div>
{% endif %}

{% if collection.top_places %}
  <div class="row places">
    <span class="places-title subtitle">{% trans 'Popular places' %}</span>
    <ul class="row">
      {% for place in collection.top_places %}
        {% if place %}
          <li>
            <div class="place-item" data-place-id="{{ place.meta.id }}">
              {% if user.id == collection.author.id or user.is_superuser %}
                <a class="autoadd-button js-places-autoadd-toggle {% if place.meta.id in collection.places %} selected {% endif %}" href="#">
                  <i class="spritesheet ico-off sprite-ico-auto-add-off"></i>
                  <i class="spritesheet ico-hover sprite-ico-auto-add-hover"></i>
                  <i class="spritesheet ico-on sprite-ico-auto-add-on"></i>
                </a>
                <a class="body-link" href="{% url 'place-detail' place.provider_id place.slug %}">{{ place.title }}</a>
                <a class="more-button js-places-more" href="#">
                  <i class="spritesheet ico-default sprite-ico-grey-more-bright"></i>
                  <i class="spritesheet ico-hover sprite-ico-grey-more"></i>
                </a>
              {% else %}
                <a class="body-link" href="{% url 'place-detail' place.provider_id place.slug %}">{{ place.title|safe }}</a>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <div class="places-more-menu hide">
      <div class="places-more-menu-item caption auto-add"></div>
      <div class="places-more-menu-item caption delete-events">{% trans 'Delete all events from this place from the journal' %}</div>
    </div>
  </div>
{% endif %}
