{% load i18n humanize pytils_dt app_tags %}
<li class="card card-event {% if show_more and event_counter > 9 %}hide{% endif %}" data-event-id="{{ event.meta.id }}">
	<div class="card-holder">
    <a href="{% url 'event-detail' event.provider_id event.slug|default:'-' %}" class="card-image">
		  {% with image=event.preview_images|first %}
        {% if image %}
          <div class="card-img" style="background-image: url({{ image.image }})"></div>
        {% else %}
          {% with image=event.image %}
            <div class="card-img" style="background-image: url({{ image }})"></div>
          {% endwith %}
        {% endif %}
		  {% endwith %}
			<div class="card-actions">
				<span class="card-star">{{ event.average_rate|default:0|floatformat:"0" }}&nbsp;<i class="spritesheet sprite-ico-small-star"></i></span>
			</div>
		</a>
		<div class="card-section">
			<a href="{% url 'event-detail' event.provider_id event.slug|default:'-' %}" class="title" rel="tooltip-long-text" title="{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|capfirst }}">
				{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|capfirst }}
			</a>
			<div class="subtitle place" rel="tooltip-long-text" title="{{ event.place.city }} {% if event.place.title %}&bull; {{ event.place.title }}{% endif %}">
        {{ event.place.city }}
        {% if DEBUG or user.is_staff %}({{ event.provider }})<b>Rank {{ event.rank }}</b> {% endif %}
        {%if event.place.title %}&bull; {{ event.place.title_localized|locale:LANGUAGE_CODE|default:event.place.title }}{% endif %}
			</div>
			<div class="subtitle date">
        {% now "Y" as current_year %}
        {% if coming_event %}
          {% trans 'Coming' %} &mdash;
        {% endif %}
        {% if event.actual_schedule %}
            {% if event.actual_schedule.start_date|date:"Y" == current_year %}
              {{ event.actual_schedule.start_date|date:"j E" }}
            {% else %}
              {{ event.actual_schedule.start_date|date:"j E Y" }}
            {% endif %}
            {% if event.actual_schedule.start_time %}, {{ event.actual_schedule.start_time }}{% endif %}
        {% endif %}
				<a class="caption-link more-link" href="{% url 'event-detail' event.provider_id event.slug|default:'-' %}">{% trans 'more' %}...</a>
			</div>
		</div>
	</div>

	{% if show_remove_button %}
		<div class="card-remove-button js-remove-event">
			<span class="card-icon"><i class="spritesheet sprite-ico-colored-close"></i></span>
		</div>
	{% endif %}

	<a href="#" class="card-add-button js-add-collection" rel="tooltip" title="{% trans 'Add to journal' %}">
		<span class="card-icon"><i class="spritesheet sprite-ico-grey-ico-grey-add"></i></span>
	</a>
</li>
