{% extends 'collections/collection_create.html' %}
{% load i18n widget_tweaks %}

{% block collectiontitle %}
  <div class="row">
    <div class="twelve columns">
      <h1>{% trans 'Edit journal' %}</h1>
    </div>
  </div>
{% endblock %}


{% block collectionaction %}
  <div class="row">
    <input type="submit" class="button" value="{% trans 'Save' %}">
  </div>
{% endblock %}
