{% load i18n humanize pytils_dt el_pagination_tags hitcount_tags %}

{% if paginated %}
{% paginate collections %}
{% for collection in collections %}
    <li class="card card-collection {% if show_more and forloop.counter > 9 %}hide{% endif %}">
      <a href="{% url 'collection-detail' collection.id collection.slug %}">
        <div class="collection-previews">
          {% if collection.preview %}
            {% for preview in collection.get_preview|slice:":2" %}
              <div class="pic">
                {% if preview.image %}
                  <div class="preview-img" style="background-image: url({{ preview.image }})"></div>
                {% endif %}
              </div>
            {% empty %}
              <div class="pic"></div>
              <div class="pic"></div>
            {% endfor %}
            <div class="pic">
              <div class="preview-img" style="background-image: url({{ collection.preview }})"></div>
            </div>
          {% else %}
            {% for preview in collection.get_preview %}
              <div class="pic">
                {% if preview.image %}
                  <div class="preview-img" style="background-image: url({{ preview.image }})"></div>
                {% endif %}
              </div>
            {% empty %}
              <div class="pic"></div>
              <div class="pic"></div>
              <div class="pic"></div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="title subtitle {% if paginated %}collection-name-line{% else %}invisible{% endif %}">
          <div class="collection-card-name {% if paginated %}collection-name-line{% endif %}">{{ collection.title }}</div>
        </div>
      </a>

      {% if user.id != collection.author.id or show_collection_author %}
        <div class="author" rel="tooltip" title="{{ collection.author.first_name|default:collection.author.username }}">
          <a href="{% url 'profile-detail' collection.author.id %}">
            <img class="avatar" alt="{{ collection.author.first_name|default:'' }}" src="{{ collection.author.headshot.small }}">
          </a>
        </div>
      {% endif %}

      <div data-collection-id="{{ collection.id }}" rel="{% if user.id in collection.subscribers %}tooltip-disabled{% else %}tooltip{% endif %}" title="{% trans 'Subscribe' %}" class="card-favorite {% if user.id in collection.subscribers %} subscribed {% else %} js-subscribe-collection {% endif %}">
        <i class="spritesheet sprite-ico-normal-bookmark-off not-subscribed-icon"></i>
        <i class="spritesheet sprite-ico-colored-bookmark-on subscribed-icon"></i>
      </div>

      <div class="card-footer caption">
        {% get_hit_count for collection as hit_count %}
        <span>{% blocktrans count counter=collection.events_count|default:0 %}{{ counter }} event{% plural %}{{ counter }} events{% endblocktrans %}</span>
        <span class="bullet">&#8226;</span>
        <span>{% blocktrans count counter=hit_count|default:0 %}{{ counter }} view{% plural %}{{ counter }} views{% endblocktrans %}</span>
        <span class="bullet">&#8226;</span>
        <span class="subscribers-counter-holder">
          {% with subscribers_count=collection.subscribers|length %}
            <span class="val">{{ subscribers_count }}</span>
            {% blocktrans count counter=subscribers_count %}subscription{% plural %} subscriptions{% endblocktrans %}
          {% endwith %}
        </span>
        {% if with_settings_button %}
          <a class="js-edit-collection caption-link setup-button">{% trans 'Setup' %}</a>
        {% endif %}
      </div>
    </li>
{% endfor %}

{% show_more %}

{% else %}
{% for collection in collections %}
    <li class="card card-collection {% if show_more and forloop.counter > 9 %}hide{% endif %}">
      <a href="{% url 'collection-detail' collection.id collection.slug %}">
        <div class="collection-previews">
          {% if collection.preview %}
            {% for preview in collection.get_preview|slice:":2" %}
              <div class="pic">
                {% if preview.image %}
                  <div class="preview-img" style="background-image: url({{ preview.image }})"></div>
                {% endif %}
              </div>
            {% empty %}
              <div class="pic"></div>
              <div class="pic"></div>
            {% endfor %}
            <div class="pic">
              <div class="preview-img" style="background-image: url({{ collection.preview }})"></div>
            </div>
          {% else %}
            {% for preview in collection.get_preview %}
              <div class="pic">
                {% if preview.image %}
                  <div class="preview-img" style="background-image: url({{ preview.image }})"></div>
                {% endif %}
              </div>
            {% empty %}
              <div class="pic"></div>
              <div class="pic"></div>
              <div class="pic"></div>
            {% endfor %}
          {% endif %}
        </div>

        <div class="title subtitle {% if paginated %}collection-name-line{% else %}invisible{% endif %}">
          <div class="collection-card-name {% if paginated %}collection-name-line{% endif %}">{{ collection.title }}</div>
        </div>
      </a>

      {% if user.id != collection.author.id or show_collection_author %}
        <div class="author" rel="tooltip" title="{{ collection.author.first_name|default:collection.author.username }}">
          <a href="{% url 'profile-detail' collection.author.id %}">
            <img class="avatar" alt="{{ collection.author.first_name|default:'' }}" src="{{ collection.author.headshot.small }}">
          </a>
        </div>
      {% endif %}

      <div data-collection-id="{{ collection.id }}" rel="{% if user.id in collection.subscribers %}tooltip-disabled{% else %}tooltip{% endif %}" title="{% trans 'Subscribe' %}" class="card-favorite {% if user.id in collection.subscribers %} subscribed {% else %} js-subscribe-collection {% endif %}">
        <i class="spritesheet sprite-ico-normal-bookmark-off not-subscribed-icon"></i>
        <i class="spritesheet sprite-ico-colored-bookmark-on subscribed-icon"></i>
      </div>

      <div class="card-footer caption">
        {% get_hit_count for collection as hit_count %}
        <span>{% blocktrans count counter=collection.events_count|default:0 %}{{ counter }} event{% plural %}{{ counter }} events{% endblocktrans %}</span>
        <span class="bullet">&#8226;</span>
        <span>{% blocktrans count counter=hit_count|default:0 %}{{ counter }} view{% plural %}{{ counter }} views{% endblocktrans %}</span>
        <span class="bullet">&#8226;</span>
        <span class="subscribers-counter-holder">
          {% with subscribers_count=collection.subscribers|length %}
            <span class="val">{{ subscribers_count }}</span>
            {% blocktrans count counter=subscribers_count %}subscription{% plural %} subscriptions{% endblocktrans %}
          {% endwith %}
        </span>
        {% if with_settings_button %}
          <a class="js-edit-collection caption-link setup-button">{% trans 'Setup' %}</a>
        {% endif %}
      </div>
    </li>
{% endfor %}
{% endif %}
