{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags %}

{% block title %}{{ collection.title_seo|locale:LANGUAGE_CODE|default:collection.title }}{% endblock %}
{% block og_title %}{{ collection.title_seo|locale:LANGUAGE_CODE|default:collection.title }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ request.path }}{% endblock %}
{% block og_image %}{% if collection.preview %}{{ collection.preview }}{% else %}{{ event.image }}{% endif %}{% endblock %}

{% block og_description %}{% if collection.description %}{{ collection.description|striptags|truncatechars:200 }}{% else %}{% trans 'WhatWhere.world – the best events near you and around the world.' %}{% endif %}{% endblock %}
{% block meta_description %}{% if collection.description %}{{ collection.description|striptags|truncatechars:200 }}{% else %}{% trans 'WhatWhere.world – the best events near you and around the world.' %}{% endif %}{% endblock %}

{% block extrametadata %}
  <link rel="canonical" href="https://{{ request.get_host }}{% url 'collection-detail' collection.id collection.slug %}"/>
{% endblock %}

{% block content %}

<!-- subheader -->

{% include 'include/_subheader.html' with back_button_label_key='Back' with_edit_collection='True' %}

<div class="page-body ui container" id="collection-detail-page" data-collection-id="{{ collection.id }}">


  <!-- Collection details -->

  <div class="collection-detail">
    <div class="collection-detail-left-col col">
      <div class="row">
        <h1>{{ collection.h1_seo|locale:LANGUAGE_CODE|default:collection.title }}</h1>
        {% if collection.date_updated %}
          <div class="caption last-update-title">
            {% trans 'Last update' %}: {{ collection.date_updated|date:'d.m.Y' }}
          </div>
        {% endif %}
        {% if collection.description %}
          <div class="collection-description-holder last-update-title">
            <div class="collection-description body read-more-content">
              {{ collection.description|linebreaksbr }}
            </div>
            <a href="#" class="read-more caption-link hide" data-content-selector=".collection-description">{% trans 'Read more' %}</a>
          </div>
        {% endif %}
      </div>

      <!-- Events list -->

      <div class="events-in-collection">
        {% if request.user.id == author.id or request.user.is_staff %}
          <script>
            window.COLLECTION_ID = '{{ collection.id }}';
          </script>
          <!-- Search -->
          <div id="event-collection-form"></div>

          {% if not events_count %}
            <div class="new-collection-content">
              <span class="subtitle">{% trans 'No events have been added to the journal yet' %}</span>

              <div class="list body">
                <div class="list-item">
                  <div class="list-item-num">1.</div>
                  {% blocktrans %}Use the search «<b>I am search...</b>» on the top of this page or just go on the <a href="/" class="body-link">main page of the project</a>.{% endblocktrans %}
                </div>

                <div class="list-item">
                  <div class="list-item-num">2.</div>
                  {% blocktrans %}Find fancy and interesting event, click on the cover button «<b>+</b>» to add the event to your journal.{% endblocktrans %}
                </div>

                <div class="list-item">
                  <div class="list-item-num">3.</div>
                  {% blocktrans %}Or click on «<b class="red">+ Add to my journal</b>» insight of the event.{% endblocktrans %}
                </div>
              </div>
            </div>
          {% endif %}

        {% else %}
          <!-- List -->
          <div class="events-buckets-initial">
            {% for facet in month_events %}
              {% with month=facet.key doc_count=facet.doc_count %}
                <div class="date-col events-list">
                  <div class="row">
                    <a class="date-col subtitle" href="#{{ month|date:'m' }}" data-month="{{ month|date:'m' }}">
                      {{ month|date:'F Y'|title }}
                    </a>
                  </div>
                  <ul id="{{ month|date:'m-d' }}" class="events-list large-block-grid-2">
                    {% for event_id, date_key in facet.events %}
                      {% with event=events|get_event:event_id %}
                        {% if event %}
                          {% include 'events/card_event.html' with bucket_date_key=date_key %}
                        {% endif %}
                      {% endwith %}
                    {% endfor %}
                  </ul>
                </div>
              {% endwith %}
            {% endfor %}
          </div>
        {% endif %}

      </div>
    </div>

    <div class="collection-detail-right-col col sticky-item hide-for-small">
      {% if author %}
        <div class="collection-author">
          <a href="{% url 'profile-detail' author.id %}" class="avatar-holder">
            <img src="{{ author.headshot.crop.83x83.url }}">
          </a>
          <a href="{% url 'profile-detail' author.id %}"><span class="name body">{{ author.first_name }}</span></a>
          <div class="caption author-bio">{{ author.short_bio|default:"" }}</div>
          <a class="caption-link author-bio-more hide" href="{% url 'profile-detail' author.id %}">{% trans 'more' %}</a>
        </div>
      {% endif %}
      {% include 'collections/_collection_detail_aside.html' %}
    </div>

  </div>
</div>

{% endblock %}
