{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block content %}
<div class="page-body ui container" id="collection-create-page">
  {% block collectiontitle %}
    <div class="row">
      <div class="twelve columns">
        <h1>{% trans 'New journal' %}</h1>
      </div>
    </div>
  {% endblock %}

  <div class="row">
    <form class="event-form" action="" method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      
      <div class="row">
        <div class="two columns">
          {{ form.title.label }}
        </div>
        <div class="six columns">
          {{ form.title|add_class:"u-full-width"|attr:"placeholder:Назовите коллекцию" }}
          {{ form.title.errors }}
        </div>
      </div>
      
      <div class="row">
        <div class="two columns">
          {{ form.description.label }}
        </div>
        <div class="six columns">
          {{ form.description|add_class:"u-full-width"|attr:"placeholder:Чего ожидать посетителям" }}
          {{ form.description.errors }}
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <h3>{% trans 'Confidentiality' %}</h3>
        </div>
      </div>

      <div class="row">
        <div class="two columns">
          {{ form.private.label }}
        </div>
        <div class="six columns">
          {{ form.private }}
          {{ form.title.errors }}
        </div>
      </div>
      
      {% block collectionaction %}
        <div class="row">
          <input type="submit" class="button" value="{% trans 'Create' %}">
        </div>
      {% endblock %}

    </form>
  </div>

</div>

{% endblock %}
