{% extends 'base.html' %}
{% load i18n humanize %}

{% block title %}{% trans 'collectionlistpage' %}{% endblock %}
{% block og_title %}{% trans 'collectionlistpage' %}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ request.path }}{% endblock %}
{% block og_description %}{% trans 'collectionlist_description' %}{% endblock %}
{% block meta_description %}{% trans 'collectionlist_description' %}{% endblock %}


{% block content %}

{% include 'include/_subheader.html' with back_button_label_key='Back' %}

<div class="page-body ui container" id="collection-list-page">

  <div class="row title">
    <div class="col">
      <h1>{% trans "Most popular journals" %}</h1>
    </div>
    <div class="col create-collection">
      <a href="#" class="button h40 js-create-collection">{% trans 'Create journal' %}</a>
    </div>
  </div>

  <div class="row title">
    <div class="col">
      <h3>{% trans "Author's journals" %}</h3>
    </div>
  </div>

  <div class="row collections-list">
    <ul class="">
      {% include collection_card_template with collections=top_collections %}
    </ul>
  </div>

  <div class="row collections-list">
    <ul class="">
      <li class="insert-item show">
        <div class="col text-col">
          <div class="subtitle">{% trans 'collections_headline_first' %}</div>
          <div class="subtitle">{% trans 'collections_headline_second' %}</div>
          <div class="caption">{% trans 'collections_headline_third' %}</div>
        </div>
        <div class="button-col">
          <a href="#" class="button h40 orange u-pull-right js-create-collection">{% trans 'Create journal' %}</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="row title">
    <div class="col">
      <h3>{% trans "New journals" %}</h3>
    </div>
  </div>

  <div class="row collections-list">
    <ul class="">
      {% include collection_card_template with collections=public_collections %}
    </ul>
  </div>

  <!--
  <div id="collection-list-page-bottom-popup">
    <a href="#" class="close-button">
      <i class="spritesheet sprite-ico-colored-close"></i>
    </a>
    <div class="container">
      <div class="col text-col">
        <div class="subtitle">{% trans 'collections_headline_first' %}</div>
        <div class="subtitle">{% trans 'collections_headline_second' %}</div>
        <div class="caption">{% trans 'collections_headline_third' %}</div>
      </div>
      <div class="col u-pull-right button-col">
        <a href="#" class="button h40 orange js-create-collection">{% trans 'Create journal' %}</a>
      </div>
    </div>
  </div>
  -->

</div>

{% endblock %}
