{% extends 'base.html' %}
{% load i18n humanize app_tags %}
{% load app_tags %}

{% block title %}{{ profile_detail.first_name }}{% endblock %}
{% block og_title %}{{ profile_detail.first_name }}{% endblock %}
{% block og_type %}profile{% endblock %}
{% block og_url %}https://{{ request.get_host }}{% url 'profile-detail' profile_detail.id %}{% endblock %}
{% block og_image %}https://{{ request.get_host }}{{ profile_detail.headshot.crop.123x123 }}{% endblock %}

{% block og_description %}{{ profile_detail.short_bio|default:"" }}{% endblock %}
{% block meta_description %}{{ profile_detail.short_bio|default:"" }}{% endblock %}

{% block content %}

{% include 'include/_subheader.html' with back_button_label_key='Back' with_edit_profile='True' %}

<div class="page-body ui container" id="profile-detail-page">

  <!-- User details -->
  <div class="user-detail row">
    <div class="profile-detail-left-col col">
      <div class="profile-avatar">
        <img class="profile-headshot" src="{{ profile_detail.headshot.crop.123x123 }}">
      </div>
      <p class="hide" id="user-id">{{ profile_detail.id }}</p>
      <div class="profile-contacts">
        <span class="title">{{ profile_detail.first_name }}</span>
        <div class="contact-buttons">
          {% if profile_detail.fb_profile %}
            <a class="caption-link" target="_blank" href="{{ profile_detail.fb_profile.link }}">
              <i class="spritesheet icon sprite-ico-colored-facebook"></i>
              {% trans 'Facebook' %}
            </a>
          {% endif %}

          {% if profile_detail.vk_profile %}
            <a class="caption-link" target="_blank" href="https://vk.com/{{ profile_detail.vk_profile.screen_name }}">
              <i class="spritesheet icon sprite-ico-colored-vkontakte"></i>
              {% trans 'Vkontakte' %}
            </a>
          {% endif %}

          {% if user.is_authenticated and profile_detail.email and request.user != profile_detail %}
            <a class="caption-link open-form-button">{% trans 'Write an email' %}</a>
            <div class="sendmail-form hide">
              {% trans 'Write an email' %}
              <div>
                <textarea id="mailtext" class="mailtext" cols="40"></textarea>
              </div>
              <div>
                <button id="sendmail" class="button">{% trans 'Send' %}</button>
              </div>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="profile-bio-holder">
        <div class="profile-bio body read-more-content">
          {{ profile_detail.short_bio|default:"" }}
        </div>
        <a class="read-more body-link hide" href="#" data-content-selector=".read-more-content">{% trans 'Read more' %}</a>
      </div>

    </div>

    <div class="profile-detail-right-col col">
      {% if user_collections.hits.total %}
        <div class="counter posters">
          <span class="counter-value subtitle">{{ user_collections.hits.total }}</span>
          <div class="counter-label caption">
            {% blocktrans count counter=user_collections.hits.total %}journal{% plural %}journals{% endblocktrans %}
          </div>
        </div>
      {% endif %}

      {% if events.hits.total %}
        <div class="counter events">
          <span class="counter-value subtitle">{{ events.hits.total }}</span>
          <div class="counter-label caption">
            {% blocktrans count counter=events.hits.total %}event{% plural %}events{% endblocktrans %}
          </div>
        </div>
      {% endif %}

      {% if subscribed_collections.hits.total %}
        <div class="counter subscriptions">
          <span class="counter-value subtitle">{{ subscribed_collections.hits.total }}</span>
          <div class="counter-label caption">
            {% blocktrans count counter=subscribed_collections.hits.total %}subscription{% plural %}subscriptions{% endblocktrans %}
          </div>
        </div>
      {% endif %}

      {% if profile_detail.subscribers_count %}
        <div class="counter subscribers">
          <span class="counter-value subtitle">{{ profile_detail.subscribers_count|default:0 }}</span>
          <div class="counter-label caption">
            {% blocktrans count counter=profile_detail.subscribers_count|default:0 %}subscriber{% plural %}subscribers{% endblocktrans %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>


  <!-- Tabs -->

  <div class="tabs row">

    {% if request.user == profile_detail %}
      <a id="create-new-poster-head-button" class="button u-pull-right tab-head-button hide js-create-collection"  href="">{% trans 'Create new journal' %}</a>
      <a id="create-new-event-head-button"  class="button u-pull-right tab-head-button hide"  href="{% url 'event-add' %}">{% trans 'Add your event' %}</a>
    {% endif %}


    <!-- Tab buttons -->
    <div class="tab-buttons">
      <a class="tab-button posters subtitle active" data-tab-content-selectors="#tab-posters, #create-new-poster-head-button"         href="#">{% trans 'Journals' %}</a>
      {% if subscribed_collections %}
        <a class="tab-button subscriptions subtitle"  data-tab-content-selectors="#tab-subscriptions, #create-new-poster-head-button"   href="#">{% trans 'Subscriptions' %}</a>
      {% endif %}
      <a class="tab-button events subtitle"         data-tab-content-selectors="#tab-events, #create-new-event-head-button"           href="#">{% trans 'Events' %}</a>
      {% if events_vote %}
        <a class="tab-button votes subtitle"          data-tab-content-selectors="#tab-votes, #create-new-poster-head-button"           href="#">{% trans 'Votes' %}</a>
      {% endif %}
    </div>

    <!-- Collections  -->
    <div id="tab-posters" class="tab-container hide">
      {% if request.user == profile_detail %}
        {% if user_collections %}
          <ul>
            {% include collection_card_template with collections=user_collections with_settings_button='True' show_more='True' %}
          </ul>
          {% if user_collections|length > 9 %}
            <div class="button js-show-other-cards h32">{% trans 'Show more' %}</div>
          {% endif %}
        {% else %}
          <div>
            <a class="body-link js-create-collection" href="{% url 'collection-add' %}">{% trans 'Create your first journal' %}</a>
            <span class="body">, {% trans 'and share it with your friends.' %}</span>
          </div>
        {% endif %}
      {% else %}
        {% if user_collections %}
          <ul>
            {% include collection_card_template with collections=user_collections  show_more='True' %}
          </ul>
          {% if user_collections|length > 9 %}
            <div class="button js-show-other-cards h32">{% trans 'Show more' %}</div>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>

    <!-- Subscriptions -->

    {% if subscribed_collections %}
      <div id="tab-subscriptions" class="tab-container hide">
        <ul>
          {% include collection_card_template with collections=subscribed_collections  show_more='True' %}
        </ul>
        {% if subscribed_collections|length > 9 %}
          <div class="button js-show-other-cards h32">{% trans 'Show more' %}</div>
        {% endif %}
      </div>
    {% endif %}

    <!-- Event -->
    

    <div id="tab-events" class="tab-container hide">
      {% if events %}
        <ul>
          {% for event in events %}
            {% include 'events/card_event.html' with event=event show_remove_button=event|can_remove:request.user show_more='True' event_counter=forloop.counter %}
          {% endfor %}
        </ul>
        {% if events|length > 9 %}
          <div class="button js-show-other-cards h32">{% trans 'Show more' %}</div>
        {% endif %}
      {% else %}
        <div>
          <span class="body">{% trans 'You can'%} </span>
          <a class="body-link" href="{% url 'event-add' %}">{% trans 'create a description of your event' %}</a>
          <span class="body"> {% trans 'and all visitors to the site will see it.' %}</span>
        </div>
      {% endif %}
    </div>

    <!-- Votes -->

    {% if events_vote %}
      <div id="tab-votes" class="tab-container hide">
        <ul>
          {% include event_card_template with events=events_vote %}
        </ul>
      </div>
    {% endif %}
  </div>

</div>

{% endblock %}
