{% extends 'base.html' %}
{% load i18n widget_tweaks app_tags %}

{% block header %}
{% endblock %}

{% block content %}
<div class="page-body ui container pseudo-modal-page" id="profile-update-page">
  <div class="head">
    <a href="/" class="logo spritesheet sprite-logo-colored-ww"></a>

    <div class="close-button">
      <i class="spritesheet sprite-ico-grey-close"></i>
    </div>
  </div>

  <div class="body-container">
    <div class="content">
      <h3>{% trans 'Edit profile' %}</h3>

      <div class="row">
        <form id="edit-profile-form" class="event-form" action="" method="POST">
          {% csrf_token %}
          {{ form.non_field_errors }}

          <!-- Avatar -->
          <div class="row profile-avatar">
            <div class="col left">
              <img src="{{ form.instance.headshot.crop.120x120.url }}">
            </div>
            <div class="col">
              <div class="upload-avatar">
                <div class="body-link">
                  <span>{% trans 'Change photo' %}</span>
                  <input type="file" class="upload" >
                </div>
              </div>
            </div>
          </div>

          <!-- First name -->

          <div class="row">
            <div class="col left">
              {% if form.instance.business_account %}
                <span class="body body-org">{% trans "Organization's name" %}</span>
              {% else %}
                <span class="body">{% trans 'Your name' %}</span>
              {% endif %}
            </div>
            <div class="col right">
              {{ form.first_name|add_class:"u-full-width"|attr:"placeholder:Давайте знакомиться" }}
              {{ form.first_name.errors }}
            </div>
          </div>

          <!-- Email -->

          <div class="row">
            <div class="col left">
              <span class="body">{{ form.email.label }}</span>
            </div>
            <div class="col right">
              {{ form.email|add_class:"u-full-width"|attr:"placeholder:Ваш email" }}
              {{ form.email.errors }}
            </div>
          </div>

          <!-- Password -->

          <div class="row">
            <div class="col left">
              <span class="body">{% trans 'Password' %}</span>
            </div>
            <div class="col right">
              <input disabled id="id_password" name="password" type="text" placeholder="********">
              <a class="body-link" href="{% url 'auth_password_change' %}?next={% url 'profile-update-redirect' %}">{% trans 'Change' %}</a>
            </div>
          </div>

          <!-- Short bio -->

          <div class="row">
            <div class="col left">
              <span class="body">{% trans 'Description' %}</span>
            </div>
            <div class="col right">
              {{ form.short_bio|add_class:"u-full-width" }}
              {{ form.short_bio.errors }}
            </div>
          </div>

          <!-- Social networks -->

          <div class="row social-networks">
            <div class="col left">
              <span class="body">{% trans 'Social' %}</span>
            </div>

            <div class="col right">
              <div class="row social-links">
                {% with account=backends.associated|get_account:'facebook' %}
                  {% if account %}
                    <span class="network-ico">
                      <i class="spritesheet sprite-ico-colored-facebook"></i>
                    </span>
                    <span class="network-name body active fb">{% trans 'Facebook' %}</span>
                    <div class="col">
                      (<a class="body-link" target="_blank" href="{{ form.instance.fb_profile.link }}">{{ form.instance.fb_profile.name }}</a>)
                    </div>
                    <a class="button-social-action js-social-disconnect body-link grey" href="{% url 'social:disconnect_individual' 'facebook' account.id %}">{% trans 'Disable' %}</a>
                  {% else %}
                     <span class="network-ico">
                      <i class="spritesheet sprite-ico-grey-facebook"></i>
                    </span>
                    <span class="network-name body">{% trans 'Facebook' %}</span>
                    <a class="button-social-action body-link" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">{% trans 'Enable' %}</a>
                  {% endif %}
                {% endwith %}
              </div>

              <div class="row social-links">
                {% with account=backends.associated|get_account:'vk-oauth2' %}
                  {% if account %}
                    <span class="network-ico">
                      <i class="spritesheet sprite-ico-colored-vkontakte"></i>
                    </span>
                    <span class="network-name body active vk">{% trans 'Vkontakte' %}</span>
                    <div class="col">
                      (<a class="body-link" target="_blank" href="https://vk.com/id{{ form.instance.vk_profile.id }}">{{ form.instance.vk_profile.first_name }}&nbsp;{{ form.instance.vk_profile.last_name }}</a>)
                    </div>
                    <a class="button-social-action js-social-disconnect body-link grey" href="{% url 'social:disconnect_individual' 'vk-oauth2' account.id %}">{% trans 'Disable' %}</a>
                  {% else %}
                    <span class="network-ico">
                      <i class="spritesheet sprite-ico-grey-vkontakte"></i>
                    </span>
                    <span class="network-name body">{% trans 'Vkontakte' %}</span>
                    <a class="button-social-action body-link" href="{% url 'social:begin' 'vk-oauth2' %}?next={{ request.path }}">{% trans 'Enable' %}</a>
                  {% endif %}
                {% endwith %}
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>
    <div class="bottom-controls">
      <button class="button" form="edit-profile-form">{% trans 'Save' %}</button>
    </div>
  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}
