{% verbatim %}
<script type="text/x-template" id="add-to-category-widget-template">
<div id="add-to-collection-widget">
	<div class="top-section">
    <span class="caption">{{lang.add_to_category || 'Add to category'}}</span>
	</div>
	<div class="middle-section">
		{{#each categories as category}}
			<div class="collection-item {{selectedIDList.indexOf(category.id) >= 0 ? 'selected' : ''}}">
				<span on-click="@this.fire('select', event, category)" rel="tooltip-long-text" data-tooltip-title="{{category.title}}">{{category.title}}</span>
				<i class="spritesheet sprite-ico-checkon"></i>
			</div>

      {{#if category.subcategories.length}}
        <div class="category-tree" style="margin-left: 20px;">
        {{#each category.subcategories as child}}
          <div on-click="@this.fire('select', event, child)" class="collection-item {{selectedIDList.indexOf(child.id) >= 0 ? 'selected' : ''}}">
            <span rel="tooltip-long-text" data-tooltip-title="{{child.title}}">{{child.title}}</span>
            <i class="spritesheet sprite-ico-checkon"></i>
          </div>
        {{/each}}
        </div>
      {{/if}}

		{{/each}}
	</div>
	<div class="bottom-section">
    <a on-click="saveCategory" class="button h32 save disabled" href="#">{{lang.save}}</a>
    <a on-click="cancel" class="button transparent h32 cancel" href="#">{{lang.cancel}}</a>
	</div>
</div>
</script>
{% endverbatim %}
