{% verbatim %}
<script type="text/x-template" id="add-to-collection-widget-template">
<div id="add-to-collection-widget">
	<div class="top-section">
    <a class="caption-link" href="#" on-click="addNewCollection">{{lang.create_new_collection}}</a>
	</div>
	<div class="middle-section">
		{{#each user.collections as collection}}
			<div href="#" on-click="@this.fire('select', event, collection)" class="collection-item {{selectedIDList.indexOf(collection.id) >= 0 ? 'selected' : ''}}">
				<span rel="tooltip-long-text" data-tooltip-title="{{ collection.title }}">{{collection.title}}</span>
				<i class="spritesheet sprite-ico-checkon"></i>
			</div>
		{{/each}}
	</div>
	<div class="bottom-section">
    <a on-click="save" class="button h32 save disabled" href="#">{{lang.save}}</a>
    <a on-click="cancel" class="button transparent h32 cancel" href="#">{{lang.cancel}}</a>
	</div>
</div>
</script>
{% endverbatim %}
