{% verbatim %}
<!-- template for the login modal component -->
<script type="text/x-template" id="add-to-event-widget-template">
  <!--<form on-submit="searchEvent" class="row search-events" id="add-to-event-widget">
    <input on-click="showDropdown" type="text"
      value="{{query}}"
      name="query"
      placeholder="{{lang.find_and_add_event_to_collection}}">
    <button on-click="searchEvent" type="submit">
    {{#if loading}}
      <i class="button-spinner"></i>
    {{else}}
      <i class="spritesheet sprite-icо-search"></i>
    {{/if}}
    </button>

    {{#if events}}
      <div class="autocomplete-holder">
        <ul>
          {{#each events:index}}
          <li class="caption">
            {{#if image}}
              <img on-click="@this.fire('showEventDetail', @context, index)"  src="{{image}}">
            {{else}}
              <img>
            {{/if}}
            <span on-click="@this.fire('showEventDetail', @context, index)" >
              {{ title }}<br>
              {{ place.city }} &bull; {{formatSchedule(_.last(schedules)).locale(locale).format('DD MMMM YYYY HH:mm')}}
            </span>
            {{#if .added}}
              <div class="add-event-action visible"><i class="spritesheet sprite-ico-check"></i></div>
            {{else}}
              <div on-click="@this.fire('addToCollection', @context, index)" class="add-event-action">
                {{#if .processing}}
                  <i class="button-spinner"></i>
                {{else}}
                  <i class="spritesheet sprite-ico-grey-ico-grey-add"></i>
                {{/if}}
              </div>
            {{/if}}
          </li>
          {{/each}}
          <li class="show-more" on-click="showMore">
            <a class="caption-link" href="#">{{lang.all_events_by_query}} &laquo;{{query}}&raquo;</a>
          </li>
        </ul>
      </div>
    {{/if}}
  </form>-->

  <div class="events-buckets">
    {{#each collection.facets.day_events as bucket}}
      {{#if bucket.doc_count}}
      <div class="row events-list {{isPastBucket(bucket.key) && showActual ? 'hide' : ''}}">
          <a class="date-col subtitle" on-click="scrollToMonth" href="#{{formatMonthNum(bucket.key)}}" data-month="{{formatMonthNum(bucket.key)}}">
            {{formatBucketTitle(bucket.key)}}
          </a>
          <div class="events-col">
            <ul class="large-block-grid-2 small-block-grid-1">
              {{#each bucket.events as event}}
                <li class="card card-event">
                  <a href="/events/{{event.provider_id}}-{{event.slug}}/">
                    <div class="card-image">
                        {{#if image }}
                          <div class="card-img" style="background-image: url({{ image }})"></div>
                        {{/if}}
                      <div class="card-actions">
                        <span class="card-star">{{formatAverateRate(average_rate) || 0}}&nbsp;<i class="spritesheet sprite-ico-small-star"></i></span>
                      </div>
                    </div>
                    <div class="card-section">
                      <div class="title">
                        {{#if event.title_localized}}
                          {{ formatFirstLetter(event.title_localized[locale] || event.title) }}
                        {{else}}
                          {{ formatFirstLetter(event.title) }}
                        {{/if}}
                      </div>
                      <div class="subtitle">
                      {{event.place.city}} &bull; {{ formatSchedule(event.actual_schedule).locale(locale).format('DD MMMM YYYY') }} {{event.actual_schedule.start_time}}
                      </div>
                    </div>
                  </a>

                  {{#if collection.author.id == user.id || user.is_staff}}
                    {{#if collection.events.indexOf(id) >= 0}}
                    <div class="card-remove-button" on-click="@this.fire('removeFromCollection', event, id)">
                      <span class="card-icon"><i class="spritesheet sprite-ico-colored-close"></i></span>
                    </div>
                    {{/if}}
                  {{/if}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</script>
{% endverbatim %}
