{% verbatim %}
<!-- template for the login modal component -->
<script type="text/x-template" id="category-widget-template">

  <div class="row event-categories">
    {{#if events}}
      <h2>Found: {{events_total}}</h2>
    {{else}}
      <h2>Not found events</h2>
    {{/if}}
    {{#with params}}
    <p class="subtitle">{{#if query}}{{query}}{{/if}} {{#if city_name}}City: &laquo;{{city_name}}&raquo;{{/if}}</p>
    {{#if start_date || end_date}}
      <p class="subtitle">
        Dates: {{start_date}} {{end_date}}
      </p>
    {{/if}}
    {{/with}}
  </div>

  <div class="collection-detail row">
    <!-- Place details -->

    <div class="row">
    <!-- TODO common tempate for place card event_detail.html -->
      <div class="container event-map-container">
        <div class="row event-categories" style="width: 50%; float:left;">
          {{#each categories as category}}
          <a on-click="['selected', category]" style="margin:0 10px 10px 0;" href="#" class="button h32 {{selected.indexOf(category.key) != -1 ? 'orange' : ''}}">{{category.key}} ({{category.doc_count}})</a>
          {{/each}}
          {{#if lat && lng && getDistance}}
            <div class="row event-categories" style="margin: 40px 0 40px;">
            {{#if loading}}
              <button class="button disabled" disabled>Observing events... </button>&nbsp;
              <i class="spritesheet button-spinner"></i>&nbsp;
              <br>
              <span>center: <b>({{lat}}, {{lng}})</b>; radius:<b>({{parseInt(getDistance)}}m)</b></span>
            {{else}}
              <button class="button" on-click="observe_events">Observe events from provider</button>
              <br>
              <span>center: <b>({{lat}}, {{lng}})</b>; distance:<b>({{parseInt(getDistance)}}m)</b></span>
            {{/if}}
            </div>
          {{/if}}

        </div>
        <div style="height: 500px; width: 500px; float: left;"
                id="event-map"
                data-title="{{ place.title }}"
                data-lat="{{location.latitude}}"
                data-lng="{{location.longitude}}">
        </div>
      </div>
      <div class="clearfix pseudo-map-container is-last-block"></div>
    </div>
  </div>

  <div class="events-in-collection">

    <div class="row event-categories">
      {{#if events}}
        <h2>Found: {{events_total}}</h2>
      {{else}}
        <h2>Not found events</h2>
      {{/if}}
      {{#with params}}
      <p class="subtitle">{{#if query}}{{query}}{{/if}} {{#if city_name}}City: &laquo;{{city_name}}&raquo;{{/if}}</p>
      {{#if start_date || end_date}}
        <p class="subtitle">
          Dates: {{start_date}} {{end_date}}
        </p>
      {{/if}}
      {{/with}}
    </div>

    <div class="row event-categories">
      {{#each categories as category}}
      <a on-click="['selected', category]" style="margin:0 10px 10px 0;" href="#" class="button h32 {{selected.indexOf(category.key) != -1 ? 'orange' : ''}}">{{category.key}} ({{category.doc_count}})</a>
      {{/each}}
    </div>

    <div class="events-buckets" id="search-page">
      {{#if has_prev || has_next}}
        <li class="row pagination clearfix" style="width:100%;padding-bottom: 20px;">
          <div class="event-pagination body">
            {{#if has_prev}}
              <a on-click="prev_page" href="#" rel="page" class="endless_page_link">
                <i class="spritesheet sprite-ico-normal-prev"></i> Prev
              </a>
            {{else}}
              <span href="#" rel="page" class="endless_page_link" style="opacity: .1; text-decoration:none;">
                <i class="spritesheet sprite-ico-normal-prev"></i> Prev
              </span>
            {{/if}}
            <span class="endless_page_current">
              {{#if loading}}
                <i class="spritesheet button-spinner"></i>
              {{else}}
                <strong>{{current_page || 1}}</strong>
              {{/if}}
            </span>
            {{#if has_next}}
              <a on-click="next_page" href="#" rel="page" class="endless_page_link">
                Next <i class="spritesheet sprite-ico-normal-next"></i>
              </a>
            {{else}}
              <span href="#" rel="page" class="endless_page_link" style="opacity: .1; text-decoration:none;">
                Next <i class="spritesheet sprite-ico-normal-next"></i>
              </span>
            {{/if}}
          </div>
        </li>
      {{/if}}
      <ul class="large-block-grid-4 small-block-grid-1">
        {{#each events as event}}
          <li class="card card-event">
            <a href="/events/{{event.provider_id}}-{{event.slug}}/">
              <div class="card-image">
                  {{#if image }}
                    <div class="card-img" style="background-image: url({{ image }})"></div>
                  {{/if}}
                <div class="card-actions">
                  <span class="card-star">{{formatAverateRate(average_rate) || 0}}&nbsp;<i class="spritesheet sprite-ico-small-star"></i></span>
                </div>
              </div>
              <div class="card-section">
                <div class="title">
                  {{#if event.title_localized}}
                    {{ formatFirstLetter(event.title_localized[locale] || event.title) }}
                  {{else}}
                    {{ formatFirstLetter(event.title) }}
                  {{/if}}
                </div>
                <div class="subtitle">
                {{event.place.city}} ({{event.provider}}-{{event.rank}}) &bull; {{ formatSchedule(event.actual_schedule).locale(locale).format('DD MMMM YYYY') }} {{event.actual_schedule.start_time}}
                </div>
              </div>
            </a>

            {{#if collection.author.id == user.id || user.is_staff}}
              {{#if collection.events.indexOf(id) >= 0}}
              <div class="card-remove-button" on-click="@this.fire('removeFromCollection', event, id)">
                <span class="card-icon"><i class="spritesheet sprite-ico-colored-close"></i></span>
              </div>
              {{/if}}
            {{/if}}
          </li>
        {{/each}}
        <li class="row pagination clearfix" style="width:100%;">
          <div class="event-pagination body">
            <!--
            <span class="endless_page_current">
              <strong>1</strong>
            </span>
            -->
            {{#if has_prev}}
              <a on-click="prev_page" href="#" rel="page" class="endless_page_link">
                <i class="spritesheet sprite-ico-normal-prev"></i> Prev
              </a>
            {{else}}
              <span href="#" rel="page" class="endless_page_link" style="opacity: .1; text-decoration:none;">
                <i class="spritesheet sprite-ico-normal-prev"></i> Prev
              </span>
            {{/if}}
            <span class="endless_page_current">
              {{#if loading}}
                <i class="spritesheet button-spinner"></i>
              {{else}}
                <strong>{{current_page || 1}}</strong>
              {{/if}}
            </span>
            {{#if has_next}}
              <a on-click="next_page" href="#" rel="page" class="endless_page_link">
                Next <i class="spritesheet sprite-ico-normal-next"></i>
              </a>
            {{else}}
              <span href="#" rel="page" class="endless_page_link" style="opacity: .1; text-decoration:none;">
                Next <i class="spritesheet sprite-ico-normal-next"></i>
              </span>
            {{/if}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</script>
{% endverbatim %}
