{% verbatim %}
<!-- template for the modal component -->
<script type="text/x-template" id="create-collection-modal-template">
  <div class="modal-mask {{showModal ? '' : 'hide'}}">
    <div class="modal-wrapper">
      <div class="modal-container create-collection-modal container">

        <div class="modal-header row">
          {{#if editCollection }}
            <h3>{{lang.edit_collection}}</h3>
          {{else}}
            <h3>{{lang.new_collection}}</h3>
          {{/if}}
        </div>

        <div class="modal-body">
          <form on-submit="save" class="event-form" action="" method="POST">

            <div class="row">
            <input class="u-full-width {{errors.title ? 'error' : ''}}" id="id_title" value="{{eventCollection.title}}" name="title" placeholder="{{lang.name_the_collection}}" type="text">
              {{#if errors.title}}
                {{#each errors.title as error}}
                  <span class="error error-text">{{error}}</span>
                {{/each}}
              {{/if}}
            </div>

            <!-- Photos -->

            <div class="row field photos">
              <p class="help-text caption">{{{lang.collection_image_cover}}}</p>
              <div as-dropzone="'collection'"
                data-keypath="eventCollection.images"
                class="event-images-wrapper {{eventCollection.images.length ? '' : 'empty'}}"></div>
            </div>

            <div class="row">
            <textarea value="{{eventCollection.description}}"
              class="u-full-width"
              cols="40" rows="10"
              id="id_description"
              name="description"
              placeholder="{{lang.what_is_this_collection_about}}">
                {{eventCollection.description}}
            </textarea>
            </div>

            <div class="row сonfidentiality-holder">
              <div class="сonfidentiality-item">
                <input {{eventCollection.private == 'false' ? 'checked' : ''}} id="id_public" name="{{eventCollection.private}}" value="false" type="radio">
                <label class="body" for="id_public">{{lang.public_visible_to_all}}</label>
              </div>
              <div class="сonfidentiality-item">
                <input  {{eventCollection.private == 'true' ? 'checked' : ''}} id="id_private" name="{{eventCollection.private}}" value="true" type="radio">
                <label class="body" for="id_private">{{lang.private_only_available_you}}</label>
              </div>
            </div>

            <div class="row сonfidentiality-holder">
              <div class="сonfidentiality-item">
                <input checked="{{eventCollection.limit_dates}}" id="id_limit_dates" type="checkbox">
                <label class="body" for="id_limit_dates">{{lang.limit_dates}}</label>
              </div>
              {{#if eventCollection.limit_dates}}
                <div class="dates-item five columns">
                  <input class="twelve columns"
                    id="id_limit_date_from"
                    as-datetimePicker="'limit_dates', 0"
                    value="{{eventCollection.limit_date_from}}"
                    name="event-schedule-start-date-0"
                    placeholder="{{lang.search_date_from}}">
                </div>
                <div class="dates-item one columns">&mdash;</div>
                <div class="dates-item five columns">
                  <input class="twelve columns"
                    id="id_limit_date_to"
                    as-datetimePicker="'limit_dates', 0"
                    value="{{eventCollection.limit_date_to}}"
                    name="event-schedule-end-date-0"
                    placeholder="{{lang.search_date_to}}">
                </div>
                <div class="twelve columns">
                  {{#if errors.limit_date_from}}
                    {{#each errors.limit_date_from as error}}
                      <span class="error error-text">{{error}}</span>
                    {{/each}}
                  {{/if}}
                  {{#if errors.limit_date_to}}
                    {{#each errors.limit_date_to as error}}
                      <span class="error error-text">{{error}}</span>
                    {{/each}}
                  {{/if}}
                </div>
              {{/if}}
            </div>
          </form>
        </div>

        <div class="modal-footer row">
          <button class="button" on-click="save">
            {{#if editCollection }}
              {{lang.save}}
            {{else}}
              {{lang.create}}
            {{/if}}
          </button>

          {{#if editCollection }}
          <button class="button orange" on-click="remove">
            {{lang.remove}}
          </button>
          {{/if}}

          <button class="button cancel-button" on-click="close">
            {{lang.cancel}}
          </button>
        </div>
      </div>
    </div>
  </div>
</script>
{% endverbatim %}
