{% verbatim %}
<!-- template for the event form component -->
<script type="text/x-template" id="create-event-form-template">
<form on-submit="submitForm" class="event-form" id="create-event-form" action="" method="POST">

  <!-- Title -->
  <div class="row field">
    <div class="col left">
      <label class="body" for="id_title">{{lang.event_title}}</label>
    </div>
    <div class="col right">
      <input
        on-blur="validate"
        value="{{event.title}}"
        class="u-full-width {{errors.title ? 'error' : ''}}" id="id_title"
        maxlength="200" name="title"
        placeholder="{{lang.name_the_event}}" type="text">
      <span class="error">{{errors.title}}</span>
    </div>
  </div>

  <!-- Category -->
  <div class="row field">
    <div class="col left">
      <label class="body" for="id_category">{{lang.event_category}}</label>
    </div>
    <div class="col right">
      <input
              type="text"
              on-blur="validate"
              value="{{event.category}}"
              class="u-full-width {{errors.category ? 'error' : ''}}"
              id="id_category"
              name="category"
              placeholder="{{lang.event_choose_category}}">
      <span class="error">{{errors.category}}</span>
    </div>
  </div>

  <!-- Description -->
  <div class="row field">
    <div class="col left">
      <label class="body" for="id_description">{{lang.event_description}}</label>
    </div>
    <div class="col right">
      <textarea
        value="{{event.description}}"
        class="u-full-width"
        id="id_description"
        name="description"
        placeholder="{{lang.event_what_expect_visitors}}"
        cols="40" rows="10">{{event.description}}</textarea>
    </div>
  </div>

  <!-- Dates -->
  <div class="row dates">
    <div class="col left">
      <label class="body body-schedules" for="id_schedules">{{lang.event_dates}}</label>
    </div>
    <div id="id_schedules" class="col right">
      <div class="event-schedule-row">
        <div class="date-label">{{lang.event_start}}</div>
        <span class="separator hidden">—</span>
        <div class="date-label">{{lang.event_start_time}}</div>
        <span class="separator hidden">—</span>
        <div class="date-label">{{lang.event_end_time}}</div>
      </div>
      {{#each event.schedules:index}}
      <div class="event-schedule-row">
        <input
          on-blur="@this.fire('validateSchedule', event, @context)"
          class="{{formatScheduleError(index, 'start_date') ? 'error' : ''}}"
          as-datetimePicker="'schedule', index"
          name="event-schedule-start-date-{{index}}"
          placeholder="{{lang.event_start}}"
          data-keypath="event.schedules.{{index}}.start_date"
          type="text" value="{{start_date}}">
        <span class="separator hidden">—</span>
        <input
          on-blur="@this.fire('validateSchedule', event, @context)"
          class="{{formatScheduleError(index, 'start_date') || formatScheduleError(index, 'start_time') ? 'error' : ''}}"
          as-datetimePicker="'schedule_time', index"
          name="event-schedule-start-time-{{index}}"
          placeholder="{{lang.event_start_time}}"
          data-keypath="event.schedules.{{index}}.start_time"
          type="text" value="{{start_time}}">
        <span class="separator">—</span>
        <input
          on-blur="@this.fire('validateSchedule', event, @context)"
          class="{{formatScheduleError(index, 'end_date') || formatScheduleError(index, 'end_time') ? 'error' : ''}}"
          as-datetimePicker="'schedule_time', index"
          name="event-schedule-end-time-{{index}}"
          placeholder="{{lang.event_end_time}}"
          data-keypath="event.schedules.{{index}}.end_time"
          type="text" value="{{end_time}}">
        {{#if index}}
          <a href="#" on-click="@this.fire('removeSchedule', event, index)" class="remove-date-button spritesheet sprite-ico-colored-close"></a>
        {{/if}}
        <span id="event-schedule-{{index}}" class="error">
        {{formatScheduleError(index, 'start_date') || formatScheduleError(index, 'end_date') || formatScheduleError(index, 'start_time') || formatScheduleError(index, 'end_time') || formatScheduleError(index, 'non_field_errors')}}
        </span>
      </div>
      {{/each}}
      <a on-click="addSchedule" class="help-text body-link" href="#">{{lang.event_add_another_date}}</a>
      <div class="help-text">{{lang.event_dates_help_text}}</div>
    </div>
  </div>

  <!-- Social networks title -->

  <div class="row">
    <div class="col">
      <h4>{{lang.event_social_network}}</h4>
    </div>
  </div>

  <div class="row field">
    <div class="col left">
      <label class="body" for="id_fb_url">{{lang.event_facebook}}</label>
    </div>

    <div class="col right">
        <input
          value="{{event.fb_url}}"
          on-blur="@this.fire('validateUrl', event, 'event.fb_url')"
          class="u-full-width {{errors.fb_url ? 'error' : ''}}" id="id_fb_url"
          maxlength="1200" name="fb_url"
          placeholder="http://" type="text">
        <span class="error">{{errors.fb_url}}</span>
      </div>
  </div>

  <div class="row field">
    <div class="col left">
      <label class="body" for="id_vk_url">{{lang.event_vkontakte}}</label>
    </div>

    <div class="col right">
      <input
        value="{{event.vk_url}}"
        on-blur="@this.fire('validateUrl', event, 'event.vk_url')"
        class="u-full-width {{errors.vk_url ? 'error' : ''}}" id="id_vk_url"
        maxlength="1200" name="vk_url"
        placeholder="http://" type="text">
      <span class="error">{{errors.vk_url}}</span>

    </div>
  </div>

  <!-- Photo and video title -->

  <div class="row">
    <div class="col">
      <h4>{{lang.event_photo_video}}</h4>
    </div>
  </div>

  <!-- Photos -->

  <div class="row field photos">
    <div as-dropzone="'images'"
      data-keypath="event.images"
      id="event-dropzone"
      class="event-images-wrapper"></div>
    <p class="help-text caption">{{{lang.event_first_image_cover}}}</p>
  </div>

  <!-- Video URL -->

  <div class="row ">
    <div class="col left">
      <label class="body" for="id_video_url">{{lang.event_video_link}}</label>
    </div>
    <div class="col right">
      <input
        value="{{event.video_url}}"
        on-blur="@this.fire('validateUrl', event, 'event.video_url')"
        class="u-full-width {{errors.video_url ? 'error' : ''}}"
        id="id_video_url"
        maxlength="200" name="video_url"
        placeholder="http://" type="text">
      <span class="error">{{errors.video_url}}</span>
    </div>
  </div>

  <!-- Place title -->

  <div class="row">
    <div class="col">
      <h4>{{lang.event_location}}</h4>
    </div>
  </div>

  <!-- Place name -->

  <div class="row field">
    <div class="col left">
      <label class="body" for="id_place-title">{{lang.event_place_name}}</label>
    </div>
    <div class="col right">
      <input
        on-blur="validate"
        value="{{event.place.title}}"
        class="u-full-width {{errors.place.title ? 'error' : ''}}" id="id_place-title"
        maxlength="200" name="place-title"
        placeholder="{{lang.event_where_place_name}}" type="text">
      <span class="error">{{errors.place.title}}</span>
    </div>
  </div>

  <!-- City -->

  <div class="row field">
    <div class="col left">
      <label class="body" for="id_place-city">{{lang.event_place_city}}</label>
    </div>

    <div class="col right">
      <select as-select2Placemap="'place'"
        on-blur="validate"
        style="width: 100%"
        class="u-full-width {{errors.place.city ? 'error' : ''}}" id="id_place-city"
        name="place-city"
        data-placeholder="{{lang.event_place_city_indicate}}"
        data-keypath="event.place.city">
        {{#if event.place.city}}
          <option value="{{event.place.city}}" selected="">{{event.place.city}}</option>
        {{/if}}
      </select>
      <span class="error">{{errors.place.city}}</span>
      <div class="help-text">{{lang.event_place_city_help_text}}</div>
    </div>
  </div>

  <!-- Map -->

  <div class="{{event.place.lat ? '' : 'hide'}}" id="map_canvas"></div>


  <!-- Address -->

  <div class="row field">
    <div class="col left">
      <label class="body" for="id_place-address">{{lang.event_place_address}}</label>
    </div>
    <div class="col right">
      <input
              on-blur="validate"
              value="{{event.place.address}}"
              style="width: 100%"
              class="u-full-width {{errors.place.address ? 'error' : ''}}" id="id_place-address"
              type="text"
              name="place-address"
              placeholder="{{lang.event_place_address_indicate}}">
      <span class="error">{{errors.place.address}}</span>
      <div class="help-text">{{lang.event_place_address_help_text}}</div>
    </div>
  </div>


  <!-- Phone -->

  <div class="row field">
    <div class="col left">
      <label class="body" for="id_place-phone">{{lang.event_place_phone}}</label>
    </div>
    <div class="col right">
      <input
        on-blur="validatePhone"
        value="{{event.place.phone}}"
        class="u-full-width {{errors.place.phone ? 'error' : ''}}" id="id_place-phone"
        maxlength="200" name="place-phone"
        placeholder="+7(123)456-78-90" type="text">
        {{#if phoneMetaData}}
          <span><small>{{phoneMetaData}}</small></span>
        {{/if}}
      <span class="error">{{errors.place.phone}}</span>
    </div>
  </div>

  <!-- Email -->

  <div class="row field">
    <div class="col left">
      <label class="body" for="id_place-email">{{lang.email}}</label>
    </div>
    <div class="col right">
      <input
        on-blur="validateEmail"
        value="{{event.place.email}}"
        class="u-full-width {{errors.place.email ? 'error' : ''}}" id="id_place-email"
        maxlength="254" name="place-email"
        placeholder="{{lang.email_address}}" type="text">
      <span class="error">{{errors.place.email}}</span>
    </div>
  </div>

  <!-- Site -->

  <div class="row">
    <div class="col left">
      <label class="body" for="id_place-website">{{lang.event_place_website}}</label>
    </div>
    <div class="col right">
      <input
        value="{{event.place.website}}"
        on-blur="@this.fire('validateUrl', event, 'event.place.website')"
        class="u-full-width {{errors.place.website ? 'error' : ''}}" id="id_place-website"
        maxlength="200" name="place-website"
        placeholder="http://" type="text">
      <span class="error">{{errors.place.website}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>{{lang.event_ticket_booking}}</h4>
    </div>
  </div>

  <div class="row field ticket-price">
    <div class="col left">
      <label class="body" for="id_ticket_price">{{lang.event_ticket_price}}</label>
    </div>
    <div class="col right">
      <div class="price col">
        {{#if event.currency}}
          <input value="{{event.ticket_price}}"
                 class="u-full-width"
                 id="id_ticket_price"
                 name="ticket_price" placeholder="{{lang.event_ticket_price}}"
                 type="text">
        {{else}}
          <input value=""
                 disabled
                 class="u-full-width"
                 id="id_ticket_price"
                 name="ticket_price" placeholder="{{lang.free}}"
                 type="text">
        {{/if}}
        <span class="error">{{errors.ticket_price}}</span>
      </div>

      <div class="currency col dropdown-holder">
        <i class="spritesheet sprite-ico-grey-dropdown"></i>
        <select on-change="@this.fire('changeTicketPriceState', event)"
                class="u-full-width"
                name="currency"
                value="{{event.currency}}">
          <option selected value=''>{{lang.event_free}}</option>
          <option value='руб'>{{lang.rub}}</option>
          <option value='€'>€</option>
          <option value='$'>$</option>
          <option value='£'>£</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col left">
      <label class="body" for="id_ticket_url">{{lang.event_ticket_url}}</label>
    </div>
    <div class="col right">
      <input
        value="{{event.ticket_url}}"
        on-blur="@this.fire('validateUrl', event, 'event.ticket_url')"
        class="u-full-width" id="id_ticket_url"
        maxlength="200" name="ticket_url"
        placeholder="http://" type="text">
      <span class="error">{{errors.ticket_url}}</span>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h4>{{lang.event_related_events}}</h4>
    </div>
  </div>

  <div class="row similar-events">
    <div class="search-events" id="add-to-event-widget">
      <input on-click="showDropdown" type="text"
          style="width:90%;"
          value="{{query}}"
          name="query"
          placeholder="{{lang.find_and_add_event_to_collection}}">
      <button on-click="searchEvent" type="submit">
        {{#if loading}}
          <i class="button-spinner"></i>
        {{else}}
          <i class="spritesheet sprite-ico-colored-search"></i>
        {{/if}}
      </button>
      {{#if similarEvents}}
        <div class="autocomplete-holder" style="width: 90%;">
          <ul>
            {{#each similarEvents}}
            <li on-click="@this.fire('showEventDetail', event, @index)" class="caption">
              {{#if image}}
                <img src="{{image}}">
              {{else}}
                <img>
              {{/if}}
              <span>
                {{ title }}<br>
                {{ place.city }} &bull; {{formatDate(schedules)}}, {{formatTime(schedules)}}
              </span>
              {{#if .added}}
                <div class="add-event-action visible"><i class="spritesheet sprite-ico-check"></i></div>
              {{else}}
                <div on-click="@this.fire('addSimilar', event, @index)" class="add-event-action">
                  {{#if .processing}}
                    <i class="button-spinner"></i>
                  {{else}}
                    <i class="spritesheet sprite-ico-grey-ico-grey-add"></i>
                  {{/if}}
                </div>
              {{/if}}
            </li>
            {{/each}}
            <li class="show-more" on-click="showMore">
              <a class="caption-link" href="#">{{lang.all_events_by_query}} &laquo;{{query}}&raquo;</a>
            </li>
          </ul>
        </div>
      {{/if}}
    </div>
  </div>

  <div class="row similar-items-list">
    {{#each event.similar:index}}
      <div class="row similar-item">
        <div class="col similar-img">
          <img src="{{image}}">
          <a class="remove-event-button" on-click="@this.fire('removeSimilar', event, index)" href="#">
            <i class="spritesheet sprite-ico-colored-close"></i>
          </a>
        </div>
        <div class="col similar-info">
          <div class="">
            <h5>{{title}}</h5>
            <div class="caption">{{place.city}} &bull; {{place.title}}</div>
            <span class="caption">{{formatDate(schedules)}}, {{formatTime(schedules)}}</span>
            <a class="caption-link more-link" href="/events/{{provider_id}}-{{slug}}/" target="_blank">{{lang.event_more}}</a>
          </div>
        </div>
      </div>
    {{/each}}
  </div>

  <input twoway="false" on-click="save" type="button" class="button button-primary hide submit-button" value="">

</form>
</script>
{% endverbatim %}
