{% verbatim %}
<!-- template for the login modal component -->
<script type="text/x-template" id="login-modal-template">
  <div class="modal-mask {{showModal ? '' : 'hide'}}">
    <div class="modal-wrapper">
      <div class="modal-container login-modal">
        <a href="#" on-click="close" class="modal-close spritesheet sprite-ico-grey-close"></a>

        <div class="modal-header row">
          {{#if isSignupModal}}
            <h3>{{lang.sign_up}}</h3>
          {{else}}
            <h3>{{lang.sign_in}}</h3>
          {{/if}}
        </div>

        <div class="modal-body">

          {{#if isSignupModal}}
            <div class="row signup-as">
              <a on-click="switchSignupAsType" class="body-link signup-type-link" href="#">{{#if isOrganizerSignupModal}}{{lang.signup_as_private_person}}{{else}}{{lang.signup_as_organizer}}{{/if}}</a>
              <hr>
              <span class="body">{{#if isOrganizerSignupModal}}{{lang.signup_as_organizer}}{{else}}{{lang.signup_as_private_person_through}}{{/if}}:</span>
            </div>
          {{/if}}

          {{#if !isOrganizerSignupModal || !isSignupModal }}
            <div class="row social-buttons">
              <div class="fb-button u-pull-left">
                <a href="/login/facebook/?next={{next}}" class="button u-full-width">
                  <i class="spritesheet sprite-ico-white-facebook"></i>
                </a>
              </div>
              <div class="vk-button u-pull-right">
                <a href="/login/vk-oauth2/?next={{next}}" class="button u-full-width">
                  <i class="spritesheet sprite-ico-white-vkontakte"></i>
                </a>
              </div>
            </div>
            <div class="row">
              <p class="body">{{lang.or_by_email_address}}</p>
            </div>
          {{/if}}

          <form class="login-form" action="" method="POST">
            {{#if errors.non_field_errors}}
              {{#each errors.non_field_errors as error}}
                <span class="error">{{error}}</span>
              {{/each}}
            {{/if}}
            {{#if isSignupModal}}
            <div class="row">
              <div class="">
                <input class="u-full-width {{errors.first_name ? 'error' : ''}}" value="{{first_name}}" name="first_name" placeholder="{{#if isOrganizerSignupModal}}{{lang.company_name}}{{else}}{{lang.your_name}}{{/if}}" type="text">
                {{#if errors.first_name}}
                  {{#each errors.first_name as error}}
                    <span class="error">{{error}}</span>
                  {{/each}}
                {{/if}}
              </div>
            </div>
            {{/if}}
            <!-- Email -->
            <div class="row">
              <div class="">
                <input class="u-full-width {{errors.email ? 'error' : ''}}" value="{{email}}" name="email" placeholder="{{lang.email}}" type="email">
                {{#if errors.email}}
                  {{#each errors.email as error}}
                    <span class="error">{{error}}</span>
                  {{/each}}
                {{/if}}
              </div>
            </div>

            <!-- Password -->
            <div class="row">
              <div class="password-input-holder">
                {{#if isSignupModal}}
                  <input class="u-full-width signup {{errors.password ? 'error' : ''}}" value="{{password}}" name="password" placeholder="{{lang.password}}" type="password">
                {{else}}
                  <input class="u-full-width signin {{errors.password ? 'error' : ''}}" value="{{password}}" name="password" placeholder="{{lang.password}}" type="password">
                  <a on-click="remind" href="#" class="caption-link remember-password js-restore-password">{{lang.remind}}</a>
                {{/if}}
                {{#if errors.password}}
                  {{#each errors.password as error}}
                    <span class="error">{{error}}</span>
                  {{/each}}
                {{/if}}
              </div>
            </div>


            <div class="row">
              <div class="">
                {{#if isSignupModal}}
                  <input on-click="signup" class="button u-full-width submit-signup" value="{{lang.signup}}" type="submit">
                {{else}}
                  <input on-click="login" class="button u-full-width submit-signin" value="{{lang.signin}}" type="submit">
                {{/if}}
              </div>
            </div>
            <div class="row">
              <div class="">
                {{#if isSignupModal}}
                  <a on-click="switchModal" class="caption-link" href="#">{{lang.already_registered}}</a>
                {{else}}
                  <a on-click="switchModal" class="caption-link" href="#">{{lang.signup}}</a>
                {{/if}}
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</script>
{% endverbatim %}
