{% verbatim %}
<script type="text/x-template" id="remove-place-events-confirmation-modal-template">
    <div class="modal-mask {{showModal ? '' : 'hide'}}">
        <div class="modal-wrapper">
            <div class="modal-container remove-place-events-confirmation-modal">
                <a href="#" on-click="close" class="modal-close spritesheet sprite-ico-grey-close"></a>
                <h3>{{lang.attention}}</h3>
                <div class="body message">{{lang.remove_place_events_confirmation_modal_message}}</div>
                <hr>
                <div class="buttons-holder">
                    <a on-click="confirm" class="button red" href="#">{{lang.places_confirm_remove_button}}</a>
                    <a on-click="close" class="button transparent" href="#">{{lang.cancel}}</a>
                </div>
            </div>
        </div>
    </div>
</script>
{% endverbatim %}
