{% verbatim %}
<script type="text/x-template" id="restore-password-modal-template">
    <div class="modal-mask {{showModal ? '' : 'hide'}}">
        <div class="modal-wrapper">
            <div class="modal-container restore-password-modal">
                <a href="#" on-click="close" class="modal-close spritesheet sprite-ico-grey-close"></a>
                {{#if isRestoreMode}}
                    <h3>{{lang.restore}}</h3>
                    <div class="body message">{{lang.restore_password_modal_message}}</div>
                    <form class="restore-password-form" action="" method="POST">
                        <input id="restore-email" class="u-full-width {{errors.email ? 'error' : ''}}" value="{{email}}" name="email" placeholder="{{lang.email_address}}" type="email">
                        {{#if errors.email}}
                            {{#each errors.email as error}}
                                <span class="error">{{error}}</span>
                            {{/each}}
                        {{/if}}
                        <input on-click="remind" class="button u-full-width remind-button  {{isRemindProcessed ? 'disabled by-opacity' : ''}}" type="submit" value="{{lang.remind}}">
                    </form>
                    <a on-click="remembered" class="caption-link remembered-button" href="#">{{lang.restore_password_modal_i_remembered}}</a>
                {{else}}
                    <div class="body sent-message">{{lang.restore_password_modal_instruction_sent_message}}</div>
                {{/if}}
            </div>
        </div>
    </div>
</script>
{% endverbatim %}
