{% verbatim %}
<!-- template for the login modal component -->
<script type="text/x-template" id="search-widget-template">
  <form on-submit="submitSearch" class="search-form mobile" action="/search/" method="get">
    <!-- Text input -->
    <div class="search-form-element-holder search-text-holder autocomplete-input mobile-search">
      <input name="q" type="text" placeholder="{{lang.search_placeholder}}" autocomplete="off" value="{{query}}">
    </div>

    <!-- City input -->
    <div class="search-form-element-holder search-city-holder autocomplete-input mobile-search">
      <input id="search-city-input" name="name" type="text" placeholder="{{lang.city_placeholder}}" autocomplete="off" value="{{city_name}}" style="padding: 15px 10px;">
      <input name="lat" type="hidden" value="{{lat}}">
      <input name="lng" type="hidden" value="{{lng}}">
    </div>

    <!-- Start date input -->

    <div class="search-form-element-holder mobile-search">
      <div class="search-form-element-holder search-start-date-holder">
        <span id="search-start-date-display">{{start_date}}</span>
        <input
          as-datetimePicker="'search_dates', 0"
          data-start="{{start_date}}"
          value="{{start_date}}"
          name="start"
          type="text"
          placeholder="{{lang.start_date_placeholder}}"
          id="search-start-date">
      </div>

      <!-- End date input -->
      <div class="search-form-element-holder search-end-date-holder">
        <span id="search-end-date-display">{{end_date}}</span>
        <input
          as-datetimePicker="'search_dates', 0"
          data-end="{{end_date}}"
          value="{{end_date}}"
          name="end"
          type="text"
          placeholder="{{lang.end_date_placeholder}}"
          id="search-end-date">
      </div>
    </div>

    <!-- Submit button -->
    <div class="search-form-element-holder search-submit-button-holder mobile-search">
      <button on-submit="submitSearch" class="button {{loading ? 'white-with-blue-border' : ''}} search-submit u-full-width" type="submit">
        <i class="spritesheet sprite-ico-search {{loading ? 'button-spinner' : ''}}"></i>&nbsp;
        {{lang.search_submit_placeholder}}
      </button>
    </div>
  </form>
</script>
{% endverbatim %}
