{% verbatim %}
<!-- template for the subscribe modal component -->
<script type="text/x-template" id="subscribe-modal-template">
  <div class="modal-mask {{showModal ? '' : 'hide'}}">
    <div class="modal-wrapper">
      <div class="modal-container login-modal">
        <a href="#" on-click="close" class="modal-close spritesheet sprite-ico-grey-close"></a>

        {{#if isSubscribed}}
          <div class="body sent-message">{{lang.subscribe_modal_success}}</div>
        {{else}}
          <div class="modal-header row">
            <h3>{{lang.subscribe_modal_title}}</h3>
          </div>

          <div class="modal-body">
            <div class="row">
              <p class="body">{{lang.subscribe_modal_text}}</p>
            </div>
            <form class="login-form" action="" method="POST">
              {{#if errors.non_field_errors}}
                {{#each errors.non_field_errors as error}}
                  <span class="error">{{error}}</span>
                {{/each}}
              {{/if}}
              <!-- Email -->
              <div class="row">
                <input class="u-full-width {{errors.email ? 'error' : ''}}" value="{{email}}" name="email" placeholder="{{lang.email}}" type="email">
                {{#if errors.email}}
                  {{#each errors.email as error}}
                    <span class="error">{{error}}</span>
                  {{/each}}
                {{/if}}
              </div>
              <div class="row">
                <input on-click="subscribe" class="button u-full-width submit-signin" value="{{lang.send}}" type="submit">
              </div>
            </form>
          </div>
        {{/if}}

      </div>
    </div>
  </div>
</script>
{% endverbatim %}
