{% verbatim %}
<script type="text/x-template" id="translate-collection-widget-template">
{{#if message}}
  <p>{{message}}</p>
{{else}}
  <div id="add-to-collection-widget">
    <div class="top-section">
      {{lang.choose_lang_translate}}
    </div>
    <div class="middle-section">
      {{#each locales}}
        <div on-click="@this.fire('select', @context, this)" class="collection-item {{ selected.code == code ? 'selected' : ''}}">
          <span>{{text}}</span>
          <i class="spritesheet sprite-ico-checkon"></i>
        </div>
      {{/each}}
    </div>
    <div class="bottom-section">
      <a on-click="save" class="button h32 save {{selected ? '' : 'disabled'}}" href="#">{{lang.translate}}</a>
      <a on-click="cancel" class="button transparent h32 cancel" href="#">{{lang.cancel}}</a>
    </div>
  </div>
{{/if}}
</script>
{% endverbatim %}
