{% load i18n %}

<span class="counter-number subtitle">
  {{ collection.subscribers_count|default:0 }} <i class="sprite sprite-ico-bookmark-on"></i>
</span>
<div class="counter-title caption">
  {% blocktrans count counter=collection.subscribers_count|default:0 %}subscriber{% plural %}subscribers{% endblocktrans %}
</div>
