{% load i18n %}

<span class="counter-number subtitle">
  {{ events_count|default:0 }}
</span>
<div class="counter-title caption">
  {% blocktrans count counter=events_count|default:0 %}event{% plural %}events{% endblocktrans %}
</div>
