{% load i18n %}

<span class="counter-number subtitle">
  {{ collections.hits.total|default:0 }}&nbsp;<i class="sprite sprite-ico-favorite"></i>
</span>
<div class="counter-title caption">
  {% blocktrans count counter=collections.hits.total|default:0 %}journal{% plural %}journals{% endblocktrans %}
</div>
