{% load i18n %}

{% if rating.votes.count %}
  <span class="counter-number subtitle">
    {{ rating.average_rate.value|default:"0"|floatformat:"0" }} <i class="spritesheet sprite-ico-small-star"></i>
  </span>
  <div class="counter-title caption">
    {% blocktrans count counter=rating.votes.count|default:0 %}{{ counter }} vote{% plural %}{{ counter }} votes{% endblocktrans %}
  </div>
{% endif %}
