{% if events.count %}
  <div class="container">
    <div class="row">
      <div class="ten columns">
        <h3>{% trans 'Events in journals' %}</h3>
      </div>
      <div class="two columns">
        <a href="{% url 'collection-list' %}" class="u-pull-right">{% trans 'All journals' %}</a>
      </div>
    </div>
    <div class="row">
      <ul class="large-block-grid-4">
        {% include collection_card_template %}
      </ul>
    </div>
  </div>
{% endif %}
