{% load i18n app_tags %}

<div class="row">
  <!-- Collections -->
  <div class="one-third column">
    <span class="counter counter-collection">
      {% include 'include/counters/_event_collections.html' %}
    </span>
  </div>

  <!-- Votes -->
  <div class="one-third column">
    <span class="counter counter-vote">
      {% include 'include/counters/_event_votes.html' %}
    </span>
  </div>

  <!-- Views -->
  <div class="one-third column">
    <span class="counter">
      <span class="counter-number subtitle">
        {{ hitcount.total_hits|default:0 }}&nbsp;<i class="sprite sprite-ico-visibility"></i>
      </span>
      <span class="counter-title caption">
        {% blocktrans count counter=hitcount.total_hits|default:0 %}view{% plural %}views{% endblocktrans %}
      </span>
    </span>
  </div>
</div>

<hr class="u-full-width">

{% if DEBUG or user.is_staff %}
  <div class="row">
    <span>Favorites {{ event.provider }}: {{ event.counters.to_dict }}</span>
    <br>
    {% if event.provider == 'fb' %}
      <a target="_blank" href="https://www.facebook.com/events/{{ event.provider_id }}/">provider link</a>
    {% endif %}
    {% if event.provider == 'kdg' %}
      <a target="_blank" href="http://kudago.com/{{ event.place.city }}/event/{{ event.slug }}/">provider link</a>
    {% endif %}
    {% if event.provider == 'ebr' %}
      <a target="_blank" href="https://eventbrite.com/e/{{ event.provider_id }}/">provider link</a>
    {% endif %}
    <br>
    <b>Rank {{ event.rank }}</b>&nbsp;<small>({{ event.format_rank }})</small>
  </div>
{% endif %}

<div class="row">
  <div class="u-full-width rating-container">
    {% with user_vote=rating|get_vote:user %}
      {% if user_vote %}
          <label class="caption" for="star-rating">{% trans 'Your vote:' %}</label>
          <div id="star-rating" data-rate-value="{{ user_vote }}" data-rate-readonly="true" data-event-id="{{ event.meta.id }}"></div>
          <label class="user-vote">{{ user_vote|floatformat:"1" }}</label>
      {% else %}
        <label class="caption" for="star-rating">{% trans 'Your vote:' %}</label>
        <div id="star-rating" data-event-id="{{ event.id }}"></div>
        <label class="user-vote vote-hover"></label>
      {% endif %}
    {% endwith %}
  </div>
</div>

<div class="row">
  <a href="#" data-event-id="{{ event.meta.id }}" class="button red u-full-width js-show-add-to-collection-widget with-left-rect-icon">
    <span class="icon-holder">
      <span class="spritesheet sprite-ico-light-add"></span>
    </span>
    <span class="text">{% trans 'Add to your journal' %}</span>
  </a>
</div>

<br>
<div class="row">
  <a href="#" data-event-id="{{ event.meta.id }}" class="button u-full-width js-show-subscribe-widget">
    <span class="text">{% trans 'Subscribe to similar events' %}</span>
  </a>
</div>
