{% load i18n humanize pytils_dt app_tags %}
<li class="card card-event card-event-small" data-event-id="{{ event.meta.id }}">
	<div class="card-holder">
    <a href="{% url 'event-detail' event.provider_id event.slug|default:'-' %}" class="card-image">
		  {% with image=event.preview_images|first %}
        {% if image %}
          <div class="card-img" style="background-image: url({{ image.image }})"></div>
        {% else %}
          {% with image=event.image %}
            <div class="card-img" style="background-image: url({{ image }})"></div>
          {% endwith %}
        {% endif %}
		  {% endwith %}
      {% if event.average_rate %}
        <div class="card-actions">
          <span class="card-star">{{ event.average_rate|default:0|floatformat:"0" }}&nbsp;<i class="spritesheet sprite-ico-star-greyborder"></i></span>
        </div>
      {% endif %}
		</a>
		<div class="card-section">
			<a href="{% url 'event-detail' event.provider_id event.slug|default:'-' %}{% if ui %}?ui={{ ui }}{% endif %}" class="title" rel="tooltip-long-text" title="{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|safe|capfirst }}">
				{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|safe|capfirst }}
			</a>
			<div class="caption place" rel="tooltip-long-text" title="{{ event.place.city }} {% if event.place.title %}&bull; {{ event.place.title|safe }}{% endif %}">
        {% if event.place.title %}{{ event.place.title_localized|locale:LANGUAGE_CODE|default:event.place.title|safe }}{% endif %}
			</div>
			<div class="caption date">
        {% now "Y" as current_year %}
        {% if coming_event %}
          {% trans 'Coming' %} &mdash;
        {% endif %}
        {% if start_date or end_date %}
          {% with start=start_date|default:bucket_date_key|str_to_date end=end_date|default:bucket_date_key|str_to_date %}
            {% actual_schedule event.dates start end %}
            {% if actual_schedule.start_date|date:"Y" == current_year %}
              {{ actual_schedule.start_date|date:"j E" }}
            {% else %}
              {{ actual_schedule.start_date|date:"j E Y" }}
            {% endif %}
            {% if actual_schedule.start_time %}<span class="schedule-end-time">, {{ actual_schedule.start_time }}</span>{% endif %}
          {% endwith %}
        {% else %}
          {% if bucket_date_key %}
            {% with actual_schedule=event.dates|get_schedule:bucket_date_key %}
              {% if actual_schedule.start_date|date:"Y" == current_year %}
                {{ actual_schedule.start_date|date:"j E" }}
              {% else %}
                {{ actual_schedule.start_date|date:"j E Y" }}
              {% endif %}
              {% if not coming_event %}
                {% if actual_schedule.start_time %}<span class="schedule-end-time">, {{ actual_schedule.start_time }}</span>{% endif %}
              {% endif %}
            {% endwith %}
          {% endif %}
        {% endif %}
			</div>
		</div>
	</div>
</li>
