{% load i18n humanize pytils_dt app_tags %}
<li class="card card-event {% if show_more and event_counter > 9 %}hide{% endif %}" data-event-id="{{ event.meta.id }}">
	<div class="card-holder">
    <a href="{% url 'event-detail' event.provider_id event.slug|default:'-' %}{% if ui %}?ui={{ ui }}{% endif %}" class="card-image">
		  {% with image=event.preview_images|first %}
        {% if image %}
          <div class="card-img" style="background-image: url({{ image.image }})"></div>
        {% else %}
          {% with image=event.image %}
            <div class="card-img" style="background-image: url({{ image }})"></div>
          {% endwith %}
        {% endif %}
		  {% endwith %}
			<div class="card-actions">
				<span class="card-star">{{ event.average_rate|default:0|floatformat:"0" }}&nbsp;<i class="spritesheet sprite-ico-small-star"></i></span>
			</div>
		</a>
		<div class="card-section">
			<a href="{% url 'event-detail' event.provider_id event.slug|default:'-' %}{% if ui %}?ui={{ ui }}{% endif %}" class="title" rel="tooltip-long-text" title="{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|safe|capfirst }}">
				{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|safe|capfirst }}
			</a>
			<div class="subtitle place" rel="tooltip-long-text" title="{{ event.place.city }} {% if event.place.title %}&bull; {{ event.place.title|safe }}{% endif %}">
        {{ event.place.city }}
        {% if DEBUG or user.is_staff %}({{ event.provider }})<b>Rank {{ event.rank }}</b> {% endif %}
        {% if event.place.title %}&bull; {{ event.place.title_localized|locale:LANGUAGE_CODE|default:event.place.title|safe }}{% endif %}
			</div>
			<div class="subtitle date">
        {% now "Y" as current_year %}
        {% if coming_event %}
          {% trans 'Coming' %} &mdash;
        {% endif %}
        {% if start_date or end_date %}
          {% with start=start_date|default:bucket_date_key|str_to_date end=end_date|default:bucket_date_key|str_to_date %}
            {% actual_schedule event.dates start end %}
            {% if actual_schedule.start_date|date:"Y" == current_year %}
              {{ actual_schedule.start_date|date:"j E" }}
            {% else %}
              {{ actual_schedule.start_date|date:"j E Y" }}
            {% endif %}
            {% if actual_schedule.start_time %}<span class="schedule-end-time">, {{ actual_schedule.start_time }}</span>{% endif %}
          {% endwith %}
        {% else %}
          {% if bucket_date_key %}
            {% with actual_schedule=event.dates|get_schedule:bucket_date_key %}
              {% if actual_schedule.start_date|date:"Y" == current_year %}
                {{ actual_schedule.start_date|date:"j E" }}
              {% else %}
                {{ actual_schedule.start_date|date:"j E Y" }}
              {% endif %}
              {% if not coming_event %}
                {% if actual_schedule.start_time %}<span class="schedule-end-time">, {{ actual_schedule.start_time }}</span>{% endif %}
              {% endif %}
            {% endwith %}
          {% endif %}
        {% endif %}
			</div>
		</div>
	</div>

	{% if show_remove_button %}
		<div class="card-remove-button js-remove-event">
			<span class="card-icon"><i class="spritesheet sprite-ico-colored-close"></i></span>
		</div>
	{% endif %}

	<a href="#" class="card-add-button js-add-collection hide-for-small" rel="tooltip" title="{% trans 'Add to journal' %}">
		<span class="card-icon"><i class="spritesheet sprite-ico-grey-ico-grey-add"></i></span>
	</a>

  {% if user.is_staff %}
	<a href="#" class="card-add-button js-add-category hide-for-small top" rel="tooltip" title="{% trans 'Add to category' %}">
    <span class="card-icon card-icon-add">&plus;</span>
	</a>
  {% endif %}
</li>
