{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags pymorphy_tags seo_tags %}

{% block og_type %}event{% endblock %}

<!-- TODO autogenerate title/description from model `locale` -->
{% block title %}{% with title=event.title_seo|locale:LANGUAGE_CODE %}{% if title %}{{ title }}{% else %}{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|capfirst }} {% trans 'in' %} {{ event.place.city|inflect:"пр" }}, {% trans 'event_meta_title_tags' %}{% endif %}{% endwith %}{% endblock %}

{% block og_title %}{% with title=event.title_seo|locale:LANGUAGE_CODE %}{% if title %}{{ title }}{% else %}{{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|capfirst }} {% trans 'in' %} {{ event.place.city|inflect:"пр" }}, {% trans 'event_meta_title_tags' %}{% endif %}{% endwith %}{% endblock %}

{% block og_image %}{{ event|get_og_image }}{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ request.path }}{% endblock %}

{% block og_description %}{{ event.description_localized|locale:LANGUAGE_CODE|default:event.description|striptags|truncatechars:255 }}{% endblock %}
{% block meta_description %}{{ event.description_localized|locale:LANGUAGE_CODE|default:event.description|striptags|truncatechars:255 }}{% endblock %}

{% block extrametadata %}
  <link rel="canonical" href="https://{{ request.get_host }}{% url 'event-detail' event.provider_id event.slug %}"/>
  {% if event.dates %}
    {% with event_date=event.dates|first %}
        <meta property="event:start_time" content="{{ event_date.start_date|date:'d/m/Y' }} {{ event_date.start_time }}">
        <meta property="event:end_time" content="{{ event_date.end_date|date:'d/m/Y' }} {{ event_date.end_time }}">
    {% endwith %}
  {% endif %}
{% endblock %}

{% block wrapper_class %}without-bg-line{% endblock %}

{% block content %}

{% include 'include/_subheader.html' with back_button_label_key='Back to search results' with_edit_event='True' %}

<div class="page-body ui container" id="event-detail-page" data-event-id="{{ event.id }}" itemscope itemtype="http://schema.org/Event">
  <div class="row event-details">
    <div class="col event-details-col">
      <h1 itemprop="name">
        {{ event.title_localized|locale:LANGUAGE_CODE|default:event.title|safe|capfirst }}
      </h1>

      <div class="row event-info">
        <!-- Place info -->
        <div class="six columns place-info">
          {% if event.place %}
            <p class="subtitle">{% trans 'Address' %}</p>
            <div class="caption place-title">
              {{ event.place.title_localized|locale:LANGUAGE_CODE|default:event.place.title|safe }} · {{ event.place.address_localized|locale:LANGUAGE_CODE|default:event.place.address|safe }}
              {% if event.place.city %}, {{ event.place.city }}{% endif %}
            </div>
            <a class="caption-link more-button" href="#">{% trans 'more' %}</a>
          {% else %}
            &nbsp;
          {% endif %}
        </div>

        <!-- Date info -->
        <div class="three columns date-info">
          <p class="subtitle">{% trans 'Dates' %}</p>
          {% if event.dates %}
            <div class="schedule-dropdown">
              <div class="md-select {% if event.schedules|length > 1 %}schedule-repeat{% endif %}">
                <label for="event-schedule-list">
                  <div type="button" itemprop="startDate" content="{{ actual_schedule.start_date|date:'c' }}">
                    {% now "Y" as current_year %}
                    {% actual_schedule event.dates bucket_date_key bucket_date_key %}
                    {% with event_year=actual_schedule.start_date|date:"Y" %}
                      <span data-t="{{ current_year }} | {{ event_year }}"></span>
                      {% if current_year == event_year %}
                        {{ actual_schedule.start_date|str_to_date|date:"j E"}}<br>
                      {% else %}
                        {{ actual_schedule.start_date|str_to_date|date:"j E `Y"}}<br>
                      {% endif %}
                    {% endwith %}
                    {{ actual_schedule.start_time }}{% if actual_schedule.end_time %}&ndash;{{ actual_schedule.end_time }}
                      {% if actual_schedule|duration %}<sup>+{{ actual_schedule|duration }}</sup>{% endif %}
                    {% endif %}
                  </div>
                </label>

                {% if event.dates|length > 1 %}
                  <div class="spritesheet sprite-ico-grey-unfold arrows-ico"></div>
                  <ul role="listbox" id="event-schedule-list" class="" aria-activedescendant="event_schedule" name="event-schedule-list">
                    {% now "Y" as current_year %}
                    {% for schedule in event.dates %}
                      <li role="option" id="event-schedule-list-{{ schedule.id }}" class="" tabindex="-1" aria-selected="true" itemprop="startDate" content="{{ schedule.start_date|date:'c' }}">
                        {% with event_year=schedule.start_date|date:"Y" %}
                          {% if current_year == event_year %}
                            {{ schedule.start_date|date:"j E" }}<br>
                            {{ schedule.start_time }}{% if schedule.end_time %}&ndash;{{ schedule.end_time }}
                              {% if schedule|duration %}<sup>+{{ schedule|duration }}</sup>{% endif %}
                            {% endif %}
                          {% else %}
                            {{ schedule.start_date|date:"j E `Y" }}<br>
                            {{ schedule.start_time }}{% if schedule.end_time %}&ndash;{{ schedule.end_time }}
                              {% if schedule|duration %}<sup>+{{ schedule|duration }}</sup>{% endif %}
                            {% endif %}
                          {% endif %}
                        {% endwith %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          {% endif %}
          {% if event.schedules %}
            {% with event_date=event.schedules|get_schedule:bucket_date_key %}
              <div class="tips time-to-event">{{ event_date.start_date|naturaltime }}</div>
            {% endwith %}
          {% endif %}
        </div>

        <!-- Price info -->
        <div class="three columns price-info" itemscope itemtype="http://schema.org/Offer">
          <p class="subtitle">{% trans 'Ticket price' %}</p>
          {% if event.ticket_price %}
            <p class="caption" itemprop="price" content="{{ event.ticket_price|default:'0' }}{{ event.currency|default:'' }}">
              {{ event.ticket_price|default:'' }}{{ event.currency|default:'' }}
            </p>
            {% if event.ticket_url %}
              <a itemprop="url" class="caption-link" target="_blank" href="{{ event.ticket_url }}">{% trans 'Buy ticket' %}</a>
            {% endif %}
          {% else %}
            {% if event.ticket_price == 0 %}
              <p class="caption">{% trans 'Free' %}</p>
            {% else %}
              <p class="caption">{% trans 'Price is not specified' %}</p>
            {% endif %}
            {% if event.ticket_url %}
              <a itemprop="url" class="caption-link" target="_blank" href="{{ event.ticket_url }}">{% trans 'Buy ticket' %}</a>
            {% endif %}
          {% endif %}
        </div>
      </div>

      {% if event.vk_url or event.fb_url %}
        <div class="row social-networks-links">
          <span class="caption">{% trans 'In a social networks' %}:</span>
          {%if event.fb_url %}
            <span><a target="_blank" href="{{ event.fb_url }}" class="caption-link">{% trans 'Facebook' %}</a></span>
          {% endif %}
          {%if event.vk_url %}
            <span><a target="_blank" href="{{ event.vk_url }}" class="caption-link">{% trans 'Vkontakte' %}</a></span>
          {% endif %}
        </div>
      {% endif %}

      <div class="row event-images">
        <h2>{% trans 'Photo' %}</h2>
        <div id="event-slider" class="slider fade">
          {% if event.preview_images %}
            {% for eventimage in event.preview_images %}
              <div class="event-slide invisible">
                <img itemprop="image" src="{{ eventimage.retina }}" alt="{{ event.title }} photo">
              </div>
            {% endfor %}
          {% else %}
            {% for eventimage in event.images %}
              <div class="event-slide invisible">
                <img itemprop="image" src="{{ eventimage.image }}" alt="{{ event.title }} photo">
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>

      <div class="row event-description">
        <p class="subtitle">{% trans 'Description' %}</p>
        <div class="body read-more-content" itemprop="description">
          {{ event.description_localized|locale:LANGUAGE_CODE|default:event.description|safe|linebreaks }}
        </div>
        <a class="read-more body-link hide" href="#" data-content-selector=".read-more-content">{% trans 'Read more' %}</a>
        {% if event.source_url %}
          <br>
          <a class="caption-link kdg" target="_blank" href="{{ event.source_url }}"> {% trans 'Source' %}</a>
        {% endif %}
      </div>


      <!--<div class="row event-actions">
        <a class="button white-with-grey-border h32" href="#">{% trans 'I will go' %}</a>
        <a class="button white-with-grey-border h32" href="#">{% trans 'Invite a friend' %}</a>
      </div>-->
    </div>
    <div class="col event-aside-col sticky-item hide-for-small">
      <div id="event-aside">{% include 'events/_event_detail_aside.html' %}</div>
      <div id="add-to-collection-widget-holder">
      </div>
    </div>
  </div>

  <div class="container event-map-container invisible sticky-stop-item" itemprop="location" itemscope itemtype="http://schema.org/Place">
    <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates"
      id="event-map"
      data-title="{{ event.place.title|safe }}"
      data-lat="{{ event.place.lat|stringformat:'.6f' }}"
      data-lng="{{ event.place.lng|stringformat:'.6f' }}">
        <meta itemprop="latitude" content="{{ event.place.lat|stringformat:'.6f' }}" />
        <meta itemprop="longitude" content="{{ event.place.lng|stringformat:'.6f' }}" />
    </div>
    <div class="four columns event-place-card">
      <p class="subtitle">{% trans 'Address' %}</p>

      {% if event.place %}
        <p class="body place-title" itemprop="name">
          {% if event.place and event.place.provider_id and event.place.slug %}
            <a class="body-link place-website"
              title="{{ event.place.title_localized|locale:LANGUAGE_CODE|default:event.place.title|safe }}"
              href="{% url 'place-detail' event.place.provider_id event.place.slug %}">
                {{ event.place.title_localized|locale:LANGUAGE_CODE|default:event.place.title|safe }}
            </a>
          {% else %}
            {{ event.place.title_localized|locale:LANGUAGE_CODE|default:event.place.title|safe }}
          {% endif %}
        </p>

        <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
          <p class="caption place-address" itemprop="streetAddress">
            {{ event.place.address_localized|locale:LANGUAGE_CODE|default:event.place.address|safe }}
          </p>
          <meta itemprop="addressLocality" content="{{ event.place.city }}" />
          {% if event.place.phone %}
            <p class="body place-phone" itemprop="telephone">{{ event.place.phone }}</p>
          {% endif %}
          {% if event.place.email %}
            <a class="body-link place-email" href="mailto:{{ event.place.email }}">{{ event.place.email }}</a>
          {% endif %}
        </div>
      {% endif %}

    </div>
  </div>
  <div class="clearfix pseudo-map-container {% if not collections.hits.total and not events.hits.total %}is-last-block{% endif %}"></div>

  {% if similar_place %}
  <div class="container similar-events-list">
    <div class="row">
      <div class="ten columns">
        <h2>{% trans 'Other events in this place' %}</h2>
      </div>
    </div>
    <div class="row event-in-collections-list">
      <div class="large-block-grid-3">
        {% include event_card_template with events=similar_place ui='place_other_events' %}
      </div>
    </div>
  </div>
  {% endif %}

  {% if collections.hits.total %}
  <div class="container event-in-collections-list hide-for-small">
    <div class="row">
      <div class="ten columns">
        <h3>{% trans 'Event in journals' %}</h3>
      </div>
      <div class="two columns">
        <a href="{% url 'collection-list' %}" class="u-pull-right">{% trans 'All journals' %}</a>
      </div>
    </div>
    <div class="row event-in-collections-list">
      <ul class="large-block-grid-4">
        {% include collection_card_template %}
      </ul>
    </div>
  </div>
  {% endif %}

  {% if similar_events %}
  <div class="container similar-events-list">
    <div class="row">
      <div class="ten columns">
        <h3>{% trans 'Similar events in the world' %}</h3>
      </div>
    </div>
    <div class="row event-in-collections-list">
      <div class="large-block-grid-3">
        {% include event_card_template %}
      </div>
    </div>
  </div>
  {% endif %}

</div>
{% endblock %}
