{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags %}

{% block title %}{% trans 'mainpage_description' %} {% trans 'Page:'%} {{ events.number }}{% endblock %}
{% block og_title %}{% trans 'mainpage_description' %} {% trans 'Page:'%} {{ events.number }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ event.get_absolute_url }}{% endblock %}
{% block og_image %}https://{{ request.get_host }}{{ event.get_preview }}{% endblock %}

{% block og_description %}{% trans 'mainpage_description' %}{% endblock %}
{% block meta_description %}{% trans 'mainpage_description' %} {% trans 'Page:'%} {{ events.number }}{% endblock %}

{% block content %}

{% include 'include/_subheader.html' %}

<div class="page-body ui container" id="search-page-paginated">
  <!-- More events -->

  <div class="row title-row events-title">
    <div class="col">
      <h2>{% trans 'More events' %}</h2>
    </div>

    <div class="col add-event hide-for-small">
      <a href="{% url 'event-add' %}" class="u-pull-right">{% trans 'Create event' %}</a>
    </div>
  </div>

  <ul class="row events-list list-row small-block-grid-1 medium-block-grid-3">
    {% now "Y-m-d\TH:i:s" as current_date %}
    {% with date=start_date|default:current_date %}
      {% include event_card_template with bucket_date_key=date|str_to_date %}
    {% endwith %}
  </ul>

</div>
{% endblock %}
