{% extends 'events/event_create.html' %}
{% load i18n widget_tweaks %}

{% block eventtitle %}
  <script>
    window.EVENT_ID = {{ event.id }};
  </script>
  <div class="row form-title">
    <h3>{% trans 'Edit event' %}</h3>
  </div>
{% endblock %}
