{% extends 'base.html' %}
{% load i18n widget_tweaks %}

{% block header %}
{% endblock %}

{% block content %}
<div class="page-body ui container pseudo-modal-page" id="event-create-page">
  <div class="head">
    <a href="/" class="logo spritesheet sprite-logo-colored-ww"></a>

    <div class="close-button">
      <i class="spritesheet sprite-ico-grey-close"></i>
    </div>
  </div>

  <div class="body-container">
    <div class="content">
      {% block eventtitle %}
        <div class="row form-title">
          <h3>{% trans 'New event' %}</h3>
        </div>
      {% endblock %}

      <div class="row form">
        {% csrf_token %}
        <div id="event-create-form"></div>
      </div>

    </div>
    <div class="bottom-controls {% if event.id %}with-delete{% endif %}">
      <div class="col">
        {% if event.id %}
          <button class="button white-with-blue-border save-button" form="create-event-form">{% trans 'Save' %}</button>
          <button class="button white-with-red-border delete-button">{% trans 'Delete' %}</button>
        {% else %}
          <button class="button white-with-blue-border" form="create-event-form">{% trans 'Create' %}</button>
        {% endif %}
      </div>
      <div class="col field-errors hide">
        <span class="tips field-errors-title">{% trans 'Check the fields:' %} </span>
        <span class="error-text field-errors-buttons"></span>
      </div>
      <div class="col delete-confirm hide">
        <button class="button white-with-red-border confirm-delete-button">{% trans 'Confirm Remove' %}</button>
        <span class="caption">{% trans 'Are you sure you want to delete the event?' %}<br><a class="caption-link undo-delete-button" href="#">{% trans 'Undo' %}</a> {% trans 'this action will be impossible.' %}</span>
      </div>
    </div>
  </div>

</div>

{% endblock %}

{% block footer %}
{% endblock %}
