{% load i18n humanize pytils_dt %}

{% for event in events %}
  {% include 'events/card_event.html' with event=event %}
{% endfor %}

{% if paginated %}
  {% if events.has_other_pages %}
    <li class="clearfix"></li>
    <li class="row pagination clearfix">
      <div class="event-pagination body">
        {% if events.has_previous %}
          {% if events.previous_page_number == '1' %}
          <a href="{{ search_params }}&page={{ events.previous_page_number }}" class="endless_page_link prev" rel="prev nofollow">
            <i class="spritesheet sprite-ico-normal-prev"></i>
          </a>
          {% else %}
            <a href="{% if search_params != '?' %}{{ search_params }}{% else %}/{% endif %}" class="endless_page_link prev" rel="prev nofollow">
              <i class="spritesheet sprite-ico-normal-prev"></i>
            </a>
          {% endif %}
        {% endif %}

        {% for page in page_range %}
          {% if not page %}
            <span class="endless_page_link"><strong>...</strong></span>
          {% else %}
            {% if page == events.number %}
              <span class="endless_page_current"><strong>{{ page }}</strong></span>
            {% else %}
              {% if page == 1 %}
                <a href="{% if search_params != '?' %}{{ search_params }}{% else %}/{% endif %}" rel="page" class="endless_page_link">{{ page }}</a>
              {% else %}
                <a href="{{ search_params }}&page={{ page }}" rel="page" class="endless_page_link">{{ page }}</a>
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if events.has_next %}
          <a href="{{ search_params }}&page={{ events.next_page_number }}" class="endless_page_link next" rel="next nofollow">
            <i class="spritesheet sprite-ico-normal-next"></i>
          </a>
        {% endif %}
      </div>
    </li>
  {% endif %}
{% endif %}
