{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags %}

{% block extrametadata %}
  {% with event_date=event.schedules|default:''|last %}
    <meta property="event:start_time" content="{{ event_date.start_date|date:'d/m/Y h:i' }}">
  {% endwith %}
{% endblock %}

{% block wrapper_class %}without-bg-line{% endblock %}

{% block content %}

{% include 'include/_subheader.html' with back_button_label_key='Back to search results' with_edit_event='True' %}

<div class="page-body ui container" id="genre-oracle" itemscope itemtype="http://schema.org/Event">
  <form action="" method="GET">
    <div>
      {% csrf_token %}
      <img style="display:inline; height:10%;width:10%;" src="https://kailas.in.ua/wp-content/uploads/sites/3/2016/07/KHrustalnyi%CC%86-shar_Hrustalniy_shar-1.jpg"/>
      <p style="display:inline">{% if genre %} Тип события: {{ genre }} {% endif %}</p>
      <p>Введите текст события</p>
    </div>
    <div>
      <textarea name="text" style="min-height:200px;min-width:550px;">{% if event_text %}{{ event_text }}{% endif %}</textarea>
    </div>
    <div>
      <button id="sendtext" class="button" type="submit">{% trans 'Send' %}</button>
    </div>
  </form>

</div>
{% endblock %}
