{% load i18n humanize pytils_dt hitcount_tags %}

<li class="card card-collection">
  <a href="{% url 'place-detail' place.provider_id|default:0 place.slug|default:'-' %}">
    <div class="collection-previews">
      {% for event in object.events %}
        <div class="pic">
          {% if event.image %}
            <img src="{{ event.image }}">
          {% endif %}
        </div>
      {% empty %}
        <div class="pic"></div>
        <div class="pic"></div>
        <div class="pic"></div>
      {% endfor %}
    </div>

    <div class="title subtitle">
      <span class="collection-card-name">{{ place.title }}</span>
    </div>
  </a>

  <div data-place-id="{{ place.id }}" class="card-favorite tooltip-hit {% if user.id in place.subscribers %} subscribed {% else %} js-subscribe-place{% endif %}">
    <i class="spritesheet sprite-ico-normal-bookmark-off not-subscribed-icon"></i>
    <i class="spritesheet sprite-ico-colored-bookmark-on subscribed-icon"></i>
    <span class="tooltip">{% trans 'Subscribe' %}</span>
  </div>

  <div class="card-footer caption">
    {# get_hit_count for place as hit_count #}
    <span>{% blocktrans count counter=hit_count|default:0 %}{{ counter }} view{% plural %}{{ counter }} views{% endblocktrans %}</span>
    <span class="bullet">&#8226;</span>
    <span class="subscribers-counter-holder">
      {% with events_count=object.doc_count|default:0 %}
        <span class="val">{{ events_count }}</span>
        {% blocktrans count counter=events_count %}event{% plural %} events{% endblocktrans %}
      {% endwith %}
    </span>
  </div>
</li>
