{% extends 'base.html' %}
{% load i18n humanize %}

{% block title %}{{ place.title }}{% endblock %}
{% block og_title %}{{ place.title }}{% endblock %}
{% block og_type %}article{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ place.get_absolute_url }}{% endblock %}
{% block og_image %}https://{{ request.get_host }}{{ place.get_preview }}{% endblock %}

{% block og_description %}{{ place.description }}{% endblock %}
{% block meta_description %}{{ place.description }}{% endblock %}

{% block content %}

{% include 'include/_subheader.html' with back_button_label_key='Back' %}

<div class="page-body ui container" id="collection-list-page">

  <div class="row">
  </div>

  {% if city %}
    <div class="row title">
      <div class="col">
        <h2>{{ city.name|default:'' }} ({{ city.country.name }})</h2>
      </div>
    </div>
  {% endif %}

  <div class="row title">
    <div class="col">
      <h3>{% trans 'Popular places' %}</h3>
    </div>
  </div>

  <div class="row collections-list">
    <ul class="">
      {% for object in places %}
        {% with event=object.events|first %}
          {% with place=event.place|default:object %}
            {% include place_card_template with place=place %}
          {% endwith %}
        {% endwith %}
      {% endfor %}
    </ul>
  </div>

  <div id="collection-list-page-bottom-popup">
    <a href="#" class="close-button">
      <i class="spritesheet sprite-ico-colored-close"></i>
    </a>

    <div class="container">
      <div class="col text-col">
        <div class="subtitle">{% trans 'place_headline_first' %}</div>
        <div class="subtitle">{% trans 'place_headline_second' %}</div>
        <div class="caption">{% trans 'place_headline_third' %}</div>
      </div>
    </div>
  </div>

</div>

{% endblock %}
