{% extends 'base.html' %}
{% load i18n humanize pytils_dt app_tags %}

{% block title %}{{ place.title }} {% trans 'place_meta_title_tags' %}{% endblock %}
{% block og_title %}{{ place.title }}{% trans 'place_meta_title_tags' %}{% endblock %}
{% block og_type %}place{% endblock %}
{% block og_url %}https://{{ request.get_host }}{{ request.path }}{% endblock %}
{% block og_image %}https://whatwhere.world/static/images/placeholder.png{% endblock %}

{% block og_description %}{{ place.description|striptags }}{% endblock %}
{% block meta_description %}{{ place.description|striptags }}{% endblock %}

{% block extrametadata %}
  <link rel="canonical" href="https://{{ request.get_host }}{% url 'place-detail' place.provider_id place.slug %}"/>
  <meta property="place:location:latitude" content="{{ place.lat|stringformat:'.6f' }}">
  <meta property="place:location:longitude" content="{{ place.lng|stringformat:'.6f' }}">
{% endblock %}

{% block content %}

<!-- subheader -->

{% include 'include/_subheader.html' with back_button_label_key='Back' %}

<div class="page-body ui container" id="place-detail-page">

  <div class="collection-detail row">
    <div class="collection-detail-left-col col">
      <h1>{{ place.title }}</h1>
      <div class="place-contacts">
        <div class="col left">
          {% if place.address %}<div class="body">{% trans 'Address' %}: {{ place.address }}</div> {% endif %}
          {% if place.phone %}<div class="body">{{ place.phone }}</div>{% endif %}
          {% if place.email %}<div><a class="body-link" href="mailto:{{ place.email }}">{{ place.email }}</a></div>{% endif %}
        </div>
        <div class="col right">
          {% if place.provider == 'kdg' %}
            <div>
              <a target="_blank" class="body-link" href="{{ place.website|splits|last }}" target="_blank">{{ place.website|splits|last|get_domain }}</a>
            </div>
          {% else %}
            {% if place.website %}
              <div>
                <a rel="nofollow" class="body-link" href="{% url 'goto-redirect' %}?url={{ place.website|splits|last }}" target="_blank">{{ place.website|splits|last|get_domain }}</a>
              </div>
            {% endif %}
          {% endif %}
          {% if place.provider == 'fb' %}
            <div>
              <a _target="blank" rel="nofollow" class="body-link fb-link" href="https://fb.com/{{ place.provider_id }}">{% trans 'Facebook' %}</a>
            </div>
          {% endif %}
          {% if place.provider == 'vk' %}
            <!-- TODO add vk link -->
            <div>
              <a rel="nofollow" class="body-link vk-link" href="#">{% trans 'Vkontakte' %}</a>
            </div>
          {% endif %}
        </div>
        <div class="clearfix"></div>
      </div>

      {% if place.description %}
        <div class="collection-description-holder">
          <h2>{% trans 'Description' %}</h2>
          <div class="collection-description body read-more-content">
            {{ place.description|linebreaksbr }}
          </div>
          <a href="#" class="read-more caption-link hide" data-content-selector=".collection-description">{% trans 'Read more' %}</a>
        </div>
      {% endif %}

      <!-- Place details -->

      <div class="row" id="event-detail-page">
      <!-- TODO common tempate for place card event_detail.html -->
        <div class="container event-map-container invisible">
          <div
                  id="event-map"
                  data-title="{{ place.title }}"
                  data-lat="{{ place.lat|stringformat:'.6f' }}"
                  data-lng="{{ place.lng|stringformat:'.6f' }}">
          </div>
          <div class="four columns event-place-card">
            <p class="subtitle">{% trans 'Place' %}</p>
            <p class="body place-title">
              {% if place.provider == 'kdg' %}
                <div>
                  <a target="_blank" class="body-link" href="{{ place.website|splits|last }}" target="_blank">{{ place.website|splits|last|get_domain }}</a>
                </div>
              {% else %}
                {% if place.website %}
                  <div>
                    <a rel="nofollow" class="body-link" href="{% url 'goto-redirect' %}?url={{ place.website|splits|last }}" target="_blank">{{ place.website|splits|last|get_domain }}</a>
                  </div>
                {% endif %}
              {% endif %}
            </p>
            {% if place.address %}
              <p class="caption place-address">{% trans 'Address' %}: {{ place.address|default:'' }}</p>
            {% endif %}
            {% if place.phone %}
              <p class="body place-phone">{{ place.phone }}</p>
            {% endif %}
            {% if place.email %}
              <a class="body-link place-email" href="mailto:{{ place.email }}">{{ place.email }}</a>
            {% endif %}
          </div>
        </div>
        <div class="clearfix pseudo-map-container {% if not collections.count and not events.hits.total %}is-last-block{% endif %}"></div>
      </div>
    </div>

    <div class="collection-detail-right-col col hide-for-small">
      <a href="#" class="calendar-of-event-button body-link">{% trans 'Calendar of events' %}</a>
    </div>
  </div>

  <!-- Events list -->

  <div class="events-in-collection">

    <!-- in collections -->
    {% if collections %}
      <div class="row hide-for-small">
        <div class="ten columns">
          <h3>{% trans 'In journals' %}</h3>
        </div>
      </div>
      <div class="row posters-list list-row inline-list hide-for-small">
        <div class="holder {% if collections|length < 4 %}no-scroll{% endif %}">
          <ul class="large-block-grid-4">
            {% include collection_card_template with collections=collections %}
          </ul>
        </div>
      </div>
    {% endif %}

    <div class="clearfix"></div>

    <!-- Events list -->
    {% if events_count %}
      <div class="row">
        <h3>{% trans 'Afisha' %}</h3>
      </div>
      <div class="events-buckets-initial">
        {% for bucket in event_buckets %}
          {% if bucket.doc_count %}
            <div class="events-list {% if bucket.key|is_past_bucket %}past-events hide{% endif%}">
              <div class="row">
                <a href="#{{ bucket.key|date:'m' }}" class="date-col subtitle" data-month="{{ bucket.key|date:'m' }}">{{ bucket.key|date:'F Y'|lower }}</a>
              </div>
              <div class="events-col">
                <ul class="large-block-grid-3">
                  {% include event_card_template with events=bucket.events bucket_date_key=bucket.key %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    <!-- TODO `show_past` now is false -->
    {% if past_event_buckets|length and show_past %}
      <div class="clearfix"></div>

      <!-- List -->
      <h3>{% trans 'Past events' %}</h3>
      <div class="past-events-buckets-initial">
        {% for bucket in past_event_buckets %}
          {% if bucket.doc_count %}
            <div class="row events-list">
              <a href="#{{ bucket.key|date:'m' }}" class="date-col subtitle" data-month="{{ bucket.key|date:'m' }}">{{ bucket.key|date:'F Y'|lower }}</a>
              <div class="events-col">
                <ul class="large-block-grid-3">
                  {% include event_card_template with events=bucket.events bucket_date_key=bucket.key %}
                </ul>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

  </div>

</div>
{% endblock %}
